﻿@model FlcalPriceRD.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<link href="../../Content/jHtmlArea.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="../../Scripts/jHtmlArea-0.7.5.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#test").htmlarea();
    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Product</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryID)
            @Html.ValidationMessageFor(model => model.CategoryID)
            @*@Html.DropDownListFor(model=>model.CategoryID, new SelectList(ViewBag.Coll, "ID", "Name", 7), new {@style= "width:200px"})*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price) 
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price3)
            @Html.ValidationMessageFor(model => model.Price3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price5)
            @Html.ValidationMessageFor(model => model.Price5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price10)
            @Html.ValidationMessageFor(model => model.Price10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sku)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sku)
            @Html.ValidationMessageFor(model => model.Sku)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemDescription, new { @id = "test", @style = "width:500px; height:200px" })
            @Html.ValidationMessageFor(model => model.ItemDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAvailable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAvailable)
            @Html.ValidationMessageFor(model => model.IsAvailable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImgName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImgName)
            @Html.ValidationMessageFor(model => model.ImgName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Meta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Meta)
            @Html.ValidationMessageFor(model => model.Meta)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
         <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
