﻿@model IEnumerable<FlcalPriceRD.Product>
@helper Truncate(string input, int length)
    {
        if (input.Length <= length)
        {
    @input
        }
        else
        {
    @input.Substring(0, length)<text>...</text>
        }
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style type="text/css">
        /* Tables */
        table
        {
            border: 1px solid #000;
            border-collapse: collapse;
            color: #666666;
            min-width: 500px;
            width: 100%;
        }
        
        tr
        {
            border: 1px solid #000;
            line-height: 25px;
        }
        
        th
        {
            background-color: #9b9993;
            color: #000;
            font-size: 13px;
            text-align: left;
        }
        
        th, td
        {
            padding-left: 5px;
        }
        
        tr:hover
        {
            background-color: #fff;
        }
        a:link, a:visited
        {
            color: #F6855E;
            text-decoration: none;
            font-weight: bold;
        }
        
        a:hover
        {
            color: #333333;
            text-decoration: none;
            font-weight: bold;
        }
        
        a:active
        {
            color: #006633;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @* <table>
        <tr>
            <th>
                Category
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Sku
            </th>
            <th>
                IsAvailable
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Truncate(item.Name, 150)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>*@
    @{
        var list = Model.Take(50);
        var grid = new WebGrid(source: Model, rowsPerPage: 20, canPage: true, canSort: true);
        var pager = grid.Pager().ToString();
        var newpager = System.Text.RegularExpressions.Regex.Replace(pager, "(\\d+) ", "<span class='selected'>$1</span>");
    }
    @grid.GetHtml(columns: grid.Columns(
        grid.Column("Sku", format: @<text> @Html.ActionLink((string)item.Sku, "Edit", new {id = item.ID})</text>),
        grid.Column("Name"),
        grid.Column("Price", format: @<text>@item.Price.ToString("C")</text>),
        grid.Column("IsAvailable", format: @<text>@item.IsAvailable</text>),
        grid.Column("Delete", format: @<text><a href="@Url.Action("DeleteConfirmed", "EditProduct", new { id = item.id })" onclick="javascript:return ConfirmDelete();"><img
            src="../../cssimage/delete.png" alt="" style="border: none;" /></a></text>)
    ))
    <script type="text/javascript">
        function ConfirmDelete() {
            return confirm("Are you sure you want to delete this product?");
        }
    </script>
</body>
</html>
