﻿@{
    ViewBag.Title = "Index";
}


<link href="../../Content/help.css" rel="stylesheet" type="text/css" />
<div class="help_body">
    @Html.Partial("_HelpMenu")
    <div class="HelpNav helpinfo">
        <div class="helpinfosingle" id="117">
        <div class="helpinfotxt"><b>Generally Policy</b>   <p>These are petsmartpm.com’s Standard Return Policies applicable only to products purchased by you directly from the petsmartpm.com website.   </p><p>All products can be requested for Return Merchandise Authorization within warranty of return. <a style="COLOR: #0000ff; TEXT-DECORATION: underline" href="http://www.petsmartpm.com/helptype.html?ParentID=&TypeID=10">Click here</a> to browse product warranty.   </p><p>All returns must require a Return Merchandise Authorization. <a style="COLOR: #0000ff; TEXT-DECORATION: underline" href="http://my.petsmartpm.com/rmarequest.html">Click here </a>to request RMA and get Authorization.   </p><p><b>Products that are not eligible for return and will be sent back to you at your cost and expense if received by us:</b>   </p><p>Any product not purchased from petsmartpm.com   </p><p>Any product without a valid, readable serial number, including but not limited to products with missing, damaged, altered, or otherwise unreadable serial number   </p><p>Any product that is returned without all original packaging and accessories, including the retail box, manuals, cables, and all other items originally included with the product   </p><p>Any product from which the posted code has been removed from its packaging   </p><p>Any product that exhibits physical damage   </p><p>Any product for which you have submitted a mail-in rebate   </p><p><b>The RMA Process &amp; Three Easy Steps:</b>   </p><p>1. Get RMA Authorization after you submit a RMA request by visiting RMA request in My Account.   </p><p>RMA request should include the below information: Order ID, SKU, the reason of sending back and post images, choose replacement or refund money and other your related concern.   </p><p>2. Ship the return goods after you get the RMA authorization.   </p><p>Once you ship return goods, please note the return item must be with original packing, accessories and shipping address from petsmartpm.com customer service center together with RMA authorization.<br />Notes: please offer tracking number for return shipment. petsmartpm.com won’t take any responsibility for any missing return shipment.   </p><p>3. Get the replacement or Refund.   </p><p>petsmartpm will arrange for resend or refund upon receiving your return package within 1-3 business days.   </p><p></p></div>
        </div>
    </div>
</div>