﻿/*notice*/
.topNotice {position: relative;width:978px;border: 1px solid #eee;border-top:none;background: #FFFDDD;color: #CF7F00;overflow: hidden;margin:0 auto;}
.topNotice p{padding:5px;width:920px;margin:0;}
.topNotice .close {position: absolute;right: 10px;top: 10px;display: block;width: 9px;height: 9px;background: url(../cssimage/x.gif) no-repeat;overflow: hidden;}

/*layout*/
#container{width:980px;}
.lmian{width:220px;}
.rmain{width:750px;}
/*layout*/
/*topmenu*/
#topmenu{width:980px;height:31px;background:url(../cssimage/common/topmenu_bg.jpg) repeat-x;position:relative; z-index:1002;}
ul.topmenu_l li span, ul.topmenu_r li span,ul.topmenu_l li.home,ul.topmenu_l li.language,ul.topmenu_l li.currency,ul.topmenu_r li.account,ul.topmenu_r li.help,ul.topmenu_r li.livechat{background:url(../cssimage/common/ico.gif) no-repeat;}
ul.topmenu_l{width:370px; position:relative; top:3px;}
ul.topmenu_r{width:610px; position:relative; top:3px;}
ul.topmenu_l li,ul.topmenu_r li{height:28px;line-height:26px;text-align:left; margin-right:3px; position:relative}
ul.topmenu_l li span,ul.topmenu_r li span{ position:absolute; width:7px; height:4px; top:11px; right:2px; background-position:-11px -415px;}
ul.topmenu_l li a,ul.topmenu_r li a,ul.topmenu_l li a:hover,ul.topmenu_r li a:hover{ text-decoration:none; display:block;}
ul.topmenu_l li.home{width:38px;background-position:10px 0px;color:#ff5a00;padding:0 0 0 32px;}
ul.topmenu_l li.language{width:80px; background-position:-2px -27px;text-indent:24px;}
ul.topmenu_l li.currency {width:118px; background-position:-4px -53px;text-indent:19px;}
ul.topmenu_r li.account{width:100px; background-position:-5px -78px;height:26px; text-indent:20px;}
ul.topmenu_r li.help{width:30px; background-position:0px -105px;padding:0 0 0 25px;}
ul.topmenu_r li.help a{cursor:help}
ul.topmenu_r li.livechat{width:61px; background-position:0px -130px;padding:0 0 0 25px;}
ul.topmenu_r li.mr10{ margin-right:10px;}
ul.topmenu_r li a:hover{text-decoration:none}
ul.topmenu_r li a.username{color:#133e79}
ul.topmenu_r li.siginin{width:130px; height:28px; padding-left:6px;}
ul.topmenu_l li.currency em{color:#ff5a00;}
.mr5{margin-right:5px;}
ul.topmenu_l li.line,ul.topmenu_r li.line{width:1px;height:12px;background:#ccc;overflow:hidden;margin-top:8px;display:block; padding:0;}

ul.topmenu_l li.currency a.active,ul.topmenu_l li.language a.active,ul.topmenu_r li.account a.active{border:#ddd solid 1px; border-bottom:none;line-height:24px; height:27px;background:#FFF url(../cssimage/common/ico.gif) 0 0 no-repeat;}
ul.topmenu_l li.currency a.active{width:116px;background-position:-5px -54px;text-indent:18px;}
ul.topmenu_l li.language a.active{width:78px; background-position:-3px -28px;text-indent:23px;}
ul.topmenu_r li.account a.active{background-position:-6px -79px; width:100px;text-indent:19px;}
ul.topmenu_r li.useractive{background:url(../cssimage/common/sign_bg980.jpg) 0 0 no-repeat;; line-height:26px; width:130px; padding-left:6px; height:28px;}
ul.topmenu_r li.useractive a{line-height:26px;}
div.account_menu,div.currency_menu,div.language_menu{position:absolute; padding:10px; background:#fff; border:#ddd solid 1px; border-top:none; z-index:10; left:0; top:28px; height:auto; width:auto;}
div.currency_menu{background:#fff url(../cssimage/common/currency_bg.jpg) 8px 10px no-repeat;}
div.language_menu{background:#fff url(../cssimage/common/language_bg.jpg) 8px 14px no-repeat; width:200px; height:110px;}
.siginin_menu{ width:394px; height:auto;position:absolute; padding:10px 15px; background:#fff; display:none; border:#ddd solid 1px; border-top:none; z-index:10; left:0; top:28px;}

.siginin_menu .siginin_menu_l,.siginin_menu .siginin_menu_r{width:170px;height:140px;float:left}
.siginin_menu .siginin_menu_l{border-right:#ddd solid 1px;line-height:20px;}
.siginin_menu .siginin_menu_r{margin-left:12px;width:210px;display:inline;line-height:18px;}
.siginin_menu .siginin_menu_l h1,.sigin_in .siginin_menu_r h1{font-size:13px;color:#c20000;margin:0;padding:0;}
.siginin_menu .siginin_menu_l dl{margin:0;padding:0;}
.siginin_menu .siginin_menu_l dl dt,.sigin_in .siginin_menu_l dl dd{height:18px;}
.siginin_menu .siginin_menu_l dl dd{margin-bottom:5px;}
.siginin_menu .siginin_menu_l dl dd .txt{height:18px;width:140px;border:#ddd solid 1px;}
a.Create_an_Account{width:63px; height:23px; display:block; background:url(../cssimage/common/common.png) 0 -37px no-repeat; line-height:60px; overflow:hidden; margin-top:5px;}
.siginin_menu_l .btn_sign{width:57px; height:23px; display:block; background:url(../cssimage/common/common.png) 0 -61px no-repeat; border:0;}

ul.topmenu_l li div.currency_menu a,ul.topmenu_r li div.account_menu a{display:block; height:18px; font-size:11px; line-height:18px; width:135px;color:#666; text-indent:25px;}
ul.topmenu_r li div.account_menu a{ background:url(../cssimage/common/footer_ico.gif) 8px 6px no-repeat; text-indent:18px;width:165px;}
ul.topmenu_l li div.currency_menu a:hover,ul.topmenu_r li div.account_menu a:hover{color:#000; text-decoration:underline}
ul.topmenu_l li div.language_menu a{display:block; height:21px; font-size:11px; line-height:21px; float:left; width:95px;color:#666; margin-bottom:1px; text-indent:25px;}
/*logo and search*/
.headerin{width:980px; position:relative;z-index:1000;}
.logo{width:220px;height:60px;overflow:hidden;line-height:150px;}
.logo a{display:block;width:220px;height:60px;}

.search_warp{width:748px;height:58px;border:#f2f2f2 solid 1px;background:#f9f9f9}
.search_warp .search_main{width:540px;padding:6px; position:relative;}
.search_txt,.select_se{margin-right:6px;border:#ccc solid 1px;}
.search_txt{width:261px;height:22px;line-height:22px;color:#ccc;padding:0 0 0 5px;}
.select_se{width:180px;height:24px;}
.btn_search{width:60px;height:24px;background:url(../cssimage/btn/all_btn.png) 0 0 no-repeat;border:0; cursor:pointer}
.search_main .hotkeyword{width:510px;height:30px;line-height:30px; overflow:hidden}
.hotkeyword h6{color:#666;display:inline-block;font-weight:bold;float:left;}
.hotkeyword a{padding:0 5px;text-decoration:underline;display:inline-block;font-size:11px;color:#000;float:left}
.homecart{width:160px;height:35px;background:url(../cssimage/common/ico.gif) 10px -372px no-repeat;color:#09318b;line-height:40px;padding-left:35px;text-align:left}
.homecart a{color:#09318b;text-decoration:underline}
/*模拟select*/
.selectPanelWarp{float:left; width:180px; border:#ddd solid 1px; height:22px; margin-right:6px;}
.selectPanel {padding-left:5px; width:175px; background: right top url(../cssimage/common/select_bg.jpg) no-repeat; position:relative;}
	.selectPanel span{cursor:pointer; display:block; line-height:23px; width:100%; height:23px; overflow:hidden;}
	.selectPanel ul li{cursor:pointer;}
	.selectPanelList{width:180px; position:absolute;display:none;left:-1px; top:23px; border:1px solid #ddd; background:#fff;}
	.selectPanelList li{display:block; line-height:23px; font-size:11px; padding-left:10px; width:170px; border-bottom:#ccc dotted 1px;}
	.selecthover{background:#ddd;}
/*top main*/
.grid_main{width:980px;margin:0 auto; position:relative;z-index:98;}
.grid_main.zindex100{z-index:100;}
.grid_main.zindex999{z-index:999;}
.col_main{width:100%;margin-right:-100%;float:left}
.grid_col_main{float:left;width:100%;min-height:1px;position:relative;z-index:90;}
.grid_col_sub{float:left;text-align:left;width:220px;margin-left:-100%;position:relative;z-index:98; display:inline;}
.grid_main .grid_main_wrap{margin-left:230px;position: relative}
.col_main .grid_main_wrap{margin-left:230px;position: relative}
.col_main:after,.grid_main:after,.grid_main_wrap:after,.grid_col_sub:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.col_main,.grid_main,.grid_main_wrap,.grid_col_sub{zoom:1;}
.grid_main .grid_col_sub{width:220px;margin-left:-100%;display:inline}


.clearfix{display:inline-block}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}/* Hides from IE-mac \*/
* html .clearfix {height:1%}
.clearfix {display:block}/* End hide from IE-mac */
.main_l{width:750px;height:auto;overflow:hidden}
/*abs-index*/
.loading{background:#fff url(../cssimage/bigloading.gif) no-repeat 50% 50%;}
.c{width:560px;height:228px;}
.abpic,.ad_index{width:750px; height:238px; overflow:hidden}
.abpic .j_Slide{width:560px; height:228px;overflow:hidden;position:relative;}
.abpic .j_Slide .tb-slide-list{position:absolute; width:99999px;}
.abpic .j_Slide .tb-slide-list li{height:228px;}
.abpic .j_Slide .tb-slide-list li img{width:560px;height:228px;}
.abpic .lbtn{position:absolute;z-index:3;bottom:10px;right:100px;}
.abpic .lbtn li{float:left; width:20px;}
.abpic .lbtn li a,.abpic .lbtn li a:link,.abpic .lbtn li a:active,.abpic .lbtn li a:visited{ width:13px;height:14px;text-align:center; font-size:11px; background:#999; text-decoration:none;display:block;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:0.7; color:#000}
.abpic .lbtn li.hover a,.abpic .lbtn li.hover a:link,.abpic .lbtn li.hover a:active,.abpic .lbtn li.hover a:visited{color:#fff;background:#ff7800;height:14px; text-align:center;}

/*dailydeals*/
.dailydeals{height:315px;}
.dailydeals_m{height:265px; padding-top:15px;}
.items .proImg.dealsImg{ margin-bottom:10px;}
.items .itembox.Pro_deals_H{ height:255px;margin: 0px 2px 10px 0px;}
.items .proName.Pro_dealsName{height:45px; line-height:15px; margin-top:10px;}
.items .proPri.Pro_dealsPri s{display:block; font-size:14px; line-height:19px; }
.items .proPri.Pro_dealsPri span{font-weight:bold;font-size:18px; line-height:40px; font-style:italic}
.dealsoff{top:335px; right:-10px;}
.hotitem{width:528px;overflow:hidden}
.dailydeals_m .items{ height:268px;}
.dailydeals .dailydeals_m .dailydeals_warp{ height:268px;width: 170px;}
.hotitem.bt_border{border-top:#505050 solid 2px;}
.hotitem.bt_bordera{border-top:#1b61af solid 2px;}
.dailydeals_m .dailydeals_warp .items.pt8 {padding: 8px 0px 0px 0px;}

.hotitem .hotitem_h{width:738px;line-height:26px;background:url(../cssimage/index/hotitem_h_bg.jpg) 0 0 repeat-x;}
.hotitem .hotitem_h span{text-indent:22px;}
.hotitem .hotitem_h.w528{ width:528px;}
.hotitem .hotitem_h a{color:#1b61af}

.hotitem_m{border-bottom:#ddd solid 1px;height:auto;overflow:hidden}
.hotitem_m .items.h290,.recommended_items_m .items.h290{ height:278px;overflow:hidden}
.hotitem_m .items.h560{ height:560px;}
.abs_r{width:220px;height:auto;overflow:hidden; display:none}
#leftTime em{ color:#FF5A00}
.AD980,.bot_abs,.adsDiv,.abs980,#advertisement_content{display:none}
/*Top Sellers*/
.topseller{width:249px;height:auto;overflow:hidden}
.topseller.w220{width:220px;}
.topseller_h.w220{width:220px;}
.topseller_h{width:249px;height:25px;line-height:25px;color:#984f00;background:url(../cssimage/index/topseller_h_bg.jpg) repeat-x;padding-left:10px;line-height:25px;}
.topseller_h.blue{background:url(../cssimage/index/revieweditems_h_bg.jpg) repeat-x; color:#1B61AF}
.topseller_h em{color:#b2732f}
.topseller .topseller_m{border:#fecc7f solid 1px;border-top:none;width:247px;height:250px;overflow:hidden;}
.topseller .topseller_m.blue{border:#C8DBF0 solid 1px;}
.topseller_m li{width:215px;height:40px;padding:8px 8px 0 8px;overflow:hidden; float:left;}
.topseller_m li.w202{ width:202px;}
.topseller_pic{width:45px;height:35px;margin-top:2px;display:inline-block;float:left;border:#cccccc solid 1px;overflow:hidden;}
.topseller_pro_name{width:156px;padding:0px 0 1px 10px;height:24px;overflow:hidden;line-height:12px;}
.topseller_price{height:13px;line-height:13px;padding-left:10px;}
.topseller .topseller_m.w218{ width:218px;}
.topseller_pro_name.w136{width:136px;}
a.seemore{ color:#FF6600; text-decoration:underline}

/*items*/
.items{margin:0 0 0 0;height:auto;overflow:hidden;padding:12px 0 0 3px; position:relative; z-index:20;}
#list_content{width:745px;}
.items.addsearch_border{border:#ddd solid 1px; border-top:#0041a0 solid 2px; padding:0 0 0 3px;}
.items.pt23b16{padding:23px 0 16px 10px;}
.items.pt23l5{padding:23px 0 16px 5px;}
.items.pt23l18{padding:23px 0 16px 18px;}
.items.pt8{padding:8px 0px 0px 5px;}
.items .itembox{width:165px;height:266px;float:left;margin:0 0 10px 4px;display:inline;padding-bottom:4px;position:relative;}
.items .itembox.mr8t10{margin:0 8px 10px 15px; float:left; display:inline;}
.items .itembox.mr5t10{margin:0 15px 5px 0px; float:left; display:inline; height:146px;}
.items .itembox.ml8{margin-left:8px;}
.items .itembox.m34{ margin:0 30px 20px 0;}
.items .itembox.ml15{margin-left:15px;_margin-left:0px;}
.hotitem_m .items .itembox.ml15,#list_content .itembox.ml15{margin-left:15px;}

.items .itembox.mr28{ margin-right:28px;}
.items .itembox.h206 {height: 206px;}
.items .itembox.h176 {height: 176px;}
.itembox .infobox{width:157px;overflow:hidden;margin-left:4px;padding-top:4px;}
.items .proImg{width:157px;overflow:hidden;height:122px;display:table-cell;vertical-align:middle;text-align:center;}
.items .proImg img{height:120px;width:155px;position:relative;z-index:1;}
.items .proName{height:28px;overflow:hidden;clear:both;line-height:14px;margin:3px 0 5px 0;padding-right:2px;text-overflow:ellipsis;}
.items .proName.h14{height:14px;}
.items .proName a{font-size:11px;color:#666}
.infobox li.prolist{color:#333;margin-top:5px;height:auto;line-height:15px;overflow:hidden}
.infobox li.prolist a.chargers{color:#1c6cbe;text-decoration:underline}
.infobox li.freeShip{background: url(../cssimage/detail/list_ico.gif) 1px -286px no-repeat;color: #6BAB01;padding: 2px 0 2px 17px;line-height: 16px;}


.infobox li.proRankNum{ height:30px; font-size:18px; font-family:Georgia; color:#FF5A00}
.infobox li a.addcart,.infobox li a.unaddcart{background:url(../cssimage/links/links.png) no-repeat;width:135px;height:28px;border:none;margin-top:10px;cursor:pointer;display:inline-block;zoom:1;line-height:66px;overflow:hidden;text-align:left;}
.infobox li a.addcart{background-position:-265px -208px;}
.infobox li a.unaddcart{background-position:0 -287px}
.items .proPri,.items .proRank{margin-top:2px;margin-bottom:2px;}
.proRank{padding:2px 0 0 0;color:#000;}
.proRank.pt30{padding-top:30px}
.proRank.pt15{padding-top:15px;}
.proRank .star{background:url(../cssimage/bstar.gif) 0 0 repeat-x;width:70px;height:12px;display:inline-block;overflow:hidden;margin:0;vertical-align:middle;}
.proRank .star span{background:url(../cssimage/bstar.gif) 0 -12px repeat-x;display:block;text-indent:-9999px;overflow:hidden;width:70px;margin-right:32px;}
.proRank em a:link,.proRank em a:visited{color:#999;font-size:11px;}
.items .proImg a:link,.items .proImg a:visited{vertical-align:middle;display:block;border:1px solid #e5e5e5;padding:0;width:155px;height:120px;overflow:hidden;}
.items .proImg a:hover,.special .proImg a:hover{border:1px solid #FF5A00;}
/*Featured Categories*/
.featured_categories{margin:0 0 0 0;height:287px;overflow:hidden;padding:0;}
.featured_categories .featured_categories_box{width:157px;margin-left:15px; height:270px;}
.featured_categories .categories_pic{width:157px;overflow:hidden;height:124px;display:table-cell;vertical-align:middle;text-align:center;padding:2px auto;}
.featured_categories .categories_pic a{border:1px solid #ccc;width:155px;height:122px;display:inline-block;}
.featured_categories .categories_pic a:hover{border:1px solid #FF5A00;}
.featured_categories ul{width:157px;}
.featured_categories ul h3{padding:5px 0; height:18px; line-height:18px; overflow:hidden; word-break:break-all}
.featured_categories ul h3 a{font-size:13px;}
.featured_categories ul li{background:url(../cssimage/common/footer_ico.gif) 3px 6px no-repeat;height:19px; line-height:19px;}

/*list*/
.lists{border:#ddd solid 1px;border-top:none;height:auto;margin:0 0px 10px 0;overflow:hidden;}
.lists.cancel_border{border:none;}
.lists_box{padding:10px 0 25px 0;border-bottom:1px solid #ccc;overflow:hidden;height:100%;margin:5px 20px 15px 20px;}
.lists_box .proRankNum{ width:60px; height:120px; line-height:120px; font-family:Georgia; color:#FF5A00;}
.lists_box_left{float:left;width:160px;background:#fff;position:relative;}
.lists_box_left a:link,.lists_box_left a:visited{vertical-align:middle;border:1px solid #ccc;display:block;padding:0;}
.lists_box_left a:hover{border:1px solid #FF5A00;}
.lists_box_left img{width:155px;height:120px;border:0;position:relative;z-index:1;}
.lists_box_left .pro_free{background:url(../cssimage/list/freeshipping.png) 0 0 no-repeat;width:53px;height:53px;position:absolute;left:4px;top:4px;z-index:2;}
.lists_box_left a:hover img{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);}
.lists_box_middle{margin-left:170px;margin-right:200px;line-height:18px;}
.lists_box_middle.topsellerin{margin-left:235px;}
.lists_box_middle h1{font-size:14px;color:#0099ea; padding-bottom:5px;}
.lists_box_middle h2{font-size:11px;color:#666;padding-top:3px;}
.lists_box_middle h1 a:link{font-size:14px;color:#014590}
.h1_en{padding-bottom:5px;font-size:12px; color:#999}
.be_link a:link,.be_link a:link,.be_link a:visited{color:#014590;font-size:11px;}
.in_link {color:#014590}
.in_link a:link,.in_link a:link,.in_link a:visited{color:#014590;margin-top:3px;display:inline-block;}
.lists_box_right{float:right;width:210px;padding:0;line-height:20px;font-size:12px;text-align:right;}
.lists_box_right span.pb10{ padding-bottom:10px;}
.lists_box_right.add_padding{padding:10px 0;}
.lists_box_right h1{font-size:18px;color:#ff5a00;}
.lists_box_right h1 span{font-size:12px;color:#999; text-decoration:line-through; margin-right:5px;}
.lists_box_right img{margin:5px 0;}
.freeShip{background:url(../cssimage/detail/list_ico.gif) 108px -286px no-repeat;color:#6BAB01;padding:2px 0 2px 17px;line-height:16px;}
.unaddcart,.addcart{width:133px;height:29px;border:none;margin-top:10px;cursor:pointer;display:inline-block;*display:inline;zoom:1;line-height:80px;overflow:hidden;text-align:left;}
.addcart{background:url(../cssimage/detail/detail.png) 0 -253px no-repeat;}
.unaddcart{background:url(../cssimage/list/unbtn_AddtoCart.png) 0 0 no-repeat;}
.onelist_ab{ display:none}
/*menu*/
.grid_main_wrap .menu{width:750px;height:30px;background:url(../cssimage/common/menu_bg.png) repeat-x;}
.grid_main_wrap .menu li{float:left;padding:0 12px 0 12px;height:30px;line-height:30px;}
.grid_main_wrap .menu li a{color:#FFF; display:block; height:30px;}
.grid_main_wrap .menu li a:hover,.grid_main_wrap .menu li a.active{text-decoration:none; background:url(../cssimage/common/ico.gif) center -578px no-repeat;}
.menu li.newarrivals{background:url(../cssimage/common/ico.gif) 5px -152px no-repeat;padding-left:35px; width:80px;}
.menu li.topsellers{/*background:url(../cssimage/common/ico.gif) 5px -178px no-repeat;*/ width:70}
.menu li.deals{background:url(../cssimage/common/ico.gif) 5px -202px no-repeat; padding-left:35px;}
.menu li.store{/*background:url(../cssimage/common/ico.gif) 5px -228px no-repeat;*/ width:45px;}
.menu li.dropshipping{/*background:url(../cssimage/common/ico.gif) 5px -253px no-repeat;*/}
.menu li.reviews{/*background:url(../cssimage/common/ico.gif) 5px -279px no-repeat;*/}
.menu li.videos{/*background:url(../cssimage/common/ico.gif) 5px -306px no-repeat;*/}
.menu li.forums{background:url(../cssimage/common/ico.gif) 5px -333px no-repeat; padding-left:35px; border-right:none}
.menu li.christmas{display:none}
.menu li.mline {width: 2px;height: 30px;padding: 0px;margin: 0px;background: url(../cssimage/common/mline_bg.jpg) no-repeat;}
#dealMenuPanle{width:380px; height:160px; position:absolute; padding:20px 0 0 20px; 
	left:222px;		/**/
	left:222px\9;	/*all ie*/
	left:224px\0;	/*ie8*/
	+left:224px;	/*ie7*/	
	_left:224px;	/*ie6*/ 
	display:none; top:30px; border:#134e91 solid 2px; border-top:none; background:#fff; z-index:50;}

:root #dealMenuPanle { left:224px\9; }  /*ie9*/
@media all and (min-width:0px){ #dealMenuPanle {left:224px\0;} }  /*opera*/
@media screen and (-webkit-min-device-pixel-ratio:0){#dealMenuPanle{left:222px;}}/*chrome and safari*/


#dealMenuPanle a{width:170px; height:59px; display:inline-block; background:url(../cssimage/common/deals_ico.png) no-repeat; margin:0 15px 20px 0;}
#dealMenuPanle a.ldeallinks{background-position:0px 0px;}
#dealMenuPanle a.dailydeallinks{ background-position:-177px 0px;}
#dealMenuPanle a.storelinks{ background-position:0px -64px;}
#dealMenuPanle a.clearancelinks{ background-position:-176px -63px;}


/*bot_con*/
.bot_abs{width:1200px;}
.bot_con{width:978px;border-top:#1b61af solid 2px;height:auto;overflow:hidden;border-left:#ddd solid 1px;border-right:#ddd solid 1px;border-bottom:#ddd solid 1px;}
.recenthistory{width:447px;border-right:#ddd solid 1px;}
.recenthistory_h,.continueshopping_h{line-height:26px;text-align:left;text-indent:8px;color:#11447e;font-weight:bold;height:26px;background:url(../cssimage/index/hotitem_h_bg.jpg) 0 0 repeat-x;}
.recenthistory_h{width:447px;}
.continueshopping_h .explain{color:#666;font-weight:normal}
.recenthistory_h h1 em{color:#666;padding-left:5px;font-weight:normal}
.recenthistory_h a{color:#ff5a00;font-weight:normal;text-decoration:underline;margin-right:5px;}
.ul_recently{width:427px;padding:7px 10px 0 10px;height:170px;overflow:hidden}
.ul_recently li{margin:0 auto 5px auto;overflow:hidden;height:auto;width:417px;}
.rview_spic{width:45px;height:35px;display:block;float:left;border:#cccccc solid 1px;overflow:hidden;}
.rview_name,.rview_price{float:left;width:352px;padding:2px 0 1px 10px;height:15px;overflow:hidden;line-height:15px;}
.rview_price{height:13px;line-height:13px;}
.rview_price{height:13px;}
.rview_price em{color:#A50000;font-size:12px;font-weight:bold;}
.r_searches{border-top:#eaeaea solid 1px;width:437px;height:28px;line-height:28px;padding-left:10px; overflow:hidden;}
.r_searches a{color:#ff7022;text-decoration:underline;margin-right:5px;}
.continueshopping_h{width:530px;}
.continueshopping{width:530px;}
.continueshopping_m{width:520px;height:207px;*height:206px;_height:206px;overflow:hidden; padding-left:5px;}
.continueshopping_m .continue_pages{width:20px; height:30px;float:left; margin-top:60px;}
.continueshopping_m .continue_pages.mr10{margin-right:6px;}
.continue_pages .continue_prev,.continue_pages .continue_next{width:20px; height:30px; cursor:pointer}
.continue_pages .continue_prev{background:url(../cssimage/detail/propic_prev.jpg) no-repeat;}
.continue_pages .continue_next{background:url(../cssimage/detail/propic_next.jpg) no-repeat;}
.continue_warp{width:510px; height:206px; overflow:hidden; float:left; position:relative; margin-right:5px;}
.continue_warp .items.continue{position:absolute; width:9980px; height:206px; left:0px; top:0px;}
.recent_nodata{height:178px; line-height:50px; width:447px}
.search_nodata{height:28px;width:447px}
/*delivered*/
.newsletter{width:220px;height:55px;}
.newsletter h3{font-size:16px;padding:0 10px 0 45px;color:#000;height:32px;line-height:10px;text-align:left;margin-left:2px;background:url(../cssimage/index/index.png) 0 0 scroll no-repeat;}
.newsletter h3 em{font-size:9px;line-height:20px;font-family:Arial;}
.lettertxt{width:142px;height:24px;padding:2px 0 0 5px;background:url(../cssimage/index/index.png) 0 -34px no-repeat;border:0;float:left;}
.letterbtn{width:63px;height:26px;background:url(../cssimage/index/index.png) -148px -34px no-repeat;border:0;float:left;cursor:pointer;}
/*See what they say?*/
.see_say{width:220px;height:auto;overflow:hidden;}
.see_say h1{height:27px;line-height:27px;border-bottom:#1b61af solid 2px;padding-left:7px;font-size:20px;}
.see_say_m{width:220px;height:auto;overflow:hidden;}
.see_say_author{height:20px;width:220px;line-height:20px;}
/*Recently Reviewed Items*/
.revieweditems{width:220px;height:auto;}
.revieweditems_h{width:210px;height:25px;line-height:25px;background:url(../cssimage/index/revieweditems_h_bg.jpg) repeat-x;border-top:#bed4ec solid 1px;padding-left:10px;}
.revieweditems_h h1{color:#1b61af; font-size:12px;}
.revieweditems_h a{text-decoration:underline;color:#ff5a00}
.revieweditems_box{width:218px; height:280px;position:relative;border:#c8dbf0 solid 1px;border-top:0; overflow:hidden}
.revieweditems_box ul.revieweditems_m{width:218px;height:auto;overflow:hidden; position:absolute; left:0; top:0;}
ul.revieweditems_m.boder{border:#c8dbf0 solid 1px;border-top:0;}
ul.revieweditems_m li{height:45px;width:210px;padding:5px 4px;border-bottom:#eaeaea solid 1px;}
ul.revieweditems_m li.odd{background:#f9f9f9}
ul.revieweditems_m li.last{border-bottom:none}
ul.revieweditems_m li.h60{height:60px;overflow:hidden}
ul.revieweditems_m li .revieweditems_pic{width:45px;height:35px;margin-top:5px;display:block;border:#cccccc solid 1px;overflow:hidden;}
ul.revieweditems_m li .revieweditems_pro_name,ul.revieweditems_m li .revieweditems_title,ul.revieweditems_m li .revieweditems_author{width:152px;padding:2px 0 1px 10px;height:12px;overflow:hidden;line-height:12px;}
.revieweditems_author{color:#83aad4}
.revieweditems_pro_name a{color:#000}
ul.revieweditems_m li .discussions{height:30px;line-height:15px;width:210px;overflow:hidden}
ul.revieweditems_m li .discussions_pro,ul.revieweditems_m li .discussions_num{width:210px;height:15px;line-height:15px;}
ul.revieweditems_m li em{color:#b30000}
ul.revieweditems_m li .discussions_num em{color:#1b61af}
.revieweditems .release_dates .reviewer_info .cblue { border:none;}

/*breadcrumbs*/
#breadcrumbs{border-bottom:1px solid #ddd;height:32px;width:980px;margin:0 auto;overflow:hidden;}
.location h3 {background: url(../cssimage/common/ico.gif) no-repeat 0 4px;}



.alerts_box{padding:10px 0;overflow:hidden;height:100%;margin:0px; border-bottom:#eee solid 1px;}
.alerts_box_left{float:left; width:190px}
.alerts_box_left input{ float:left}
.alerts_box_left_pic{width:160px;background:#fff;position:relative; float:right; margin-top:3px;}
.alerts_box_left_pic a:link,.alerts_box_left_pic a:visited{vertical-align:middle;border:1px solid #ccc;display:block;padding:0;}
.alerts_box_left_pic a:hover{border:1px solid #c20000;}
.alerts_box_left_pic img{width:155px;height:120px;border:0;position:relative;z-index:1;}
.alerts_box_left_pic .pro_free{background:url(../cssimage/list/freeshipping.png) 0 0 no-repeat;width:53px;height:53px;position:absolute;left:4px;top:4px;z-index:2;}
.alerts_box_left_pic a:hover img{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);}
.alerts_box_middle{margin-left:200px;margin-right:260px;line-height:18px;}
.alerts_box_middle h1{font-size:14px;color:#666; padding-bottom:5px; font-family:Verdana;}
.alerts_box_middle h1 a:link{font-size:14px;color:#666}
.alerts_box_right{float:right;width:270px;padding:0;line-height:20px;font-size:12px;text-align:left;}
.alerts_box_right input{ padding:0; margin-top:-3px;}
.alerts_box_right label{ padding-top:10px;}

.alerts_addcart,.unalerts_addcart{background:url(../cssimage/links/links.png) 0 -238px no-repeat; width:99px; height:23px;}
.unalerts_addcart{background:url(../cssimage/links/links.png) -108px -525px no-repeat;}
.alerts_addwish{background:url(../cssimage/links/links.png) -100px -238px no-repeat; width:120px; height:23px;}
.alerts_remove{background:url(../cssimage/links/links.png) -157px -25px no-repeat; width:72px; height:23px;}
.alerts_submit{background:url(../cssimage/links/links.png) -168px -178px no-repeat; width:83px; height:24px; display:block}
.alerts_txt{ width:38px; height:15px;}
.alerts_bot_l{ width:400px; float:left; margin-top:10px}
.alerts_bot_l input{ float:left; margin-top:10px; width:25px;}
.alerts_bot_r{ width:570px; float:left; text-align:right}
.alerts_bot_r .pages{ float:right}
.alerts_reply{background:url(../cssimage/links/links.png) -168px -178px no-repeat; width:83px; height:24px;}
.alerts_addcart2{background:url(../cssimage/links/links.png) 0 -262px no-repeat; width:95px; height:23px;}
.alerts_addwish2{background:url(../cssimage/links/links.png) -96px -262px no-repeat; width:120px; height:23px;}
.alerts_remove2{background:url(../cssimage/links/links.png) -217px -262px no-repeat; width:72px; height:23px;}


.bigstar{background:url(../cssimage/bstar.gif) 0 0 repeat-x;width:70px;height:12px;display:inline-block;overflow:hidden;margin:0;vertical-align:middle;}
.bigstar span{background:url(../cssimage/bstar.gif) 0 -12px repeat-x;display:block;text-indent:-9999px;overflow:hidden;width:70px;}
.Odd{ background:#fff8eb; color:#666; }
.Even{ background:#fff; color:#666; }
.Selected{ background:#fff3f3; color:#999; }
.Over{ background:#f5ffeb; color:#000; }
.goback{position:absolute; width:100px; height:25px; right:10px; line-height:25px; bottom:0px; text-align:right}



/*tips*/
.add_to_cardTips,.error_Tips{width:352px;padding:0 10px 10px 90px; height:auto; overflow:hidden; background:#fff url(../cssimage/detail/detail.png) -328px -262px no-repeat;}
.add_to_cardTips{height:210px;} 
.error_Tips{background:#fff url(../cssimage/detail/error_tips.jpg) 20px 0 no-repeat; height:auto}
.clsoeWin_time,.error_btn{position:absolute; right:10px; bottom:10px;}
.add_to_cardTips.h100{height:100px;}
.add_to_cardTips.h110,.error_Tips.h110{ height:110px; width:240px}
.error_Tips.h110{height:110px;}
#sureRemove,#cancelwish{width:76px; height:24px; display:inline-block; cursor:pointer; background:url(../cssimage/links/btn.jpg) 0 0 no-repeat}
#sureRemove{ margin-right:10px;}
#cancelwish{ background-position:-91px 0;}
#suredelete,#canceldelete{width:76px; height:24px; display:inline-block; cursor:pointer; background:url(../cssimage/links/btn.jpg) 0 0 no-repeat}
#suredelete{ margin-right:10px;}
#canceldelete{ background-position:-91px 0;}

.viewCart,.viewCart_dropshipping{height:29px;background:url(../cssimage/detail/detail.png) no-repeat; display:block}
.viewCart{width:171px; background-position: -137px -137px;}
.viewCart_dropshipping{width:91px; background-position:0px -304px;}
.add_to_cardTips p.lh25, .success_Tips p.lh25{line-height:25px;}
.add_to_cardTips p.lh35{line-height:35px;}
.add_to_cardTips p.lh55,.error_Tips p.lh55{line-height:55px;}
.add_to_cardTips p em{ color:#c20000}
.add_to_cardTips p a, .error_Tips p a{ color:#0041a0; text-decoration:underline}
.add_to_cardTips p.pt20,.success_Tips p.pt20,.error_Tips p.pt20{ padding-top:20px}
.add_to_cardTips a.close{ width:20px; height:20px; position:absolute; top:10px; right:10px; display:block; background:url(../cssimage/detail/cls.gif) 0 0 no-repeat}
.add_to_cardTips a:hover.close{ background:url(../cssimage/detail/cls.gif) 0 -20px no-repeat}
.add_to_wishlistTips{height:133px;}
.success_Tips{ width:500px; height:auto; background:#fff url(../cssimage/detail/detail.png) -328px -268px no-repeat; padding:0 10px 10px 90px; }
.lower_price, .ask_question{width:616px; height:auto; overflow:hidden; padding:20px 20px 0 20px;}
.lower_price .lower_price_top{height:auto; overflow:hidden; padding-bottom:10px; border-bottom:#ddd solid 1px;}
.lower_price .lower_price_top h2{ padding-bottom:5px;}
.lower_price .lower_price_top img{width:150px; height:120px; border:#ddd solid 1px; margin-right:15px;}
.lower_price .lower_price_top .free_shipping{ background:url(../cssimage/detail/detail.png) -383px -93px no-repeat; padding-left:20px; color:#56a600}
.lower_price_top span em{ color:#c20000;}
.cc20{ color:#c20000}
.lower_price table, .ask_question table{ width:616px; height:auto; margin:0;}
.ask_question table{ margin-top:15px}
.lower_price table td,.ask_question table td{padding:0 5px 0 0;}
.lower_price_sub,.lower_price_btn{width:76px; height:29px; background:url(../cssimage/detail/detail.png) -138px -167px no-repeat; border:none; margin-right:15px; cursor:pointer;}
.lower_price_btn{background:url(../cssimage/detail/detail.png) -229px -167px no-repeat;}

.credit_card,.paypal_links{display:block; background:url(../cssimage/index/index.png) 0 -90px no-repeat;}
.paypal_links{width:144px; height:37px; margin-top:10px;}
.credit_card{ width:174px; height:32px; background-position:0 -128px; margin-top:10px;}

/*register*/
.re_table { margin: 20px 0 0 132px;}

/* autocomplete */
#autocompletePanel{position: absolute; background-color: #fff;border: 1px solid #ddd;left: 6px; position: absolute; top: 31px; width: 446px; z-index: 30;}
#autocompletePanel li{display: block; text-align: left; height: 20px; line-height: 20px; background-color: #fff; cursor: default; padding: 0 5px; clear: both;}
#autocompletePanel .keyinfo{border-bottom:1px dashed #f1f1f1}
#autocompletePanel .selected{background-color: #eee; color: #333; overflow: hidden;border-bottom:1px solid #e1e1e1}
#autocompletePanel .unselected{ background-color: #fff; color: #666; border-bottom:1px dashed #f1f1f1}
#autocompletePanel .keyname{ display: block; float: left; _clear:both; _line-height:20px}
#autocompletePanel .keyextend{ display: block; float: right; color:#FF5A00; _clear:both; _line-height:20px}
#autocompletePanel .unselected .keyextend{ color:#FF5A00; }
#autocompletePanel .selected .keyextend{ color: #133E79; }
#autocompletePanel .s_close{ background-color:#edf1fa; border-bottom:1px solid #d5e1ed; height:20px; padding:2px 5px;}
#autocompletePanel .s_close h5{width:345px; display:inline; font-weight:bold;}
#autocompletePanel .s_close span{ background:url(../cssimage/detail/list_ico.gif) 2px -225px no-repeat; padding-left:15px; margin-left:249px; text-decoration:underline;cursor: pointer; font-weight:bold;}
#lookingforPro h5{background-color:#edf1fa; border-bottom:1px solid #d5e1ed; height:20px; padding:2px 5px; line-height:20px; font-weight:bold}
#lookingforPro .lookingforPro_list{ width:75px; height:50px; padding:10px 0; margin:5px 0 10px 12px; display:inline-block; text-align:center}
#lookingforPro .lookingforPro_list img{border:#ddd solid 1px;}

/*shopping cart*/
.shop_table{width:980px;}
.shoppingList{width:978px;}
.shoppingList .shoppingList_inner{ width:892px;}
.shoppingList .shoppingList_inner .shoppingList_inner_l{ width:726px;}
.shoppingList_inner .shoppingList_inner_l .shipping_method_con{width:728px;position:relative;
    width:726px;        /**/
    width:726px\9;  /*all ie*/
    width:726px\0;  /*ie8*/
    +width:726px;   /*ie7*/ 
    _width:726px;   /*ie6*/ 
}
:root .shoppingList_inner .shoppingList_inner_l .shipping_method_con { width:726px\9;position:relative; }  /*ie9*/
@media all and (min-width:0px){ .shoppingList_inner .shoppingList_inner_l{width:726px\0;position:relative;} }  /*opera*/
@media screen and (-webkit-min-device-pixel-ratio:0){.shoppingList_inner_l{width:728px;position:relative;}}/*chrome and safari*/
.shipping_method_innercon {width: 660px;}
.paymentMethod_div{ width:980px}

/*SetMap*/
.allcate{z-index:1;}
.allcate_m{width:1170px; background-color:#FFF; padding:15px 15px 0 15px; overflow:hidden;zoom:1;}
.allcate_m ul{ float:left; display:inline; width:25%; padding-bottom:15px;}
.allcate_m ul h4{ height:18px; line-height:18px; background:url(../cssimage/detail/list_ico.gif) -15px -680px no-repeat; padding-left:15px; font-size:12px;}
.allcate_m ul h4 a{ color:#000;}
.allcate_m ul li{ height:18px; line-height:18px; background:url(../cssimage/detail/list_ico.gif) left -98px no-repeat; padding-left:16px; font-size:11px;}
.allcate_m ul li a:link,.allcate_m ul li a:visited{ color:#666; font-size:11px;}
.allcate_m ul li a:hover,.supmenu_m ul li a:hover{ color:#000; font-size:11px;}
.ul_left{ margin-top:10px; padding-top:10px; border-top:#ddd solid 1px;}
.ul_left li {float: left;width: 210px;}
.coupon_codepay{ width:149px; height:32px; margin-top:15px; background:url(../cssimage/links/links.png) 0 -588px no-repeat; border:none; cursor:pointer}
.messageTip{background:#FFF9F1;border: 1px solid #FFB552;padding:5px 10px; color:#FF5A00; margin:10px 0;}
/*error*/

/*Pic*/
#sortoneList a span, .current_sortoneList a span, #CategoriesList .CategoriesList span,.current_sortoneList a.active span,.list_sort a span{background:url(../cssimage/detail/list_ico.gif) no-repeat;}
/*Pic end*/
.search_m,.search_m .search_m_l, .search_m .search_m_r{height:auto; overflow:hidden} 
.search_m{ width:980px; position:relative; z-index:50;}
.search_m .search_m_l{ width:970px;}
.search_m .search_m_r{ width:220px;}
.search_list{width:950px; border-bottom:#F16301 solid 1px;}
.search_list.w940{width:720px; margin-top:10px;}
.search_list_more{width:91px; height:19px; background:url(../cssimage/detail/detail.png) 0 -233px no-repeat; cursor:pointer} 
.search_list_more.un{background:url(../cssimage/detail/detail.png) -37px -129px no-repeat;}
.search_list .search_list_t{border-bottom:#ddd solid 1px; height:auto; overflow:hidden;}
.search_list_t .search_list_t_title{line-height:30px;}
.search_list_t_title .search_list_t_title_ico{width:12px; height:12px; margin-top:10px;background:url(../cssimage/detail/list_ico.gif) 0 0 no-repeat; margin-right:10px; cursor:pointer}
.search_list_t_title_ico.un{background:url(../cssimage/detail/list_ico.gif) -18px 0 no-repeat;}
.search_list_t .search_location{ margin-top:5px;}
.search_list_t .search_location li{padding:0 25px 0 10px; line-height:20px; margin-right:5px; position:relative; height:20px; background:url(../cssimage/detail/detail.png) 0 -283px no-repeat; float:left}
.search_list_t .search_location li a.close{width:18px; height:20px; display:block;position:absolute; right:0; top:0; background:url(../cssimage/detail/detail.png) -292px -283px no-repeat; }
.search_list h2{font-size:14px; border-bottom:#ddd solid 1px; line-height:30px;}
.view_search{ border-bottom:#ddd solid 1px; margin:10px 10px 20px 10px; position:relative; z-index:10; height:30px;}
.view_search .view_search_r{width:280px;height:28px;line-height:28px; position:absolute; right:0px; top:0px;}
.search_list .search_list_box.noneb{ border-bottom:none}
.search_list .search_list_box.hide{display:none}
.search_list_box .search_list_box_l{float:left;width:100px; height:auto; text-align:right; line-height:22px; overflow:hidden; padding-right:5px;}
.search_list_box .search_list_box_r{margin-left:105px;width:840px;position:relative;}
.search_list_box .search_list_box_l.w80{width:80px;}
.search_list_box .search_list_box_r.w850{width:630px; margin-left:85px;}

.catePrice a{color:#0041a0; font-size:11px; padding:5px 0 5px 5px;}
/*search_list_cateory*/
.catelist .catelist_first a{color:#0041a0; font-size:11px; position:relative; z-index:4; padding:5px 17px 5px 5px; display:inline-block;}
.catelist .catelist_first a span{ position:absolute; width:7px; height:4px; background:url(../cssimage/detail/list_ico.gif) -1px -52px no-repeat; display:block; right:5px; top:12px;}
.catelist .catelist_first a.active span{background:url(../cssimage/detail/list_ico.gif) -1px -570px no-repeat;}
.catelist .catelist_first a em,.search_list_box_r .catePrice a em{color:#999; font-size:10px;}
.catelist .catelist_first a.active{ color:#FF5A00}
.catelist .catelist_first .catebox{ position:absolute; padding:6px 10px; left:5px; top:22px; border:#ddd solid 1px; z-index:5; background:#fff;}
.catelist_first .catebox a,.catelist_first .catebox a:hover{ background:none; display:block; padding:2px 5px 2px 0; border:none;}
/**/
.onelist_ab{display:none}
/*search_list_cateory end*/
.catelist_more{position:absolute; width:42px; display:none; color:#ff5a00; text-align:left; height:22px; line-height:22px; cursor:pointer; background:url(../cssimage/detail/list_ico.gif) -4px -429px no-repeat; right:0px; top:1px;}
.search_m.lh30{ line-height:30px;}


.grid_main_wrap h5{ height:26px; padding-left:20px; line-height:26px; background:url(../cssimage/list/smenu_bg.gif) repeat-x}
.listhead{height:28px; background:url(../cssimage/list/listtabs.jpg) repeat-x; width:100%; position:relative; z-index:50;}
.listhead ul.tabs{ width:auto; margin-right:15px;}
.listhead ul.tabs.w400{width:400px;}
.listhead ul.tabs li.active{background:url(../cssimage/detail/tabs_active.jpg) repeat-x;}
.listhead ul.tabs li{ line-height:28px; padding:0 10px; height:28px; color:#000; background:url(../cssimage/detail/tabs_bg.jpg) repeat-x; border-right:#fff solid 1px;}
.listhead ul.tabs li:hover,.listhead ul.tabs li.active{background:url(../cssimage/detail/tabs_active.jpg) repeat-x; color:#fff;}
.listhead ul.tabs li.active a{ color:#FFF}
.listhead ul.tabs li a{color:#000;}
.listhead ul.tabs li:hover a{ color:#fff}
.listhead ul.tabs li a em{color:#999;}
.listhead ul.tabs li a:hover{text-decoration:none}
.viewType{height:28px;line-height:28px;}
.iconvlist{background:url(../cssimage/detail/detail.png) 0 -168px; width:17px;height:14px;display: inline-block;text-indent: -9999px;overflow: hidden;margin:8px 0 0 7px;float: left;}
.iconvimg{background:url(../cssimage/detail/detail.png) -21px -168px;width:17px;height:14px;display: inline-block;text-indent: -9999px;overflow: hidden;margin:8px 0 0 7px;float: left;}
.viewType a{ text-decoration:none; color:#000}
.list_sort{position:relative; padding-right:12px; height:28px; line-height:28px;}
.list_sort a{display:inline-block; padding:0 15px 0 8px; position:relative; z-index:4;}
.list_sort a span{ width:7px; height:4px; background-position: -1px -52px; position:absolute; right:5px; top:12px;}
.list_sort a.active{ border:#ddd solid 1px; border-bottom:none; background:#FFF; top:-1px; left:-1px;}
.list_sort .sortByMenu{position:absolute; z-index:11; left:0px; z-index:3; top:27px; padding:8px 10px; border:#ddd solid 1px; display:none; background:#FFF}
.list_sort .sortByMenu a{display:block; color:#666; height:19px; line-height:19px; width:114px;}
.list_sort .sortByMenu a.w200{ width:200px;}
.list_sort .sortByMenu a:hover{ color:#000;}
.list_sort a:hover{ color:#333}


/*new arrival*/
.rview{height:28px; line-height:28px; margin-right:10px;}
.rview a{color:#0041a0}
.released{z-index:55; position:relative}
.released .sortoneList{position:relative}
.released .sortoneList .current_sortoneList{ width:240px;}
#sortoneList a , .current_sortoneList a{padding:5px 15px 10px 8px;color:#0041a0; display:inline-block; font-size:11px; position:relative; z-index:1;}
#sortoneList a.active , .current_sortoneList a.active{text-decoration:none; color:#FF5A00}
#sortoneList a span, .current_sortoneList a span, #CategoriesList .CategoriesList span{width:7px; height:4px; background-position:-1px -52px; position:absolute; right:5px; top:11px;}
.current_sortoneList a.active span{ background-position:-1px -570px;}
#sortoneList a em, .current_sortoneList a em, #CategoriesList .CategoriesList a em{ color:#999; font-size:10px;}
#sortoneList a .sortList, .current_sortoneList .sortList{position:absolute; padding:5px 10px 10px 10px; border:#ddd solid 1px; background:#FFF; left:8px;top:21px; z-index:2; display:none}
#sortoneList .sortList a, .current_sortoneList .sortList a, #CategoriesList .CategoriesList .sortList a{display:block; padding:2px 0; background:#fff;}


#CategoriesList .CategoriesList{position:relative}
#CategoriesList .CategoriesList .Categorieslinks{padding:5px 15px 10px 8px;color:#0041a0; display:inline-block; border:#fff solid 1px; border-bottom:none; position:relative; z-index:5;}
#CategoriesList .CategoriesList .Categorieslinks a{ display:inline}
#CategoriesList .CategoriesList .sortList{position:absolute; padding:5px 10px 10px 10px; border:#ddd solid 1px; background:#FFF; left:-1px;top:31px; z-index:2; display:none}
#CategoriesList .CategoriesList .Categorieslinks.active{ border:#ddd solid 1px; border-bottom:none; background:#FFF; top:0px; left:-1px; text-decoration:none}
/*new arrival end*/




.released h1{ line-height:30px;}
.released ul li{width:220px; background:url(../cssimage/common/footer_ico.gif) 10px 8px no-repeat; font-size:11px; padding:3px 0 3px 16px; color:#666}
.released ul li a{color:#0041a0; text-decoration:none; font-size:11px;}
.released ul li a:hover{ text-decoration:underline}
.release_dates{width:198px;border:#c8dbf0 solid 1px;border-top:0;height:auto;overflow:hidden; padding:10px;}
ul.dates, ul.weeks{ width:100%;}
ul.dates li, ul.weeks li{width:98px; float:left; padding:3px 0; font-size:11px; font-family:\5FAE\8F6F\96C5\9ED1,Microsoft YaHei,Arial;}
ul.dates li a, ul.weeks li a{ color:#0041a0; font-size:11px;font-family:\5FAE\8F6F\96C5\9ED1,Microsoft YaHei,Arial;}
ul.weeks li a{color:#000}

/*Categories list*/
.cate_describe{width:730px; height:auto; padding:10px; background:#f9f9f9 url(../cssimage/list/bgtitle.jpg) 0 bottom repeat-x}
.recommended_items{width:748px; border:#ff5a00 solid 1px; border-top:#ff5a00 solid 2px;} 
.recommended_items.cblue{border:#0041a0 solid 1px; border-top:#0041a0 solid 2px;} 
.recommended_items .recommended_items_t{background:url(../cssimage/index/hotitem_h_bg.jpg) repeat-x; padding-left:10px; height:26px; line-height:26px;}
.recommended_items_t .hottest_goods{ background:url(../cssimage/list/border_lbg.jpg) 0 7px no-repeat; height:26px;}
.shop_by_price{padding:10px 20px 0 0;}
.price_input{width:63px;height:15px; padding:3px; line-height:15px; border: 1px solid #CCC;}
.pricego{background:url(../cssimage/detail/detail.png) -139px -227px no-repeat;width:66px;height:23px;cursor:pointer;border:none;vertical-align:middle;}
.popular_searches{width:200px; padding:10px; background:#f0f0f0;}
.popular_searches h1{ border-bottom:#ddd solid 1px; padding:5px 0;}
.release_search{height:auto;overflow:hidden; width:200px; padding-top:5px;}
.release_search a{color:#0041a0; line-height:18px; text-decoration:underline}

.pro_info{width:220px;height:auto;overflow:hidden}
.pro_info_h{width:218px;height:25px;line-height:25px;color:#000;background:url(../cssimage/index/revieweditems_h_bg.jpg) repeat-x;padding-left:10px;line-height:25px;}
.topseller_h em{color:#b2732f}
.pro_info .pro_info_m{border:#C8DBF0 solid 1px;border-top:none;width:198px; padding:10px;height:auto;overflow:hidden; background:#f9f9f9}
.pro_info .pro_info_m ul{ padding-top:10px;}
.pro_info .pro_info_m ul li{width:198px; text-align:center}
.pro_info .pro_info_m ul li img{ margin:0 auto; border:#ddd solid 1px; margin-bottom:10px;}
.pro_info .pro_info_m ul li.alignL{text-align:left}
.pro_info .pro_info_m ul li.freeship{ background:url(../cssimage/detail/detail.png) no-repeat -384px -102px; padding-left:15px; color:#56A600}
.pro_info .pro_info_m ul li a.addtocard{width:135px; height:28px; background:url(../cssimage/detail/detail.png) -139px -253px no-repeat; display:block;}
.pro_info .pro_info_m ul li a.addalltowish{width:135px; height:26px; background:url(../cssimage/detail/detail.png) 0 -102px no-repeat; display:block;}


/*write_review*/
.search_m_l .important{ background:#fff9f1; border:#ffb552 solid 1px; padding:10px; margin-right:23px;}
.search_m_l .rate_pro{margin:10px 0 0 0; border-bottom:#ddd solid 1px; padding-bottom:15px; position:relative}
.span_txt{display:inline-block; width:150px; text-align:right}

.rate_pro_tips{width:400px; height:25px;float:left;display:block; position:relative}
.rate_pro_tips .arror{display:block; position:absolute; left:0px; top:2px; width:5px; z-index:5; height:7px; background:url(../cssimage/detail/list_ico.gif) 0 -463px no-repeat;}
.rate_pro_tips .rate_pro_tips_txt{border:#ffe4c1 solid 1px; left:4px; height:20px; z-index:4; line-height:20px; padding:2px 10px; display:block; position:absolute; color:#FF5A00; background:#fff9f1}
.rate_pro_tips .rate_pro_tips_txt.c66{ color:#666;}
.rate_pro em,.summarize em.cc20{ color:#c20000}

.worst{ margin-bottom:10px;}
.best_rting{ width:80px; height:19px; background:url(../cssimage/detail/detail.png) -184px -335px no-repeat; color:#FF5A00; font-size:11px; padding-left:90px;}
.value_out dl{border:#ddd solid 1px; width:200px; background:#f5f5f5; padding:6px 10px 10px 10px; margin-left:40px; margin-right:20px;}
.value_out dl dd{ height:17px; float:left;}
.value_out dl dd span.s_txt{ width:100px; text-align:right; float:left; display:inline-block; height:17px; line-height:17px;}
.summarize{ padding:10px 0;}
.summarize .summarize_txt{ line-height:30px;}
.textarea_con{ position:relative; width:970px;}
.textarea_con textarea{width:550px; height:120px; margin:0 20px 0 0; padding:0;} 
.textarea_con .textarea_tips{ float:left; width:370px; height:auto; position:relative}
.textarea_tips .textarea_tips_txt{ width:335px; height:auto; padding:15px; border:#ffe4c1 solid 1px;background:#fff9f1;}
.textarea_tips .arror{display:block; position:absolute; left:-4px; top:5px; width:5px; height:7px; background:url(../cssimage/detail/list_ico.gif) 0 -463px no-repeat;}
.tipslinks{ padding:10px 0 0 0;}
.tipslinks li{ display:block; background:url(../cssimage/detail/list_ico.gif) 0 -97px no-repeat; padding:2px 0 2px 15px;}
.fm_submit{background:url(../cssimage/detail/detail.png) -138px -167px no-repeat; width:76px; height:29px; border:none; cursor:pointer;}

/*One list advert*/
.items .onlist_box{padding:0 0 20px 40px;}
.items .onlist_box li{width:294px; margin:5px 58px 15px 0; position:relative;}



/*Reviews*/

.reviews_body{width:748px; overflow:hidden; height:auto}
.reviews_con.noborder{width:690px;margin:0px 25px 15px 25px;_margin:0px 25px 15px 12px; height:auto; overflow:hidden; float:left}
.reviews_list_pic{ padding:15px 0px 10px 0px; margin:0px; }
.reviews_list.w680{width:480px;}
.hotitem.w968 {width: 748px; overflow:hidden;}
.hotitem .hotitem_h.w958{width: 738px;}
.review_content{ word-break:break-all; overflow:hidden;width:400px; display:block;}
.reviews_body .items{width:748px;}
.reviews_body .items .itembox.ml15{ margin-left:15px;}
/*Posts_index*/
table.order_table th{background:#e9e9e9; color:#000; border:#ddd solid 1px; padding:8px 0;font-size:11px;}
table.order_table td{border:#ddd solid 1px; padding:8px 5px; text-align:center; font-size:11px;}
table.order_table td.cc20{ color:#c20000;}
table.order_table tr.even{ background:#fff8eb;}
table.order_table td img{ border:#ddd solid 1px;}

/*videos*/
.viewsNum {margin-right: 140px;}
.hotitem_h.w1198 {width: 968px;}
.hotitem.w1198 {width: 978px;_width: 968px;}
#otherVideo{width:968px; overflow:hidden; height:170px;}
.items .itembox.ml28 {margin-left: 24px;}
.videos_main{ width:980px; margin:0 auto;}
.uploadform {width: 590px; overflow:hidden}
.hotitem_m .items.h196{ height:192px; overflow:hidden}
.videos_categories li,.videos_categories h3{width:970px;}
.videos_categories li span.videos_categories_list {width: 800px; color:#114ea6}
/*feedback*/
#content{width:980px;}
.allcate_m{ width:950px;}
/*brands*/
.brandswarp {width: 980px;}
.brandswarp ul li {width: 326px; background:#eee;height: 256px; overflow:hidden}
.brands_img{ width:310px; overflow:hidden}
.brandswarp ul li a:hover {border: 8px solid #eee;}
/*ReviewsItem*/
.reviews_con {width:730px;}
/*createImage*/
.createImages_error,.createvideo_error{background:#FFF8EB;border: 1px solid #F4C978;color: #FF5A00;margin:0;padding: 10px;}
.createImages_error{width:300px;}
.createvideo_error{width:500px;}
/*search*/
#searchno{padding: 35px 20px 35px 300px; margin-left:200px;height: 200px;background: white url(../cssimage/list/searchno.gif) 65px 50px no-repeat;}
#searchno h3 {font-size: 14px;font-weight: bold;margin-top: 20px;padding-bottom: 8px;}
#searchno .whitebox ul li {
    background: url("../cssimage/selectbg.gif") no-repeat scroll 10px -244px transparent;
    line-height: 18px;
    padding-left: 24px;
}

/*footer*/
#footer{width:980px;}
#siteinfo h3{padding:0 0 5px 0;}
#siteinfo h3.f14{ font-size:12px;}
#siteinfo{width:980px;}
#siteinfo ul{width:160px;}


/*my account begin*/
.account_main{ width:980px;}
.account_main .account_main_r{ width:750px;}
.account_main .account_main_l{ width:220px;}
.coupon_div{ padding:20px 15px 10px; width:710px; border-bottom:#ddd solid 1px; height:auto; overflow:hidden;}
.order_searchdiv{width:730px; height:31px; border-bottom:#eee solid 1px; border-top:#fff solid 1px;line-height:31px; padding:0 10px;}
.order_detail_links{ width:750px; height:auto; overflow:hidden}

.daily_deal{ width:980px; height:auto;}
.drop_shipping_x_img img{ width:978px;}
.deal{width:980px;}
.account_main_con_list .client_r{ width:605px;}
.client_r table{ width:600px; font-size:11px;}
.alsolike_body .alsolike_listmian_warp{ width:660px;}
.order_date{ top:30px;}

/*order Deatails*/
.order_track{ width:750px; height:auto; overflow:hidden; border-bottom:#ddd solid 1px; padding-bottom:15px;}
.order_track .order_track_l{ width:420px;}
.order_track .order_track_r{ width:250px;}

.alsolike .alsolike_body{ width:740px; height:auto; padding-left:5px; overflow:hidden} 
.alsolike_listmian { width:660px; overflow:hidden; height:324px;}

/*order status*/
.order_track_address{width:450px; height:auto; overflow:hidden; padding:10px 0 0 0}
.order_track_address_l{ width:220px; margin-top:10px;}

.diffusion{ margin:0 auto; width:980px; font-family:Verdana; font-size:12px; line-height:20px;}
.diffusion #header .menu{width:770px;height:30px;background:url(/Views/Images/common/menu_bg.png) repeat-x; float: right; margin-top:13px;}
.diffusion #header .menu li{float:left;padding:0 13px 0 24px;height:30px;line-height:30px;border-right:solid #FFF 1px; text-align:right;}
.diffusion .menu li.newarrivals{background:url(/Views/Images/common/ico.gif) 0px -152px no-repeat;padding-left:35px; width:80px;}
.diffusion .menu li.topsellers{/*background:url(/Views/Images/common/ico.gif) 0px -178px no-repeat;*/ width:70}
.diffusion .menu li.deals{background:url(/Views/Images/common/ico.gif) 0px -202px no-repeat; padding-left:35px;}
.diffusion .menu li.menustore{/*background:url(/Views/Images/common/ico.gif) 0px -228px no-repeat;*/}
.diffusion .menu li.dropshipping{/*background:url(/Views/Images/common/ico.gif) 0px -253px no-repeat;*/}
.diffusion .menu li.reviews{/*background:url(/Views/Images/common/ico.gif) 0px -279px no-repeat;*/}
.diffusion .menu li.videos{/*background:url(/Views/Images/common/ico.gif) 0px -306px no-repeat;*/}
.diffusion .menu li.forums{background:url(/Views/Images/common/ico.gif) 0px -333px no-repeat; padding-left:35px;}
.diffusion #footer{clear:both; padding:30px; background:url(templates/images/diffusionshipping.gif) no-repeat 50% 80px;  text-align:center; height:100px; width:920px;}

/*Products begin*/
.search_m{ width:980px; position:relative; z-index:50;}
.search_m .search_m_l{ width:750px;}
.search_m .search_m_r{ width:220px;}
.textarea_con{ position:relative; width:750px;}
.w580 { width:470px;}
.textarea_con .textarea_tips{ float:left; width:255px; height:auto; position:relative}
.textarea_tips .textarea_tips_txt{ width:225px; height:auto; padding:15px; border:#ffe4c1 solid 1px;background:#fff9f1;}
.detail {width: 980px;}
.detail_info_right {width: 614px;}
.guarantee{ display:none}
.pro_abs{width: 117px;}
.WholeSales{width: 455px; float: left}
.SalesT{width:447px;}
.tags_warp{ width:980px;}
.tags_warp .tags{ width:978px;}
.tags_warp .tag_t{ width:979px}
.tags_warp .tags ul{ width:820px;}
.tags_warp .tags ul li a{ font-size:10px; font-family:Arial}
.explain_l,.description ul.tabs{width:748px;}
.description .description_m {width: 706px;}
.detail_list {width: 746px;}
.detail_list_h .detail_list_h_txt{width:570px;}
.detail_list_h_txt.w600 {width:400px;}
#ajaxImages,#ajaxVideo{ width:706px; height:140px; overflow:hidden}
#ajaxImages .itembox.mr5t10,#ajaxVideo .itembox.mr5t10{margin: 0 10px 5px 0px;}
.add_box_l{width: 215px;}
.add_box_l .quantity {height:40px;}
.end_price.mr20{ margin-right:5px;}
.cont_top{ font-size:11px; font-family:Arial;}
.sku{width:75px;}
.review{width:140px; height:35px;}
.diggs {width: 220px;}
.share {width: 140px;}
.alsobought_warp,.alsoLike_warp{width: 680px;}
.tablewarp,.tablewarp table{width: 700px;}
.tags_con{ width:716px;}
#tags_list {width: 590px;}
.detail_list .detail_list_m {width: 716px;}
.alsobought_warp .scroll_images .itembox.mr5t10{ margin:0px 4px 5px 0px}
.infobody_left,.price_box{width: 614px;} 
.price_box{ width:614px; height:145px; position:relative; overflow:hidden; background:#eee}
.price_box_m{ width:598px}
.add_box {width: 610px;}
.exlinks {width: 590px;height:30px;position: absolute;right: 10px;top: 110px;}
.reviews_con.w930 {width: 710px;}
.average_rating.w920{width:700px;}
.average_rating .average_rating_l,.average_rating .average_rating_r{ width:350px;}
.reviews_list .reviews_list_m,.reviews_list .reviews_list_mIndex{ line-height:21px; padding-bottom:10px; width:470px; float:right}

/*albums_special*/
.albums_special #header { width:980px; margin: auto;}
.albums_special #header .menu{width:750px;height:30px;background:url(../cssimage/common/menu_bg.png) repeat-x; float:left; margin-left:10px;}
.albums_special #header .menu li{float:left;padding:0 12px 0 12px;height:30px;line-height:30px;border-right:solid #FFF 1px;}
.albums_special #header .menu li.newarrivals{background:url(/Views/Images/common/ico.gif) 5px -152px no-repeat;padding-left:35px; width:80px;}
.albums_special #header .menu li.topsellers{/*background:url(/Views/Images/common/ico.gif) 5px -178px no-repeat;*/ width:70}
.albums_special #header .menu li.deals{background:url(/Views/Images/common/ico.gif) 5px -202px no-repeat; padding-left:35px;}
.albums_special #header .menu li.menustore{/*background:url(/Views/Images/common/ico.gif) 5px -228px no-repeat;*/}
.albums_special #header .menu li.dropshipping{/*background:url(/Views/Images/common/ico.gif) 5px -253px no-repeat;*/}
.albums_special #header .menu li.reviews{/*background:url(/Views/Images/common/ico.gif) 5px -279px no-repeat;*/}
.albums_special #header .menu li.videos{/*background:url(/Views/Images/common/ico.gif) 5px -306px no-repeat;*/}
.albums_special #header .menu li.forums{background:url(/Views/Images/common/ico.gif) 5px -333px no-repeat; padding-left:35px;}
.albums_special #content { width:980px; margin:10px auto;}
.albums_special .albums { width:978px; border:1px solid #ddd; background-color:#f6f6f6; padding-bottom:20px;}
.albums_special .v_show { width:978px; height:165px; overflow:hidden;}
.albums_special .v_show .v_content { width:815px; height:165px; overflow:hidden; float:left; position:relative; margin-left:18px;}
.albums_special .albums_content iframe { width:978px;}

/*help*/
.help_headerin{ width:980px;}
.search_help {
width: 686px;
height: 40px;
padding: 9px 0 9px 0px;
margin-right:0px;
}
.header,#breadcrumb,.copyright,.help_body{ width:980px;}
.help_body .HelpNav{ width:720px;}
.drop_shipping_part.h270{height: 270px;}
.status{ width:409px;}
.history {width: 450px;}
.mod1 .status_title h3{ font-size:20px;}
.mod1 .status_title h3 span { font-size: 11px;}
.status_title p{ font-size:11px;}
#ad_facebook{width:750px;height:220px;background:url(../cssimage/abs/ad_facebook.gif) no-repeat;}
#ad_facebook a{display:block;width:950px;height:220px;}

/*products*/
#tags_list li, #hotprotags_list li{width:180px}
.banner_point{display:none}
.banner_point.mt10{margin-top:0px;}