﻿.timeico,.sel li em,.sel li.active em,.exlinks li.first,.exlinks li.second,.exlinks li.third,.list_sort a span,.diggs,.worldwide,.payment .pay_01{background:url(../Images/detail/list_ico.gif) no-repeat;}
.pro_main{width:1200px; margin:0 auto; height:auto; overflow:hidden; position:relative}
.detail, .detail_info_left, .detail_info_left, .explain_l, .explain_l{height:auto; overflow:hidden;}
.detail{width:1200px;}
.detail_info_left{width:355px;height:328px;float:left;}
.detail_info_right{width:834px;float:right;padding:0;}
.explain_l{width:968px;}
.explain_r{width:220px;}
/*detail_lib start*/
#preview{float:none;margin:0px;text-align:center;width:350px;overflow:hidden;}
.jqzoom{width:348px;height:270px;position:relative;border:#d5d6db solid 1px;overflow:hidden;}
.zoomdiv{left:859px;_left:862px;}
.list_h li{float:left;}
#spec_n5{width:350px;height:45px;padding-top:10px;overflow:hidden;}
#spec_left{background:url(../Images/detail/left.gif) no-repeat right;width:8px;height:35px;float:left;cursor:pointer;margin-top:0px;}
#spec_right{background:url(../Images/detail/right.gif) no-repeat left;width:8px;height:35px;float:left;cursor:pointer;margin-top:0px;}
#spec_list{width:332px;float:left;margin-left:2px;text-align:left;overflow:hidden;position:relative;}
#spec_list ul{margin:0px;padding:0px;}
#spec_list div{margin-top:0;margin-left:-30px;*margin-left:0;}
#spec_list ul li{float:left;margin:0;padding:0 4px;display:inline;height:39px;}
#spec_list ul li img{border:1px solid #ccc;width:45px;height:35px;}
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:411px;height:318px;background:url(../Images/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow:hidden;}
.bigimg{width:860px;height:666px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:45px;height:35px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
/*detail_lib end*/
.tags_warp{ position:relative; width:1200px; height:31px;}
.tags_warp .tags{height:28px; border:#ddd solid 1px; background:url(../Images/detail/tag_bg.jpg) repeat-x; width:1198px; position:absolute; left:0; top:0; z-index:2; line-height:28px;}
.tags_warp .tags h3{ padding-left:11px; width:140px;}
.tags_warp .tags ul{ width:1040px; height:auto; overflow:hidden;}
.tags_warp .tags ul li{ background:url(../Images/detail/tags_ico.gif) left 12px no-repeat; margin-right:10px; padding-left:10px;}
.tags_warp .tags ul li a{color:#0041a0;}
.tags_warp .tags ul li em{ color:#c20000}
.tags_warp .tag_t{ height:30px; width:1199px; background:#fff; border-bottom:#f3f3f3 solid 1px; position:absolute; left:1px; top:0; z-index:1;}
.detail_info_right h1{font-size:18px; line-height:25px; font-family:Verdana,Segoe UI,sans-serif; padding:0;}
.cont_top{border-bottom:1px solid #ddd; height:35px; line-height:35px; overflow:hidden}
.timeico{background-position:-30px -453px; padding-left:20px;}
.sku{ width:115px;}
.sku em{color:#666;}
.review{width:180px; height:35px;}
.review a, .diggs a{ color:#014590;}
.diggs{width:360px; background-position:0 -582px; padding-left:10px;}
.diggs a{font-size:11px;text-decoration:underline; padding:0 5px 0 10px;}
.diggs em{color:#ff5a00}
.share{width:160px;}
.share .f, .share .e, .share .t{display:inline-block;background:url(../Images/detail/detail.png) 0 0 no-repeat;}
.share .f{background-position:-259px -35px; width:16px; height:16px;}
.share .e{background-position:-231px -37px; width:18px; height:14px;}
.share .t{background-position:-284px -35px; width:16px; height:16px;}
.ins_box{height:32px; line-height:32px; overflow:hidden}
.stock{width:428px;}
.worldwide{ width:170px; height:24px; background-position:0 -279px;padding-left:20px; color:#56a600}
.stock em.green{color:#56a600}
.payment{width:180px; height:32px; line-height:32px; overflow:hidden}
.payment .payname{height:32px; line-height:32px;}
.payment .pay_01{width:60px; height:32px; background-position:0 -615px;display:inline-block;}
.infobody_left, .infobody_right{height:auto; overflow:hidden} 
.infobody_left{width:834px;}
.infobody_right{width:316px; height:auto; overflow:hidden}
.price_box{ width:834px; height:121px; position:relative; overflow:hidden}
.save_off{position:absolute; top:0; right:0; width:55px; height:48px; background:url(../Images/detail/save.png) no-repeat; color:#FFF; padding:3px 0 0 15px; text-align:center}
.price_box_l{ width:8px; height:121px; background:url(../Images/detail/deal_price.jpg) 0 0 no-repeat;}
.price_box_m{ width:818px; height:121px; background:url(../Images/detail/deal_price.jpg) 0 -121px repeat-x;}
.price_box_r{ width:8px; height:121px; background:url(../Images/detail/deal_price.jpg) 0 -242px no-repeat;}
.price_box_m .price_list{ height:48px; line-height:19px; padding:10px;}

.price_list span.mr5{ margin-right:5px;}
.price_list span.mr20{ margin-right:20px;}
.price_list span a{position:relative; display:inline-block; border:#f7f7f7 solid 1px; border-bottom:none; background:#f7f7f7; padding:0 15px 0 5px; z-index:3}
.price_list span a.active{border:#ddd solid 1px;background:#fff; border-bottom:none;}
.price_list span a em{width:8px; height:10px; background:url(../Images/detail/downmenu_ico.gif) right 2px no-repeat; position:absolute; right:5px; top:6px;}
.add_box{height:45px; width:650px;}
.add_box_l{ width:235px; height:30px; text-align:center; padding-top:5px;}
.add_box_r,.end_price{ width:195px; height:35px;}
.add_to_Card{ width:176px; height:32px; background:url(../Images/detail/detail.png) 0 0 no-repeat;}
.add_to_Card.unuse{background:url(../Images/detail/detail.png) 0 -335px no-repeat;}
.add_to_wish_list,.add_to_drop_ship{width:176px; height:25px; background:url(../Images/links/links.png);}
.add_to_drop_ship{background-position: 0 -372px;}
.add_to_wish_list{background-position: 0 -398px;}


.price_list span .lagueSelect{position:absolute; width:400px; height:auto;border:#ddd solid 1px; background:#fff url(../Images/common/currency_pro.jpg) 8px 0 no-repeat;  left:0; top:19px; line-height:15px; padding:10px 0 10px 15px; display:none;z-index:2}
.price_list span .lagueSelect a{line-height:20px; font-size:11px;height:20px; background:none; float:left; width:110px;display:block; border:none; padding:0; padding-left:20px; margin:0;}


.add_box_l .quantity{height:70px;line-height:23px; width:200px; margin:0 auto;}
.add_box_l .quantity span{display:block;height:23px; width:50px; margin-right:5px;}
.add_box_l .quantity span.w45{width:45px;}
.add_box_l .quantity a{display:block; margin-right:5px; width:17px; height:15px; margin-top:4px;}
.add_box_l .quantity a.add{width:17px; height:15px; background:url(../Images/detail/detail.png) -34px -58px no-repeat; cursor:pointer;}
.add_box_l .quantity a.add.un{background:url(../Images/detail/detail.png) -51px -58px no-repeat; cursor:default;}

.add_box_l .quantity a.reduce{width:17px; height:15px; background:url(../Images/detail/detail.png) -17px -58px no-repeat; cursor:pointer;}
.add_box_l .quantity a.reduce.un{width:17px; height:15px; background:url(../Images/detail/detail.png) 0 -58px no-repeat; cursor:default;}
.add_box_l .quantity .num_txt{width:38px; height:21px; background:url(../Images/detail/detail.png) -271px 0 no-repeat; line-height:21px; text-align:center; border:#c8c7c7 solid 1px; margin-right:5px;}
.add_box_l .end_price{height:40px;line-height:40px; font-size:15px; width:220px;}
.add_box_l .end_price em{ color:#ae0000}
.buymore{height:20px; line-height:20px;}
/*属性选择*/
.sel li{margin-right:5px; height:25px; line-height:25px; position:relative;}
.sel li a{border:#fff solid 1px;height:25px; padding:0 18px 0 10px; line-height:25px; background:#fff; position:relative;}
.sel li em{ width:8px; height:10px; background-position:0 -252px; position:absolute; right:5px; top:5px;}
.sel li.active em{background-position:0 -565px;}
.sel li .sel_dow_menu{ position:absolute; padding:10px 15px; height:auto; background:#fff; border:#ddd solid 1px; left:0; top:24px; z-index:2; display:none}
.sel li .sel_dow_menu a{display:block; padding:1px 0; border:none; height:20px; line-height:20px;}
/*属性选择 end*/
.exlinks{width:160px; height:85px; position:absolute; right:10px; top:20px;}
.exlinks li.first,.exlinks li.second,.exlinks li.third{padding:5px 0 5px 25px; width:130px;}
.exlinks li.first{ background-position:-25px -478px;}
.exlinks li.second{ background-position:-25px -502px;}
.exlinks li.third{background-position:-25px -526px;}


.infobody_right .exlinks a{color:#014590; text-decoration:underline; font-size:12px; margin-right:20px;}
.macfee, .guarantee{height:80px; overflow:hidden}
.macfee{width:135px; position:relative}
.guarantee{width:178px;}
.detail_list{ width:966px; height:auto; overflow:hidden;border-top:#1b61af solid 2px; border-bottom:#ddd solid 1px;border-right:#ddd solid 1px;border-left:#ddd solid 1px;}
.detail_list .detail_list_h{height:26px; line-height:26px; width:100%;background:url(../Images/index/hotitem_h_bg.jpg) 0 0 repeat-x;}
.detail_list_h .detail_list_h_txt{width:790px; padding-left:10px;}
.detail_list_h_txt.w600{ width:600px;}
.detail_list_h .detail_list_h_top{width:150px; position:relative;}
.detail_list_h_top.w320{ width:320px;}
.detail_list_h .detail_list_h_top a.topurl{display:inline-block; background:url(../Images/detail/top_ico.gif) 0 10px no-repeat; font-size:11px; padding-left:10px; color:#0041a0}
.detail_list_h .detail_list_h_top ul{width:114px; position:absolute; top:9px; left:0;}
.detail_list_h_top ul li{ width:17px; height:20px; background:url(../Images/detail/detail.png) 0 -129px no-repeat; line-height:17px; cursor:pointer; text-align:center; font-size:11px; color:#000; float:left; margin-right:1px;}
.detail_list_h_top ul li.current{width:17px; height:20px; background:url(../Images/detail/detail.png) -18px -129px no-repeat; color:#fff}
.detail_list_h_txt a.cblue,.detail_list_h_top a.cblue{color:#0041a0; text-decoration:underline; font-size:11px;display:inline}
.detail_list_h_txt a.cblue em, .detail_list_h_top a.cblue em{color:#c20000}
.detail_list_h_txt a.f12{font-size:12px;}
.pl20{padding-left:20px;}
.detail_list .detail_list_m{padding:15px; width:936px;}
.detail_list .detail_list_m.p015{ padding:0 15px 15px 15px;}
.detail_list_m ul{ margin-bottom:10px;}
.detail_list_m ul li{margin-right:18px; height:120px;}
.detail_list_m ul li.w155{width:155px;}
.detail_list_m ul li.w25{width:25px; background:url(../Images/detail/addico.jpg) 0 48px no-repeat;}
.detail_list_m ul li span,.add_all_to_cart{ margin-bottom:10px;}
.add_all_to_cart{width:135px; height:28px; background:url(../Images/detail/detail.png) 0 -74px no-repeat;}
.add_all_to_wish_list{width:135px; height:26px; background:url(../Images/detail/detail.png) 0 -102px no-repeat;}
.description ul.tabs{ width:968px; height:28px;}
.description ul.tabs li{ line-height:28px; padding:0 10px; height:28px; color:#000; background:url(../Images/detail/tabs_bg.jpg) repeat-x; margin-right:1px; cursor:pointer;}
.description ul.tabs li.active{background:url(../Images/detail/tabs_active.jpg) repeat-x; color:#fff;}
.description .description_m{width:926px; line-height:180%; height:auto; padding:20px; overflow:hidden;border-top:#1b61af solid 2px; border-bottom:#ddd solid 1px;border-right:#ddd solid 1px;border-left:#ddd solid 1px;}
.description_m a.red{ color:#c20000; text-decoration:underline}
.tags_txt{ padding:3px 0 0 5px; height:18px; background:url(../Images/detail/text_bg.jpg) repeat-x; width:242px; border:#ddd solid 1px;}
.tags_sub{ width:52px; height:23px; background:url(../Images/detail/detail.png) -152px -35px no-repeat; border:0; cursor:pointer}
.sortby_box{ height:36px; line-height:36px; background:url(../Images/detail/dash.gif) 0 bottom repeat-x;}
.reviews_list{ border-bottom:#ddd solid 1px; padding:10px 0; }
.reviews_list .PostTitle{line-height:40px;}
.reviews_list .reviews_list_h,.reviews_list .reviews_list_hIndex{line-height:21px; padding-bottom:10px; float:left; width:220px;}
.reviews_list .reviews_list_hIndex{float: right;}
.reviews_list_h .postBy{ padding-right:5px;}
.reviews_list .reviews_list_hIndex .star_Warp,.reviews_list_h .Allstarts_w{ width:180px;}
.reviews_list .reviews_list_h .cblue { border:none;}
.reviews_list .reviews_list_m,.reviews_list .reviews_list_mIndex{ line-height:21px; padding-bottom:10px; width:660px; float:right}
.reviews_list .reviews_list_m{float:right}
.retag span{cursor:pointer}
.reviews_list_m .retag span.cblue,.review_content_c .retag span.cblue{ color:#114EA6; text-decoration:underline}
.reviews_list .reviews_list_mIndex{float:left}

.reviews_list_h .verified{width:87px; height:14px; display:inline-block; cursor:pointer; background:url(../Images/detail/detail.png) 0 -152px no-repeat;}
.detail_list_m h6{ height:35px; line-height:35px;}
.detail_list_m h6 a{ color:#0041a0; text-decoration:underline}
.detail_list_m .addborder a { color:#0041a0; text-decoration:underline}
.detail_list_m h6.addborder{border-bottom:#ddd solid 1px; border-width:0px 0px 1px 0px;}
.detail_list_m ul.bbsdot li{background:url(../Images/detail/dash.gif) 0 bottom repeat-x; padding:5px; height:auto; }
.detail_list_m ul.bbsdot li span{float:right;}
.search_m_l .search_m_main{border:#ddd solid 1px; border-top:#0041a0 solid 2px; padding:18px 15px 20px 15px;}
.thread_table{ width:100%;}
.thread_table td{ padding:5px 0;}
.thread_table td.col_l{ width:100px;}
.title_txt{width:366px; height:18px; line-height:21px; padding:3px 0 0 5px; border:#ddd solid 1px; background:url(../Images/detail/text_bg.jpg) repeat-x}
.content_textarea{width:634px; height:102px; border:#ddd solid 1px; background:url(../Images/detail/text_bg.jpg) repeat-x}
.content_sub{ width:114px; height:23px; background:url(../Images/detail/detail.png) -137px -80px no-repeat; cursor:pointer; border:none;}
.productExplain_title{height:28px; border-bottom:#eee solid 1px;}
.productExplain_title span{background:url(../Images/list/listtabs.jpg) repeat-x; height:28px; padding:0 15px; line-height:28px; color:#114EA6; display:inline-block}
.WholeSales{width: 505px; float: left}
.pro_abs{width: 320px;}
.SalesT{width:497px;}
.tablewarp{clear: both; background-color: #ccc; width: 900px;}
.tablewarp table{ width:900px;}
/*Qestions & Answers*/
.qa_title{ height:29px; width:100%;}
.qa_list{ border:#ddd solid 1px; padding:15px; margin-top:10px;}
.qa_list .asked{word-break:break-all}
.qa_list .answers{ border:#f1e0c6 solid 1px; background:#fffbf5; padding:10px 15px; height:auto; overflow:hidden;word-break:break-all}
.qa_search,.ask_a_question{ height:27px; background:url(../Images/links/links.png) no-repeat;}
.qa_search{ width:66px; border:none; background-position:-334px -259px; cursor:pointer;}
.ask_a_question{ display:inline-block; background-position:-281px -287px; width:119px;}
/*tags_con*/
.tags_con,.tags_list{height:auto; overflow:hidden}
.tags_con{ border-top:#ddd solid 1px; padding:10px 0px 5px 0px; margin-top:15px; width:936px;}
.protags_list,#tags_list{ height:auto; overflow:hidden}
#hotprotags_list{width:960px;}
#tags_list{ width:810px;}
#tags_list li,#hotprotags_list li{ width:230px; height:auto; margin-right:10px; padding:3px 0; float:left;}
#tags_list li a em,#allTags em,#totalCustomer_word em,.onlyt{color:#FF5A00}
#tags_list li a em{ font-size:11px;}
/*Images-list*/
.review_top_left{width: 160px;margin-left: 30px;height: auto;}
.review_top_left{height: auto;padding: 0 20px 0 0;}


/*进度条*/
span.progress_bar{width:100px; height:12px; background:url(../Images/index/index.png) -300px 0 no-repeat; display:inline-block}
span.progress_bar span{width:100px; height:12px; background:url(../Images/index/progress_bar_active.png)  right 0 no-repeat; display:inline-block}
span.progress_bar span.all100{background:url(../Images/index/index.png) -300px -12px no-repeat;}

/*customer Reviews*/
.search_m,.search_m .search_m_l, .search_m .search_m_r{height:auto; overflow:hidden} 
.search_m{ width:1200px;}
.search_m .search_m_l{ width:970px;}
.search_m .search_m_r{ width:220px;}
.average_rating{border-bottom:#ddd solid 1px;padding:15px 0px; width:952px;}
.average_rating .average_rating_l,.average_rating .average_rating_r{ width:450px;}
.average_rating.w920{ width:920px;}
.view_search{border-bottom:solid #ddd 1px; margin:0 15px 15px 15px; padding:5px 0; height:28px; position:relative; z-index:50;}
.view_search.view_search_add{margin:0 15px 5px 0;}
.view_search .view_search_r{width:220px;height:28px; line-height:28px; float:right}
.view_search_r a.prev,.view_search_r a.next{display:inline-block; background:#999; margin-top:6px; line-height:19px; width:39px; height:19px; float:right}
.view_search_r a.next{ background:#e5e5e5 url(../Images/detail/list_ico.gif) 35px -98px no-repeat; padding:0 5px; color:#0041A0}
.view_search_r a.prev{ margin-right:1px; background:#c4c4c4 url(../Images/detail/list_ico.gif) 0 -73px no-repeat; padding-left:10px;}
.view_search_r a:hover{ text-decoration:none; color:#000}
.create_review{ width:203px; height:28px; background:url(../Images/links/links.png) 0 -50px no-repeat; display:block; margin-top:25px;}
.reviews_con{ width:950px; /*border:#ddd solid 1px;*/ background:#fff; overflow:hidden;height:auto}
.reviews_con.w930{ width:930px;}
.reviews_list.noborder{ border:none; padding-left:20px;}
.reviews_con .reviews_list .reviews_list_m.pl220{ padding-right:220px; position:relative; width:460px;}
.reviews_list_m.pl220 .price_star{ width:200px; height:69px; background:#FFF; border:#f6f6f6 solid 1px; position:absolute; right:20px; top:0px;}
.price_star dl{ width:180px; padding:6px 10px 10px 10px;}
.price_star dl dd{ height:17px; float:left; line-height:17px;}
.price_star dl dd span.s_txt{ width:100px; text-align:right; float:left; display:inline-block; height:17px; line-height:17px;}

#star1,#star2,#star3{display:inline-block; width:60px; margin-top:3px; margin-left:5px;}
.rater-star{position:relative;list-style:none;margin:0;padding:0;background-repeat:repeat-x;background-position:left top;}
.rater-star-item,.rater-star-item-current,.rater-star-item-hover{position:absolute;top:0;left:0;background-repeat:repeat-x;}
.rater-star-item{background-position:-100% -100%;}
.rater-star-item-hover{background-position:left bottom;cursor:pointer;}
.rater-star-item-current{background-position:left center;}
.list_sort{position:relative; padding-right:12px; height:28px; line-height:28px;}
.list_sort em{position:absolute; width:7px; height:4px; background:#666; right:2px; top:12px;background:url(../Images/detail/downmenu_ico.gif) 0 0 no-repeat}
.list_sort a{display:inline-block; padding:0 15px 0 8px; position:relative; z-index:4;}
.list_sort a span{ width:7px; height:4px; background-position:-1px -52px; position:absolute; right:5px; top:12px;}
.list_sort a.active{ border:#ddd solid 1px; border-bottom:none; background:#FFF; top:-1px; left:-1px;}
.list_sort .sortByMenu{position:absolute; z-index:11; left:49px; z-index:3; top:27px; padding:8px 10px; border:#ddd solid 1px; display:none; background:#FFF}
.list_sort .sortByMenu a{display:block; color:#666; height:19px; line-height:19px; width:170px;}
.list_sort .sortByMenu a:hover{ color:#000;}
.list_sort a:hover{ color:#333}
.d_wsdeal{ display:block; width:76px; height:16px; font-size:0; background:url(../Images/detail/detail.png) -131px -369px no-repeat; margin:0 20px;}


#question_answer_body{ padding:15px; border:#eee solid 1px; margin-top:15px;}
.Videos_show ul{ overflow:hidden;zoom:1;}
.Videos_show ul li{ float:left; margin-right:16px; margin-top:15px;}
.Videos_show ul li img{ width:135px; height:100px; border:#ddd solid 1px; margin-bottom:10px;}
.rcaption{ width:120px; overflow:hidden; white-space:nowrap; color:#003366; font-size:11px;}

.Videos_show{ padding-left:15px;}
/*控制滚动 background:#CCC;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2;opacity:0.2;*/
.pro_tabs{padding-left:10px;}
.pro_tabs.haveContent{ position:relative}
.pro_tabs .propic_prev, .pro_tabs .propic_next{width:20px; height:30px; position:absolute;  top:70px; z-index:2; cursor:pointer}
.pro_tabs .propic_prev{left:10px;background:url(../Images/detail/propic_prev.jpg) no-repeat;}
.pro_tabs .propic_next{right:10px; background:url(../Images/detail/propic_next.jpg) no-repeat;}
.pro_tabs .items.alsobought{position:relative; height:186px; width:9998px; overflow:hidden}

.alsobought_warp,.alsoLike_warp{position:relative; height:226px; width:900px; overflow:hidden;}
.items.alsobought,.items.alsoLike{position:absolute; top:0; left:0; height:186px; width:9998px; overflow:hidden}
.pageDiv .alsobought_next,.pageDiv .alsobought_prev,.pageDiv .alsoLike_next,.pageDiv .alsoLike_prev,.pageDiv{width:20px; height:30px; float:left;cursor:pointer}
.pageDiv{margin-top:70px; overflow:hidden}
.pageDiv .alsobought_next,.pageDiv .alsoLike_next{background:url(../Images/detail/propic_next.jpg) no-repeat;width:20px; height:30px;}
.pageDiv .alsobought_prev,.pageDiv .alsoLike_prev{background:url(../Images/detail/propic_prev.jpg) no-repeat;width:20px; height:30px;}
.pageDiv .alsobought_next.disableClass,.pageDiv .alsoLike_next.disableClass{background:url(../Images/detail/detail.png) -198px -397px no-repeat;width:20px; height:30px;}
.pageDiv .alsobought_prev.disableClass,.pageDiv .alsoLike_prev.disableClass{background:url(../Images/detail/detail.png) -177px -397px no-repeat;width:20px; height:30px;}

/*min-login*/
.re_table{width:800px; margin:20px 0 0 232px; height:auto; overflow:hidden}
.re_table.m0{ margin:0 auto; width:582px;}
.re_table.mb45{ margin-bottom:45px;}
.re_table thead th{font-weight:normal; padding-bottom:20px;}
.re_table td.loginTable_l{width:150px; padding:0 5px 0 0;}

.re_table td.pb10{ padding-bottom:10px;}
.re_table td.loginTable_l em{color:#c20000; font-size:11px;}
.re_table td.col_m{width:260px; padding:0;}
.reg_txt{ width:255px; padding:4px 0 0 5px; line-height:25px; margin:0; height:21px; border:#ddd solid 1px; background:url(../Images/common/common.png) 0 0 no-repeat;}
.reg_txt.w175{width:175px;}
.addthis_fp{ padding-top:10px; line-height:15px;}
#tooptip{height:35px;width:100%; width:500px; margin:5px auto 0 auto;}
.minloginerrorTips{ background:#fff9f1 url(../Images/common/fv_onError.gif) 5px 6px no-repeat; display:none; padding-left:30px; border:#ffb552 solid 1px; color:#fd7a05; height:33px; line-height:33px;}
.reg_txt.focus{border:#ffb552 solid 1px;}
