﻿.shipping_address td .cc20,.shipping_method .price.cc20{color:#c20000;}



.shop_warp{width:968px;height:60px;}
h1.shopptitle{ height:45px; line-height:45px; border-top:#ddd solid 1px;}
.shop_table{border-collapse:collapse; table-layout:fixed; width:1200px;}
.shop_table th{border:#ddd solid 1px; background:#f5f5f5; padding:10px 0; font-weight:normal; color:#000}
.shop_table td{border:#ddd solid 1px; padding:10px;}
.shop_table .item_name a{ color:#09318b; text-decoration:none; font-size:11px;}
.shop_table .item_name a:hover{text-decoration:underline}
.photo{ width:45px; height:35px; border:#ddd solid 1px; margin:0 auto;}
.td_text { width:31px; height:19px; line-height:19px; border:1px solid #dfdfdf; background:none; text-align:center;}
.td_text.selected{border:1px solid #F95800;}
.update_item .btn_update{ color:#0099ea; cursor:pointer; text-decoration:underline; white-space:normal; border:0; background:none; font-size:11px; padding:0; margin:0}
.Odd{ background:#fff8eb; color:#666; }
.Even{ background:#fff; color:#666; }
.Selected{ background:#fff3f3; color:#999; }
.Over{ background:#f5ffeb; color:#000; }
.remove_item,.ShopCart_addtoWishlist{ width:18px; height:18px; display:inline-block; overflow:hidden; line-height:50px;}
.remove_item{background:url(../images/cart_remove.gif) no-repeat; }
.ShopCart_addtoWishlist{background:url(../images/cart_add.gif) no-repeat; }

.shipping_method{ width:1198px; height:200px;  border:#ddd solid 1px;}
.shipping_method.noborder{ border-top:none}
.shipping_method.h50{ height:50px;}
.shipping_method .shipping_method_l{width:945px; height:auto; overflow:hidden;padding:10px 0 10px 10px;}
.shipping_method .price{width:150px; height:35px; margin-right:85px; background:#f5ffeb; line-height:35px; text-align:center; border-left:#ddd solid 1px; border-right:#ddd solid 1px;}
.shipping_method .price.pt125{padding-top:160px; padding-bottom:5px;}
.shipping_method .price.pt110{ padding-top:116px; padding-bottom:20px;}
.price .price_shippingfree{height:30px; line-height:30px; }
.shipping_method .price.h30,.lh40{ height:30px; padding:10px 0;}
.shipping_method_error{ background:#fff9f1; color:#f95800; border:#ffb552 solid 1px;height:auto; overflow:hidden; padding:8px 10px; margin-bottom:2px;}
.shipping_method_list{margin:10px 0 10px 0; height:auto; overflow:hidden}
.shipping_method_list li{ padding:1px 10px;}
.select_div{padding-left:15px; height:auto; overflow:hidden;line-height:30px;}
.shipping_method_l h1{ height:20px}
.lh30{ height:30px; line-height:30px;}
.apply_coupon{ background:url(../Images/links/links.png) -80px -148px no-repeat; width:117px; height:27px; border:none; cursor:pointer;}
.form_div{height:30px; margin-top:10px;}
.note_txt{width:600px; line-height:16px; float:left}
.note_first{display:block; height:20px; width:40px; color:#000; float:left}
.grandlinks{ background:url(../Images/myaccount/account_ico.png) 0 -234px no-repeat; padding-left:15px; font-size:11px;}
.spAlsobought{ padding-left:25px; margin-bottom:50px;}
.spAlsobought.mb20{ margin-bottom:20px;}
.paymentMethod_div{height:auto; overflow:hidden; padding-bottom:30px; width:1200px;}
.paymentMethod_div .paymentMethod_div_l{ width:860px; height:auto; overflow:hidden}
.paymentMethod_div .paymentMethod_div_l .payment_explain{width:560px; height:auto; margin-top:5px; overflow:hidden}
.paymentMethod_div .paymentMethod_div_l .payment_explain li{ float:left; width:540px; line-height:14px;}
.paymentMethod_div .paymentMethod_div_l .payment_explain li span{ display:block; float:left; width:20px; height:35px;}
.paymentMethod_div .paymentMethod_div_r{width:200px; height:auto; text-align:center;}
.continue_shopping{ width:144px; height:28px; display:block; background:url(../Images/links/links.png) -136px -287px no-repeat}

/*2012-02-19*/
.paymentMethod_div .paymentMethod_div_l .certified_body{height:55px; width:300px;}
.paymentMethod_div .paymentMethod_div_l .certified_body li{float:left}
.credit_card2{ width:174px; height:32px; background:url(../Images/payment_btn1.jpg) no-repeat; cursor:pointer; display:block; float:right}
.paymentMethod_div .paymentMethod_div_l h5.shop_with{height:25px; line-height:25px; font-style:italic;}
.paypal_links2,.unpaypal_links2{display:block; background:url(../Images/index/payment_ico.jpg) 0 -90px no-repeat; margin:30px auto 0px auto;}
.paypal_links2,.unpaypal_links2{width:144px; height:37px;background-position:-168px -11px;}
.total_wrap{width:1200px; margin:15px 0px 0px 0px; position:relative}
.total_wrap li{ height:25px; line-height:25px; text-align:right}
.total_wrap li.addBorder1{ border-bottom:#bcbcbc solid 1px;}
.total_wrap li.addBorder2{ border-bottom:#d9d9d9 solid 1px; height:33px; line-height:33px;}
.total_wrap li span{ display:block; width:100px; height:25px;}
.total_wrap .shopPoints_Div{ position:absolute; left:5px; bottom:10px;}

.shopempty{padding:25px 45px; line-height:21px;}
.pt20l45{padding:0 0 20px 45px;}
h2.border_top{ border-top:#ddd solid 1px;}
.shipping_address{ width:100%; border-collapse:collapse;}
.shipping_address td{ padding:5px;}

.credit_details{ width:100%; height:auto; overflow:hidden}
.credit_details .credit_details_l{width:720px; height:auto}
.credit_details .credit_details_r{width:460px; padding-top:10px;}
.debitcards{ width:225px; height:106px; background:url(../Images/index/index.png) -175px -93px no-repeat;}

#failedTip{ border:#ffb552 solid 1px; background:#fff9f1; padding:6px 10px; color:#fd7a05; width:200px;}
.confirm_payment{ width:138px; height:27px; display:block; background:url(../Images/links/links.png) 0 -h316px no-repeat}
.order_subtotal{padding:0 0 0 15px; border-bottom:#ddd solid 1px; height:50px; margin-bottom:15px; line-height:50px}
.order_number{padding:15px 60px; border-bottom:#ddd solid 1px;}
.order_number dd{ text-align:left; height:25px; line-height:25px;}
.order_number dd span{ width:120px; height:25px; line-height:25px; float:left; text-align:right; padding-right:5px;}
.gotomy_account, .continue_shopping_v2{width:138px; height:27px; background:url(../Images/links/links.png) 0 -344px no-repeat; display:block;}
.continue_shopping_v2{ background-position:-139px -316px;}
.gotomy_account.mr30{ margin-right:30px;}
.complete_body{ padding:20px 60px 50px 60px;}
.complete_tltle{height:50px; line-height:50px;}
.complete_tltle.border_bot{border-bottom:#ddd solid 1px;}
.complete_foot{padding:20px 0 0 70px;}
.complete_foot.pl150{ padding-left:150px;}
.failed_body{line-height:19px; padding:50px 0 0 70px;}
#moreMoney,#overSizeOrWeightTip{ background:url(../Images/common/orange_ico.gif) 60px 5px no-repeat;line-height:15px;}
#overSizeOrWeightTip{padding-left:70px;}

/*shopcart*/
.shopping_sku{width:95px}
.shopping_Image{width:80px}
.shopping_UnitPrice{width:120px}
.shopping_Quantity{width:150px}
.shopping_TotalPrice{width:150px}
.shopping_Operation{width:85px}

/*modify*/
.shoppingList,.shoppingList_inner,.shoppingList_inner_l{ height:auto;}
.shoppingList{width:1198px; border:#ddd solid 1px;}
.shoppingList.noborder,.shoppingList.noborderT{ border-top:none;}
.shoppingList .shoppingList_inner{border-right:#ddd solid 1px; margin-right:85px;position:relative; width:1112px;}
.shoppingList .shoppingList_inner .shoppingList_inner_l{ background:#FFF; width:946px; border-right:#ddd solid 1px; padding:13px 0px 13px 15px;}
.shoppingList_inner .shoppingList_inner_l .shipping_method_con{width:948px;position:relative; z-index:50;
	width:946px;		/**/
	width:946px\9;	/*all ie*/
	width:946px\0;	/*ie8*/
	+width:946px;	/*ie7*/	
	_width:946px;	/*ie6*/ 
}
:root .shoppingList_inner .shoppingList_inner_l .shipping_method_con { width:946px\9;position:relative; }  /*ie9*/
@media all and (min-width:0px){ .shoppingList_inner .shoppingList_inner_l{width:946px\0;position:relative;} }  /*opera*/
@media screen and (-webkit-min-device-pixel-ratio:0){.shoppingList_inner_l{width:948px;position:relative;}}/*chrome and safari*/

.shipping_method_innercon{width:880px; float:left; height:auto;}
.shipping_method_innercon h2{ background:url(../images/shopping_title_ico.jpg) 0 5px no-repeat; padding-left:10px; height:15px; line-height:15px;}
.shoppingList .shoppingList_inner .shippingcost{position:absolute; right:0px; width:150px; text-align:center; top:48%;}
.shippingselect{padding:5px;}
.shippingprice{position:absolute; right:242px;top:48%;}
.grandprice{position:absolute; right:5px;top:14px; color:#c20000; width:150px; text-align:center}

/*Payment Tips*/
#payment_Tips{width:508px; height:auto; margin:15px;}
#payment_Tips ul{border-top:#ddd solid 1px; padding:10px 30px 15px 30px; height:auto; overflow:hidden}
#payment_Tips ul.success{background:url(../Images/detail/success.jpg) 5px 12px no-repeat;}
#payment_Tips ul.issue{background:url(../Images/detail/issue.jpg) 5px 12px no-repeat;}

#payment_Tips ul li{ width:410px; padding:3px 0; background:url(../Images/detail/list_ico.gif) 0 -93px no-repeat; padding-left:15px;}


.shipping_method_innercon .coupon_tip {left: 340px;z-index: 11; top:130px;width: 340px;height: auto;position: absolute;top:72px;color:#666;background:#FFF8EB;border: 1px solid #F4C978;
padding: 10px; display:none; z-index:50;}
.coupon_tip li {padding: 2px;}
.coupon_error{height:20px; line-height:20px}

/*shopping注册*/
.returnCustomers{ width:830px; margin:0 20px 30px 20px;}
.returnCustomers .returnCustomers_tabs{height:29px; width:800px; border-bottom:#ddd solid 1px; padding:0 10px; margin-bottom:10px;}
.returnCustomers .returnCustomers_tabs li{padding:0 15px; height:29px; cursor:pointer; line-height:29px; background:url(../Images/myaccount/account_ico.png) 0 -312px repeat-x; color:#111; float:left; margin-right:1px;}
.returnCustomers .returnCustomers_tabs li.active{background:url(../Images/myaccount/account_ico.png) 0 -283px repeat-x; color:#fff;}
.returnCustomers .returnCustomers_con{ width:830px; height:auto;}
.returnCustomers_con .returnCustomers_con_list{ width:830px; height:300px;}


.returnCustomers_r{width:660px;line-height:19px; height:auto; padding:0 15px;overflow:hidden;}

.btnshipping_Signin,.btnshipping_creat,.btnshipping_continuePaypal{background:url(../Images/links/links.png) 0 0 no-repeat; display:block; height:29px; margin-top:5px; cursor:pointer}
.btnshipping_Signin{width:88px; background-position:-146px -465px; border:none; cursor:pointer}
.btnshipping_Signin.disable{background-position:-118px -678px;}
.btnshipping_creat{width:169px; background-position:-235px -465px; border:none}
.btnshipping_creat.disable{}
.btnshipping_continuePaypal{width:169px; background-position:-235px -495px;}


.new_table{table-layout:fixed; margin:0 10px; width:800px}
.new_table td{ padding:3px 0;}
.new_table td.new_table_l{ width:180px;}
.shipping_table{width:660px;border-spacing:0px;}
.shipping_table td.shipping_table_l{ width:140px}h
.paying{ width:400px; height:auto;}
/*CouponSignIn*/
.couponSignIn,.couponSignIn_inner{width:550px; height:274px; margin-bottom:15px;}
.couponSignIn table{width:550px;}

.wholesale_dress { background:url(../Images/myaccount/dress.gif) no-repeat 19px 15px #f4f4f4; margin-top:33px; padding:24px 33px 0 97px; font-family:Arial, Helvetica, sans-serif;}
.wholesale_dress h3 { font-size:18px; font-weight:bold; color:#373538; height:29px; line-height:29px; border-bottom:1px dashed #cccccc;}
.wholesale_dress .coupon_code { padding:13px 0 0 2px; line-height:24px; font-size:15px; font-weight:bold; color:#373538;}
.wholesale_dress .text { color:#373538; font-size:14px; line-height:18px; padding-left:2px;}
.wholesale_dress .coupon_more { padding:20px 0 10px 2px; height:24px; line-height:24px;}
.wholesale_dress .coupon_more a { font-size:12px; font-weight:bold; color:#114ea6; text-decoration:underline; margin-right:35px;}
/*Order Complete*/
#Payment_Header{ height:102px; background:url(../Images/payment/topbg.png) 0 0 repeat-x; width:100%; overflow:hidden}
.Payment_HeaderIn{width:950px; height:90px; margin:10px auto 0px auto; overflow:hidden;}	
.Payment_HeaderIn .logo{width:196px; height:60px; margin-top:25px; float:left; display:block;background:url(../Images/payment/focalprice_logo.png) 0 -25px no-repeat; line-height:180px; overflow:hidden}
.Payment_HeaderIn .top_r{ width:488px; height:42px; float:right;margin-top:35px; font-family:arial; background:url(../images/payment/speedbg.jpg) 0 bottom no-repeat; margin-right:85px;}
.Payment_HeaderIn .top_r span{display:block; height:39px; line-height:18px; float:left; width:162px;} 
.Payment_HeaderIn .top_r span.CurrentTxt{ color:#7da429; font-weight:bold}
.Payment_HeaderIn .VeriSign{ width:110px; height:55px; float:right; margin-top:25px; background:url(../images/VeriSignPic.jpg) 0 0 no-repeat}
.orderComplete_Body{ width:700px; margin:35px auto; border:#d2d2d2 solid 1px; padding:10px;}
.orderComplete_Body h5 a{ text-decoration:underline;}
.orderComplete_Body h6{ padding:10px 0px 5px 35px;}
.orderComplete_Mian{ width:602px; background:#f6f6f6; border:#c6c6c6 solid 1px; margin:15px auto 20px auto; padding:10px 15px;}
.orderComplete_number{padding:15px 60px; border-bottom:#c5c5c5 dotted 1px;}
.orderComplete_number.noborder{ border-bottom:none}
.orderComplete_number dd{ text-align:left; height:21px; line-height:21px;}
.orderComplete_number dd span{ width:120px; height:21px; line-height:21px; float:left; text-align:right; padding-right:5px;}
.orderComplete_foot{ height:auto; overflow:hidden; padding-left:60px; padding-bottom:20px; padding-top:15px;}
.gotomy_account2, .continue_shopping_v3{width:126px; height:29px; background:url(../Images/payment/pay_btn.jpg) no-repeat; display:block;}
.continue_shopping_v3{ background-position:-127px 0px;}
.gotomy_account2.mr10{ margin-right:10px;}
