﻿@model IEnumerable<FlcalPriceRD.Category>
<div class="grid_col_sub">
    <script type="text/javascript">
        $(function () {
            $("#dsmenu > li").each(function () {
                if ($(this).children("ul").length != 0) {
                    $(this).children("span").toggle(function () {
                        $(this).parent("li").addClass("expand");
                        $(this).parent().contents("ul").show();
                    }, function () {
                        $(this).parent("li").removeClass("expand");
                        $(this).parent().contents("ul").hide();
                    })
                }
            });
            var x = "@ViewBag.exp";
            if (x != '') {
                $("#dsmenu li:nth-child(" + x + ") span").click();
            }
        });
    </script>
    <div class="revieweditems mt10">
        <div class="revieweditems_h">
            <h1 class="fleft" id="parent_categoryname">Pet Supplies</h1>
        </div>
        <div id="dsav">
            <ul>
                @foreach (var item in @Model)
                {
                    <li class="nochildren"><span></span><a title="" class="sub_category_name" href="/category/@item.ID/@item.Name.Replace(" & ", "-").Replace(" ", "-")">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px">
       @* <a href="http://stores.ebay.com/24sell24" target="_blank">
            <img src="../../Content/Images/ebaystore.jpg" alt="ebaystore" />
        </a>
        <br /><br />
        <a href="https://www.etsy.com/shop/petsmartpm" target="_blank">
            <img src="../../Content/Images/etsy%20shop.jpg" alt="etsystore" />
        </a>
        <br /><br />
        <a href="http://www.ioffer.com/selling/24sell24 " target="_blank">
            <img src="../../Content/Images/iofferstore.jpg" alt="iofferstore" />
        </a>*@
    </div>
    <br />
</div>
