﻿@model List<FlcalPriceRD.ViewModels.ProductListViewModel>
@{
    var pageno = ViewBag.pageno;
    var categoryproductcountlist = (List<MvcFocalPrice.Controllers.categoryproductcount>)ViewBag.categoryproductcountlist;
    var description = (FlcalPriceRD.Category)ViewBag.catedescript;
    var totalpage = (int)ViewBag.totalpage;
}
<div class="grid_col_main">
    <div class="grid_main_wrap mt10">
        <div id="cate_describe" class="cate_describe">
            <h1 class="f14 c00 pb5">
                <a href="../../category/@description.ID/@description.Name.Replace(" ", "").Replace('&', '-')">@description.Name</a>
            </h1>
            <em></em>
        </div>
        @if (categoryproductcountlist != null)
        {
            <div id="conditionContent" class="search_list w940 mauto mt10">
                <div class="search_list_t" id="condition_refine">
                    <div class="search_list_t_title c00 f14 fleft mr10">
                        <span class="db fleft search_list_t_title_ico un" style="display: none"></span><span
                            class="db fleft">Refine By:</span>
                    </div>
                </div>
                <div class="search_list_box clearfix search_attributes_mark" style="position: relative">
                    <div class="search_list_box_r w850" id="cate" style="z-index: 3">
                        @foreach (var item in categoryproductcountlist)
                        {
                            <div class="catelist w135 classify">
                                <div class="catelist_first">
                                    <a class="catelist_Dmenu" href="/category/@item.ID/@item.CategoryName.Replace(" & ", "-").Replace(" ", "-").Replace(@"""", "")">
                                        <abbr>
                                            @item.CategoryName</abbr><em>(@item.ProductCount)</em></a>
                                </div>
                            </div>
                        }
                        <div class="catelist_more f11">
                            More</div>
                    </div>
                </div>
            </div>
        }
        <div class="listhead mt10" id="filter_view">
            <ul class="tabs fleft">
                <li class="active fleft"><a><em id="all_item_count" style="font-weight:bold">All Items(@ViewBag.producttotal)</em></a></li>
            </ul>
            <div class="fleft mr10">
            </div>
            <div class="fright list_sort">
                <span class="fleft fb">Sort by: </span>
                @Html.ActionLink("Lowest Price", "Index", new { orderby = "lowestprice", exp = ViewBag.exp})
                @Html.ActionLink("Highest Price", "Index", new { orderby = "highestprice", exp = ViewBag.exp})
            </div>
        </div>
            <div id="list_content" class="items addborder">
                @foreach (var item in Model)
                {
                    <div class="itembox ml15 mb20">
                        <ul class="infobox">
                            <li><a href="/product/@item.ID/@item.Name.Replace("+", "-").Replace("/", "-").Replace(" & ", "-").Replace(" ", "-").Replace(@"""", "").Replace(@":", "-")">
                                <img src="/FeaturePic/@item.picname" alt="@item.Name" style="width:155px" />
                            </a><span class="pro_instock"></span></li>
                            <li class="proName f11"><a title="@item.Name" href="/product/@item.ID/@item.Name.Replace("+", "-").Replace("/", "-").Replace(" & ", "-").Replace(" ", "-").Replace(@"""", "").Replace(@":", "-")">
                                @item.Name</a></li>
                            <li class="proPri"><span>US @item.Price.ToString("C")</span></li>
                            <li class="freeShip">Free Shipping </li>
                        </ul>
                    </div>
                } 
            </div>
        <div class="clear">
        </div>
        <div class="pages fright">
            <span>Pages: @pageno/@totalpage</span>
            @Html.ActionLink(" ", "index", new { pageno = 1, orderby = (string)ViewBag.sort }, new { @class = "prevall" })
            @Html.ActionLink(" ", "index", new { pageno = pageno == 1 ? 1 : pageno - 1, orderby = (string)ViewBag.sort }, new { @class = "prev" })
            @if (@totalpage <= 7)
            {
                for (int i = 1; i <= totalpage; i++)
                {
                    if (i == pageno)
                    {
                         <a class="current">@i</a>
                    }
                    else
                    {
                        @Html.ActionLink(i.ToString(), "index", new { pageno = i, orderby = (string)ViewBag.sort })
                    }
                }
            }
            else
            {
                if (@pageno <= 4)
                {
                    for (int i = 1; i <= pageno + 2; i++)
                    {
                        if (i == pageno)
                        {
                             <a class="current">@i</a>
                        }
                        else
                        {
                            @Html.ActionLink(i.ToString(), "index", new { pageno = i, orderby = (string)ViewBag.sort })
                        }
                    }
                    <span href="#" class="ellipsis"> ....</span>
                    @Html.ActionLink(totalpage.ToString(), "index", new { pageno = totalpage, orderby = (string)ViewBag.sort })
                }
                else
                {
                    if (totalpage <= pageno + 3)
                    {
                        @Html.ActionLink("1", "index", new { pageno = 1, orderby = (string)ViewBag.sort })
                        <span href="#" class="ellipsis"> ....</span>
                        for (int i = pageno - 2; i <= totalpage; i++)
                        {
                            if (i == pageno)
                            {
                                 <a class="current">@i</a>
                            }
                            else
                            {
                                @Html.ActionLink(i.ToString(), "index", new { pageno = i, orderby = (string)ViewBag.sort })
                            }
                        }
                    }
                    else
                    {
                         @Html.ActionLink("1", "index", new { pageno = 1, orderby = (string)ViewBag.sort })
                        <span href="#" class="ellipsis"> ....</span>
                        for (int i = pageno - 2; i <= pageno + 2; i++)
                        {
                            if (i == pageno)
                            {
                                 <a class="current">@i</a>
                            }
                            else
                            {
                                @Html.ActionLink(i.ToString(), "index", new { pageno = i, orderby = (string)ViewBag.sort })
                            }
                        }
                        <span href="#" class="ellipsis"> ....</span>
                         @Html.ActionLink(totalpage.ToString(), "index", new { pageno = totalpage, orderby = (string)ViewBag.sort })
                    }
                }
            }
            @Html.ActionLink(" ", "index", new { pageno = pageno == @totalpage ? pageno : pageno + 1, orderby = (string)ViewBag.sort }, new { @class = "next" })
            @Html.ActionLink(" ", "index", new { pageno = @totalpage, orderby = (string)ViewBag.sort }, new { @class = "nextall" })
            <div class="clear">
            </div>
        </div>
    </div>
</div>