﻿@model List<FlcalPriceRD.Category>
@{
    ViewBag.Title = "Resource no found";
}
<div class="grid_col_main">
    <div class="grid_main_wrap mt10">
        <div style="margin-top:50px; margin-left:100px">
            <div class="errer_body_l fleft">
                <img src="../../Content/Images/error.png" alt="404error" />
            </div>
            <div class="errer_body_m fleft">
                <div class="error_middiv" style="width:500px">
                    <p style="font-size: 40px; line-height: 50px;" class="cblue mb10">
                        <em class="cf50">Error:</em></p>
                    <h1 style="font-size: 22px; line-height: 50px;">
                        404 Not found</h1>
                    <p class="c00 f14">
                        We&#39;re sorry. The web address you entered is not a functioning page on our site.
                        Please visited the <a class="cf50ulin" href="http://www.petsmartpm.com">petsmartpm.com</a></p>
                </div>
            </div>
    </div>
    </div>
</div>
@Html.Partial("CategoryMenu", @Model)
