﻿    <ul>
        <li><a href="@Url.Content("~/Warranty")">Product Warranty</a></li>
        <li><a href="@Url.Content("~/ReturnPolicy")">Return Policy</a></li>
        <li><a href="@Url.Content("~/TermofUse")">Term of Use</a></li>
        <li><a href="@Url.Content("~/PrivacyPolicy")">Privacy &amp; Security Policy</a></li>
    </ul>