﻿<div class="HelpCate">
    <h4>
        <a>Policy</a></h4>
    <ul>
        @*<li><a href="@Url.Content("~/Warranty")">Product Warranty</a></li>*@
        @*<li><a href="@Url.Content("~/ReturnPolicy")">Return Policy</a></li>*@
        <li><a href="/TermofUse">Term of Use</a></li>
        <li><a href="/PrivacyPolicy">Privacy &amp; Security Policy</a></li>
        <li><a href="/Shipping">Shipping</a></li>
    </ul>
    @*<h4>
        <a>FAQs</a></h4>
    <ul>
        <li><a>Payment </a></li>
        <li><a>Shipping </a></li>
        <li><a>Ordering</a></li>
    </ul>*@
    <h4> 
        <a>Company Info</a></h4>
        <ul>
    <li><a href="/AboutUs">About Us</a></li>
    <li><a href="/ContactUs">Contact Us</a></li>
    </ul>
</div>
