﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/global.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/list.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/product.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="http://www.focalprice.com/Views/favicon.ico" />
    <link rel="stylesheet" rev="stylesheet" id="skin" type="text/css" media="all" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/screen.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.watermark.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.alphanumeric.pack.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#keyword").watermark("Enter keywords to search in our products");

            $("#btnsearch").click(function () {
                var keyword = $("#keyword").val();
                location.href = @Url.Content("/search/") + keyword;
            });

            var css_url1024x768 = "../../Content/1024.css";
            if (screen.width < 1200 || $(window).width() < 1200) {
                $("#skin").attr("href", css_url1024x768);
            }
            $(window).resize(function () {
                if ($(window).width() < 1200) {
                    $("#skin").attr("href", css_url1024x768);
                } else {
                    $("#skin").removeAttr("href", "");
                }
            });
            setTimeout(function () { goTop() }, 500);
        })
    </script>
    <meta name="google-site-verification" content="GZ7lZ1_LUnyyUE0vtiGwZEJZl_-Em8SRwxpFMqCFK-Y" />
</head>
<body>
    <div id="topmenu" class="mauto">
        <ul class="topmenu_l fleft">
            <li class="fleft home"><a class="cf50" href="/">Home</a></li>
        </ul>
        <ul class="topmenu_r fright">
            <li class="fright f11" style="margin-left:5px; margin-right:15px"><a href="/AboutUs">Help</a></li>
            <li class="fright line"></li>
            <li class="fright account f11"><a class="selMenu" id="selMenu" href="/Account/LogOn">My
                Account</a> <span></span></li>
            <li class="fright line"></li>
            @Html.Partial("_LogOn")
        </ul>
    </div>
    <div class="mauto headerin mb10">
        <div class="fleft"><br />
            <a title="Welcome to petsmartpm!" style="margin-left:10px" href="/"><img src="../../cssimage/logo.png"/></a></div>
        <div class="search_warp fright">
            <div style="float:left; width:720px">
                <input name="keyword" class="fleft headinput" id="keyword" value="" type="text" size="50" />
                <input type="submit" id="btnsearch" class="btn_search fleft" value="" /><br /><br /><br />
                <label style="font-weight:bold">Popular Searches:</label>
                    <a style="text-decoration:underline; margin-left:5px" href="/search/Coat">Coat</a>
                     <a style="text-decoration:underline;margin-left:5px" href="/search/Carrier">Carrier</a>
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Dress">Dress</a> 
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Skirt">Skirt</a> 
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Tote">Tote</a>
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Bed">Bed</a> 
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Bowl">Bowl</a>
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Travel">Travel</a>
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Bag">Bag</a>
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Leash">Leash</a>
                      <a style="text-decoration:underline;margin-left:5px" href="/search/Toy">Toy</a>
                <div class="clear">
                </div>
            </div>
            <div class="homecart fleft">
                @{Html.RenderAction("CartSummary", "Shopping");}
            </div>
        </div>
        <div class="clear">
        </div>
            <div style="height:2px; margin-top:10px; background-color:#1c6cbe"></div>
    </div>

    <div class="grid_main clearfix" style="min-height:600px">
        <div class="col_main">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="copyright f11">
            <img src="../../cssimage/footbanner.PNG" /><br />
            &#169; 2012 www.petsmartpm.com All rights reserved.
        </div>
    </div>
</body>
</html>
