﻿@if(Request.IsAuthenticated) {
     <text><li  class="fright f11">  @Html.RouteLink("Log Off", "default", new { controller = "Account", action = "LogOff" }, new { @style = "margin-right:10px;" })</li>
   <li  class="fright f11">Welcome <strong style="margin-right:5px">@User.Identity.Name</strong></li>
  </text>
}
else
{
   @*@Html.ActionLink(" Log On", "LogOn", "Account", new { @class = "selMenu" })*@
   <li  class="fright f11">@Html.RouteLink("Sign in or Register", "default", new { controller = "Account", action = "LogOn" }, new { @class = "selMenu", @style="margin-right:10px" })</li>
   @*<a href="@Url.Content("~/Account/Logon")" class="selMenu"> Log On</a>*@
}