﻿@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table, td, th {
        border: 1px solid green;
    }
</style>
<link href="../../Content/help.css" rel="stylesheet" type="text/css" />
<div class="help_body">
    @Html.Partial("_HelpMenu")

    <div class="HelpNav helpinfo">
        <div class="helpinfosingle" id="118">
            <h3>How does petsmartpm.com get my shipping address?</h3>
            We'll get your shipping address when you make a payment by PayPal.
            <br />
            Please note, PayPal will be not sharing any of your financial information with us except shipping address.
            <br />
            If there is something unusual about the destination address, our customer service representative will confirm it with you before shipping the package.<br />
            Please contact us immediately if your shipping address is different than your PayPal shipping address.<br />
            <br />
            <h3>What are the steps of processing an order?</h3>
            The steps of processing an order in petsmartpm.com are as follows:<br />
            Step 1: Order printed by our system (0-1 business day)<br />
            Step 2: Order packaged by our warehouse (1-3 business days)<br />
            Step 3: Package delivered to Post Office or Express Center (1 day)<br />
            Step 4: Order processed by post and en route to your destination.<br />
            <br />
            <h3>Is a tracking number provided for my order?</h3>
            petsmartpm.com offers tracking number for all orders.<br />
            <br />
            <h3>Can I 
			require ship order via Express?</h3>
                Petsmartpm.com generally ship order via Post office 
			registered airmail but if you require ship order via Express,we will 
			according to your order amount decide whether charge extra shipping 
			fee.<br /><br />
            <h3>What is the estimated delivery time to destination?</h3>
            Considering the complicated international shipping procedures, the estimated delivery time table below is provided only for reference:<br />
            <table cellpadding="10" style="width: 100%; border-spacing: 2px; border-color: gray; border-collapse: collapse">
                <tr>
                    <td style="width: 59%">Area</td>
                    <td style="width: 15%">Delivery time</td>
                    <td style="width: 18%">Delivery time In Peak Season</td>
                </tr>
                <tr>
                    <td>United States, United Kingdom</td>
                    <td>7-10 calendar days</td>
                    <td>15-20 calendar days</td>
                </tr>
                <tr>
                    <td>Europe, Australia, Japan, South Korea</td>
                    <td>10-20 calendar days</td>
                    <td>20-25 calendar days</td>
                </tr>
                <tr>
                    <td>Russia, Ukraine, New Zealand, Singapore, Vietnam, Malaysia, Israel, Indonesia, Turkey, Canada</td>
                    <td>20-25  calendar days</td>
                    <td>30-35  calendar days</td>
                </tr>
                <tr>
                    <td>Brazil, Argentina, Chile, Mexico</td>
                    <td>30-40 calendar days </td>
                    <td>40-50 calendar days</td>
                </tr>
            </table>
            <br />
        </div>
    </div>
