﻿@model MvcMemberShip.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <table class="re_table mb45">
        <thead>
            <tr>
                <th colspan="4" class="alignL cf50 f20">
                    Register
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col_l alignR c00">
                    <em>*</em>Nickname:
                </td>
                <td class="col_m alignL" colspan="2">
                    @Html.TextBoxFor(m => m.UserName)
                </td>
                <td width="335">
                    <div id="nicknameTip" class="cf50">
                    @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col_l alignR c00">
                    <em>*</em> Email Address:
                </td>
                <td class="col_m alignL" colspan="2">
                    @Html.TextBoxFor(m => m.Email)
                </td>
                <td>
                    <div id="emailAddressTip" style="color: #FF5A00; padding-left: 0px;">
                    @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col_l alignR c00">
                    <em>*</em> Password:
                </td>
                <td class="col_m alignL" colspan="2">
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td>
                    <div id="passwordTip" class="cf50">
                    @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col_l alignR c00">
                    <em>*</em> Confirm Password:
                </td>
                <td class="col_m alignL" width="270" colspan="2">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
                <td>
                    <div id="comparePasswordTip" class="cf50">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td id="termsTip" colspan="3" class="alignL f11 cred">
                </td>
            </tr>
            <tr>
                <td class="col_l alignR">
                </td>
                <td class="col_m alignL" colspan="3" style="padding-top: 15px;">
                    <input type="submit" class="bluebtn" value="Register" />
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
}
