﻿@{
    ViewBag.Title = "Index";
}
<link href="../../Content/help.css" rel="stylesheet" type="text/css" />
<div class="help_body">
    @Html.Partial("_HelpMenu")
    <div class="HelpNav helpinfo">
        <div class="helpinfosingle" id="129">
            <div>
                <b>About Us</b>
                <p>
                    <span>petsmartpm  is a family-owned business and we are pet owners just like you. We have always believed that pets are part of our family and they deserve the best care possible. 
                        This is why we are passionate about bringing you quality products that allow your pets to have better and healthier lives..
                        <br />
                        <br />
                    </span>
                </p>
                <p>
                    <strong>1. Best Price<br />
                    </strong>
                        <span>Shop with us and expect to pay 10-70% less
                            than any other site. If you do find a product for less on a competing
                            website then tell us and we will resolve to match it.</span><br /><br />
                </p>
               @* <p>
                    <br />
                    <b>2. <b><span lang="EN-US">Wide</span></b><b><span lang="EN-US"> Product Range<br />
                    </span></b></b><span lang="EN-US">petsmartpm has more than 7,000 products across almost
                        30 categories. petsmartpm is always developing and adding products to its site to meet your demands.<br />
                        <br />
                        <br />
                    </span>
                </p>*@
                <p>
                    <strong>2. </strong><strong>Shipping<br />
                    </strong><span lang="EN-US">All orders at petsmartpm will be shipped by airmail.
                        United States Free Shipping, Worldwide low shippping fee. Petsmartpm is always optimizing the shipping process to decrease the time
                        needed for customers to receive their orders.</span>
                </p>
                <p>
                    <b><span lang="EN-US">
                        <br />
                        3.Assured Quality</span></b>
                </p>
                <p class="MsoNormal">
                    <span lang="EN-US">petsmartpm is dedicated to provide quality products to customers.
                        The products must go through three standard quality control processes at our warehouse,
                        before they can be shipped.</span>
                </p>
                <br />
            </div>
        </div>
    </div>
</div>
