﻿@model IEnumerable<FlcalPriceRD.Order>

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Username
        </th>
        <th>
            Total Price
        </th>
        <th>
            Order  Date
        </th>
        <th>
            IsCompleted
        </th>
        <th>
            IsVerify
        </th>
        <th>
            Tracking Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width:120px">
            @Html.Label("20084" + item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orderdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVerify)
        </td>
        <td>
            @Html.DisplayFor(model=>item.TrackingNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }, new {@style="color:blue" }) 
        </td>
    </tr>
}
</table>
