@{
    var orderinfo = (FlcalPriceRD.Order)ViewBag.order;
}
@model List<FlcalPriceRD.OrderDetail>
 <label>Dear Customer, </label><br /><br />          
<label>We have received following order.</label>
<label>Your order will be shipped within today or next business day.</label><br />
<label>You will receive an invoice in email with tracking info once order is shipped.</label><br />
 <label> Please email info@petsmartpm.com if you have any questions.</label><br />
<label>Thank you for your business. It is greatly appreciated.</label><br /><br />
<div style="width:500px; background-color:#cfceca; text-align:left; padding: 5px 2px 5px 20px; color:black; font-weight:bold"> @Html.Label("Order ID : " + "20084" + orderinfo.OrderID.ToString())</div>
<div style="font-weight:bold; padding-left:20px; margin-top:5px; margin-bottom:20px">
@Html.Label("SHIPPING ADDRESS : ")<br /><br />
@Html.Label(orderinfo.AddressName)<br />
@Html.Label(orderinfo.Address)<br />
@Html.Label(orderinfo.City + ",")
@Html.Label(orderinfo.State + ",")
@Html.Label(orderinfo.PostalCode)<br />
@Html.Label(orderinfo.Country)
    </div>
<table style="color: black; border-top-color: #dedfde; border-right-color: #dedfde; border-bottom-color: #dedfde; width:700px; border-left-color: #dedfde; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-collapse: collapse;">
    <thead>
        <tr style="height: 30px; color: #98cc46; font-weight: bold; background-color: rgb(51, 51, 51);">
            <th>
                <b>SKU</b>
            </th>
            <th>
                <b>Name</b>
            </th>
            <th>
                <b>Unit Price</b>
            </th>
            <th>
                <b>Quantity</b>
            </th>
            <th>
                <b>Price</b>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr align="center" style="height: 30px; background-color: gainsboro;">
                <td align="center" style="width:80px">
                    @item.Product.Sku
                </td>
                <td align="left" style="width:450px">
                    @item.Product.Name
                </td>
                <td align="center" style="width:80px">
                    <span>@item.UnitPrice.ToString("C")</span>
                </td>
                <td align="center" style="width:50px">
                    <div class="quantity">
                        @item.Quantity
                    </div>
                </td>
                <td align="center" style="width:80px">
                    <span>@((item.UnitPrice * item.Quantity).ToString("C"))</span>
                </td>
            </tr>
        }
         <tr style="height: 30px; background-color: rgb(51, 51, 51); color: #98cc46;">
            <td colspan="4" align="right">
                <span>Shipping :</span>
            </td>
            <td align="center">
                <span>@Convert.ToDecimal(orderinfo.Shippingfee).ToString("C")</span>
            </td>
        </tr>
        <tr style="height: 30px; background-color: rgb(51, 51, 51); color: #98cc46;">
            <td colspan="4" align="right">
                <span>Total :</span>
            </td>
            <td align="center">
                <span>@Convert.ToDecimal(orderinfo.Total).ToString("C")</span>
            </td>
        </tr>
    </tbody>
</table>
<div style="margin-top:20px">
    Sincerely,<br />
    petsmartpm.com<br />
    Delivering Quality, Value and Care
</div>
