﻿@model FlcalPriceRD.Order
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#btnsendtrackingemail").click(function () {
            var orderid = $("#OrderID").val();
            var trackingnumber = $("#TrackingNumber").val();
            var carrier = $("#carrier").val();
            return;
            $.post("/EditOrder/SendTrackingEmail", { "orderid": orderid, "trackingnumber": trackingnumber, "carrier" : carrier},
                function (data) {
                    if (data == "True") {
                        $("#lblmessage").text("Email Send to customer.");
                    }
                    else {
                        $("#lblmessage").text("There is error when send email, try again later.");
                    }
                });
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.OrderID)

        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalCode)
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)
            @Html.EditorFor(model => model.Total)
            @Html.ValidationMessageFor(model => model.Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Orderdate)
            @Html.EditorFor(model => model.Orderdate)
            @Html.ValidationMessageFor(model => model.Orderdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsCompleted)
            @Html.EditorFor(model => model.IsCompleted)
            @Html.ValidationMessageFor(model => model.IsCompleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVerify)
            @Html.EditorFor(model => model.IsVerify)
            @Html.ValidationMessageFor(model => model.IsVerify)
        </div>

        <div>
            @Html.LabelFor(model => model.AddressName)
            @Html.EditorFor(m => m.AddressName)
        </div>
        <div>
            @Html.LabelFor(model => model.CountryCode)
            @Html.EditorFor(m => m.CountryCode)
        </div>

        <div>
            @Html.LabelFor(model => model.PaymentGross)
            @Html.EditorFor(m => m.PaymentGross)
        </div>

        <div>
            @Html.LabelFor(model => model.TransactionID)
            @Html.EditorFor(m => m.TransactionID)
        </div>

        <div>
            @Html.LabelFor(model => model.PaymentFee)
            @Html.EditorFor(m => m.PaymentFee)
        </div>

        <div>
            @Html.LabelFor(model => model.PaymentStatus)
            @Html.EditorFor(m => m.PaymentStatus)
        </div>

        <div>
            @Html.LabelFor(model => model.Shippingfee)
            @Html.EditorFor(m => m.Shippingfee)
        </div>

        <div>
            @Html.LabelFor(m => m.Carrier)
            @Html.DropDownList("carrier")
        </div>

        <div>
            @Html.LabelFor(model => model.TrackingNumber)
            @Html.EditorFor(m => m.TrackingNumber)
        </div>
        <p>
            <input type="submit" value="Save" />
            <input type="button" value="Send Tracking Email" id="btnsendtrackingemail" />
            <label id="lblmessage" style="color:blue; margin-left:20px"></label>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @style = "color:blue" })
</div>
