﻿@model FlcalPriceRD.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/jHtmlArea.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="../../Scripts/jHtmlArea-0.7.5.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#txtareadescription").htmlarea();
        });
    </script>
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Product</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.CategoryID, "Category")
            </div>
            <div class="editor-field">
                @Html.DropDownList("CategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Price)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
            @*            <div class="editor-label">
                @Html.LabelFor(model => model.Price3)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Price3)
                @Html.ValidationMessageFor(model => model.Price3)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Price5)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Price5)
                @Html.ValidationMessageFor(model => model.Price5)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Price10)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Price10)
                @Html.ValidationMessageFor(model => model.Price10)
            </div>
*@
            <div class="editor-label">
                @Html.LabelFor(model => model.Sku)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sku)
                @Html.ValidationMessageFor(model => model.Sku)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ItemDescription)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.ItemDescription, new { @id = "txtareadescription", @style = "width:500px; height:200px" })
                @Html.ValidationMessageFor(model => model.ItemDescription)
            </div>
            <br /><br />
            <!-- Insert PetProductImage -->
            <label>Feature Image : </label>
              @Html.EditorFor(model => model.ImgName)
                @Html.ValidationMessageFor(model => model.ImgName)
            <label style="margin-left:30px">Image1 : </label>
            <input type="text" name="txtimg2" style="width:150px" />
            <label style="margin-left:30px">Image2 : </label>
            <input type="text" name="txtimg3" style="width:150px" /><br /><br />
           <label>Image3 : </label>
            <input type="text" name="txtimg4" style="width:150px" />
           <label style="margin-left:30px">Image4 : </label>
            <input type="text" name="txtimg5" style="width:150px" />
           <label style="margin-left:30px">Image5 : </label>
            <input type="text" name="txtimg6" style="width:150px" /><br/><br />
             <label>Image6 : </label>
            <input type="text" name="txtimg7" style="width:150px" />
           <label style="margin-left:30px">Image7 : </label>
            <input type="text" name="txtimg8" style="width:150px" />
           <label style="margin-left:30px">Image8 : </label>
            <input type="text" name="txtimg9" style="width:150px" />

            @*  
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
    
          <div class="editor-label">
                @Html.LabelFor(model => model.IsAvailable)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsAvailable)
                @Html.ValidationMessageFor(model => model.IsAvailable)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ImgName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ImgName)
                @Html.ValidationMessageFor(model => model.ImgName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Meta)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Meta)
                @Html.ValidationMessageFor(model => model.Meta)
            </div>
    *@
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
