﻿@model IEnumerable<FlcalPriceRD.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>EditProduct</title>
    <link href="../../Content/DataTables/css/demo_table.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/DataTables/css/demo_page.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#producttable").dataTable({
                "iDisplayLength": 25,
                "aLengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
            });
        });
    </script>
</head>
<body>
    <div>
        @Html.ActionLink("Back to home page", "Index", "Home");
        <br /><br />
        <table id="producttable" class="display">
            <thead>
                <tr>
                    <th>Sku</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>IsAvailable</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink((string)item.Sku, "Edit", new { id = item.ID })</td>
                        <td>@item.Name</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>@item.IsAvailable</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
