﻿@model FlcalPriceRD.Product
@{
    ViewBag.Title = Model.Title;
    var categorycoll = (List<MvcFocalPrice.Controllers.CategoryList>)ViewBag.categorycoll;
    var imgcoll = (List<FlcalPriceRD.ProductImage>)ViewBag.imgcoll;
}
<style type="text/css">
    #phover { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}
    .zoom
    {
        display: inline-block;
    }
    /* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			background:url(../../FeaturePic/icon.png);
		}

		.zoom img {
			display: block;
		}
        .zoom img::selection { background-color: transparent; }
</style>
<script src="../../Scripts/jquery.zoom-min.js"></script>
<script type="text/javascript">
    var zoomurl;
    $(function () {
        $("ul#imgs>li>img").hover(function () {
            var featuresrc = $(this).attr('featuresrc');
            $("#imgfeature").removeAttr('src');
            $("#imgfeature").attr('src', featuresrc);
            zoomurl = featuresrc;
            $('#ex').zoom({ url: zoomurl });
        });
        $('#ex').zoom({ url: zoomurl });
    });
</script>
<div id="breadcrumbs" class="f12">
    <div class="location">
        <h3>
            <span class="snav_taq"><a href="/">Home</a><em>&#187;</em><span>
                @foreach (var item in categorycoll)
                {
                    <a href="../../category/@item.CategoryID/@item.CategoryName">@item.CategoryName</a><em>
                                » </em>
                }
                @Model.Name
            </span></span>
        </h3>
    </div>
</div>
<div class="mauto mt10 detail">
    <div class="pro_detail">
        <div style="float: left">
            <span class="zoom" id="ex">
                <img id="imgfeature" width="400" src="../../FeaturePic/@imgcoll.First().Name" alt= "@imgcoll.First().Name" />
                <p id="phover" style="color:#7e9d35">Hover</p>
            </span>
            <ul id="imgs" class="list_h" style="margin-top:10px">
                @foreach (var img in imgcoll.OrderBy(p => p.ID))
                {
                    <li style="margin-left: 10px">
                        <img src="../../FeaturePic/@img.Name" featuresrc="../../FeaturePic/@img.Name" alt="../../FeaturePic/@img.Name" width="60px" height="60px" />
                    </li>
                }
            </ul>
        </div>

        <div style="position: absolute; left: 420px; top: 70px">
            <h1 id="productName" style="font-weight: bold">
                @Model.Name
            </h1>
            <div style="margin-top: 10px">
                <span>SKU: <em id="sku">@Model.Sku</em></span>
            </div>
            <div style="color: #7e9d35; margin-top: 10px">
                <span>United States Free Shipping, Worldwide low Shipping fee</span>
                <span style="margin-left: 50px">In Stock - Shipping within 24 hours</span><br />
                <br />
            </div>
            <div style="background: #eeeeee; padding-top: 10px; min-width: 780px">
                @using (Html.BeginForm("AddToCart", "shopping", FormMethod.Get))
                {
                    <span style="font-size: 18px; color: #000; margin-top: 10px; margin-left: 18px">Price :  @Model.Price.ToString("C")</span><br />
                    <br />
                    <br />
                    <span style="font-size: 18px; color: #000; margin-left: 18px">Quantity:</span> 
                    @Html.TextBox("qty", 1, new { @style = "width:50px; text-align:center", @id = "product_quantity", @tabindex = "1", @maxlength = "4", @onkeyup = "value=value.replace(/\\D/g,'')", @onchange = "value=value.replace(/\\D/g,'')" })
                    @Html.HiddenFor(m => m.ID)
                    <span style="font-size: 18px; color: #000;">Unit(s)</span><br />
                    <button type="submit" style="width: 200px; height: 40px; border: 0px; cursor: pointer; margin-top: 20px; margin-bottom: 20px">
                        <img src="../../cssimage/addtocart.PNG" alt="addtocart" id="addtocart" />
                    </button>
                }
            </div>
            <div style="margin-top: 30px">
                <img src="../../Content/Images/Worldwide_shipping_New.jpg" width="250px"/>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div style="margin-top: 20px; margin-bottom: 20px">
        @Html.DisplayTextFor(m => m.ItemDescription)
</div>
