﻿@model MvcMemberShip.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password retrieval was unsuccessful. Please correct the errors and try again.")
    <table class="re_table mb45">
        <thead>
            <tr>
                <th colspan="4" class="alignL">
                    <span class="cf50 db f20 pb5">Retrieve Your Password</span> <span class="f11">
                        Use the form below to retrieve your password</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col_l alignR c00">
                    <em>*</em> Email Address
                </td>
                <td class="col_m alignL" colspan="2">
                    @Html.TextBoxFor(m => m.Email)
                </td>
                <td width="335">
                    <div class="emailAddressTip cf50">
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col_l alignR">
                </td>
                <td class="col_m alignL" colspan="3" style="padding-top: 15px;">
                    <input type="submit" class="bluebtn" value="Retrieve Password" />
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
}
