﻿@model List<FlcalPriceRD.OrderDetail>
@{
    Layout = "";
}
<div style="text-align:left; padding-top:5px; padding-bottom:15px; font-weight:bold;">
@foreach (var item in Model)
{
    <div style="margin-top: 10px">@item.Quantity X @item.Product.Name</div>
}
</div>
