﻿@model List<FlcalPriceRD.Category>
@{
    ViewBag.Title = "My Account";
    var coll = (List<FlcalPriceRD.ViewModels.OrderViewModel>)ViewBag.ordercoll;
}
<link href="../../Content/DataTables-1.9.1/media/css/jquery.dataTables.css" rel="stylesheet"
    type="text/css" />
<script src="../../Scripts/DataTables-1.9.1/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var oTable = $("#orders").dataTable({
            "bJqueryUI": true,
            "iDisplayLength":15,
            "aoColumns": [{
                "bSortable": false,
                "bSearchable": false
            },
            null,
            null,
            null,
            null
            ],
            "sDom": 'rt<ip>'
        });

        $('#orders tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "../cssimage/details_open.png"; oTable.fnClose(nTr);
            }
            else {
                /* Open this row */
                this.src = "../cssimage/details_close.png";
                var orderid = $(this).attr("rel");
                $.get("Account/GetOrderDetails?orderid=" + orderid, function (ordercoll) {
                     oTable.fnOpen(nTr, ordercoll, 'details');       
                });
            }
        });
    });

    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
        sOut += '<tr><td>Rendering engine:</td><td>' + aData[1] + ' ' + aData[4] + '</td></tr>';
        sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
        sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
        sOut += '</table>';
        return sOut;
    }
</script>
<div class="grid_col_main">
    <div class="grid_main_wrap mt10">
        <h1 style="margin-bottom: 30px; font-size: 1.2em; font-weight: bold">
            My Orders</h1>
        <table id="orders" cellpadding="4" cellspacing="0" border="0" style="text-align: center">
            <thead>
                <tr>
                <th></th>
                    <th>
                        Order Number
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>
                        Order Date
                    </th>
                    <th>
                        Tracking Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (FlcalPriceRD.ViewModels.OrderViewModel item in coll)
                {
                    <tr>
                    <td>
                        <img src="../cssimage/details_open.png" rel="@item.orderinfo.OrderID" alt="expand/collapse">
                    </td>
                        <td>@item.orderinfo.OrderID
                        </td>
                        <td>@Convert.ToDecimal(item.orderinfo.Total).ToString("C")   
                        </td>
                        <td>@Convert.ToDateTime(item.orderinfo.Orderdate).ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            tracking number 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("CategoryMenu", @Model)
