﻿@model List<FlcalPriceRD.ViewModels.PaypayViewModel>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<body onload="document.Paypal.submit();">
 <form id="Paypal1" name="Paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
 @*<form id="Paypal1" name="Paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">*@
    @*<input type="hidden" name="cmd" value="_xclick" />*@
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="business" value="@System.Web.Configuration.WebConfigurationManager.AppSettings["PaypalEmail"]" />
    <input type="hidden" name="custom" value="Registration started:  @DateTime.Now.ToString()" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="hidden" name="invoice" value="@Model.First().OrderID" />
    <input type="hidden" name="return" value="@System.Web.Configuration.WebConfigurationManager.AppSettings["PaypalReturnUrl"]" />
    <input type="hidden" name="cancel_return" value="@System.Web.Configuration.WebConfigurationManager.AppSettings["PaypalCancelUrl"] %>" />
     @Html.Hidden("handling_cart", Model.First().Shippingfee) 
    @{var itemindex = 1;}
    @foreach (var item in Model)
    {
        @Html.Hidden("item_name_" + itemindex, item.Productname)
        @Html.Hidden("amount_" + itemindex, item.UnitPrice)
        @Html.Hidden("item_number_" + itemindex, item.Sku)
        @Html.Hidden("quantity_" + itemindex, item.Quantity)   
        itemindex++;
    }
    <input type="submit" style="display: none" value="Start PDT process" />
    </form>
    </body>
