﻿/*top main
.grid_main{width:1200px;margin:0 auto;}
.grid_col_main{float:left;width:100%;min-height:1px;}
.grid_col_sub{float:left;text-align:left}
.grid_main .grid_main_wrap{margin-left:230px;}
.grid_main .grid_col_sub{width:220px;margin-left:-100%;}
.grid_main:after,.grid_main_wrap:after,.grid_col_sub:after{content:" ";display:block;height:0;visibility:hidden;clear:both;}
.grid_main,.grid_main_wrap,.grid_col_sub{zoom:1;}*/
.main_l{width:970px;height:auto;overflow:hidden}


/*content*/
#content{ width:1200px; height:auto; overflow:hidden;}
.member_suc{ padding:35px 30px 45px 35px; line-height:21px;}
.re_table{width:800px; margin:20px 0 0 232px; height:auto; overflow:hidden}
.re_table.m0{ margin:0 auto; width:602px;}
.re_table.mb45{ margin-bottom:45px;}
.re_table thead th{font-weight:normal; padding-bottom:20px;}
.re_table td.col_l{ width:200px; padding:10px 0;}
.re_table td.col_l em{color:#c20000}
.re_table td.col_m{width:260px; padding-left:5px;}
.reg_txt{ width:255px; padding:4px 0 0 5px; line-height:25px; height:21px; border:#ddd solid 1px; background:url(../cssimage/common/common.png) 0 0 no-repeat;}
.reg_txt.mr10{margin-right: 10px;}
.reg_txt.w175{width:175px;}
.reg_sub{width:80px; height:24px; background:url(../cssimage/links/links.png) 0 0 no-repeat; cursor:pointer; border:0;}
.reg_sub.disable{background:url(../cssimage/links/links.png) -81px -653px no-repeat;}
.reg_sign{width:80px; height:24px; background:url(../cssimage/links/links.png) -81px 0 no-repeat; cursor:pointer; border:0;}
.reg_sig.disable{background:url(../cssimage/links/links.png) -162px -653px no-repeat;}
.reg_con{width:80px; height:24px; background:url(../cssimage/links/links.png) -162px 0 no-repeat; cursor:pointer; border:0;}
.reg_con.disable{background:url(../cssimage/links/links.png) -653px 0 no-repeat;}
.emali_btn{width:140px; height:27px; background:url(../cssimage/links/links.png) -260px 0 no-repeat; cursor:pointer; border:0;}
.re_table a.cblue{ color:#0041a0; text-decoration:underline}
ul.w_gifts{ width:980px; height:auto; overflow:hidden; margin:17px 0 30px 0;}
ul.w_gifts li{ width:225px; overflow:hidden; height:104px; padding:10px; border:#ddd solid 1px; float:left; margin-right:20px; background:url(../cssimage/member/gifts_bg.jpg) repeat-x;}
.getcoupon{width:156px; height:24px; background:url(../cssimage/links/links.png) 0 -25px no-repeat; display:block;}
#emailAddressTip{ padding-left:5px; color:#c20000}

.reg_resetpassword{ width:122px; height:24px; background:url(../cssimage/links/links.png) 0 -621px no-repeat; border:none; cursor:pointer}
.reg_resetpassword.disable{background:url(../cssimage/links/links.png) -243px -653px no-repeat;}
/*feedback*/
.feedtable{height: auto;margin: 20px 0 50px 0;width: 1000px;}
.feedtable td.col_l{ width:160px; padding:10px 0;}
.feedtable td.col_l em{color:#c20000}
.feedtable td.col_m{width:260px; padding-left:5px;}
.feedback_sub{ width:77px; height:29px; background:url(../cssimage/detail/detail.png) -137px -167px no-repeat; cursor:pointer; border:none}
.feedback_sub.disable{background:url(../cssimage/detail/detail.png) 0px -428px no-repeat;}
.checkTextarea_num{ color:#000}
.checkTextarea_num em{ font-family:Georgia; font-size:18px; color:#FF5A00}
