﻿.header{margin:0 auto;padding:0;width:1200px;border-bottom:1px solid #014590;background-color:#fff;overflow:hidden;}
.header_left{float:left;width:200px;}
.header_right{margin-left:210px;}
#logo a:link,#logo a:visited{background:url(../Images/common/logo.png) no-repeat scroll left center transparent;display:block;height:100px;text-indent:-9999px;}
hr{color:#eee;}

.help_headerin{width:1200px;}
.logo{width:180px;height:60px;overflow:hidden;line-height:150px;background:url(../Images/common/logo.png) no-repeat;}
.logo a{display:block;width:220px;height:60px;}
.search_help{width:736px;height:40px;background:url(../Images/help/s_ico.png) 10px 8px no-repeat;padding:9px 0 9px 50px;margin-right:150px;}
.help_input{border:#CCC solid 1px;width:530px;padding:6px;background:url(../Images/help/input_bg.gif) no-repeat;color:#ddd;}
.search{background:url(../Images/help/search.png) no-repeat;border:0;height:29px;width:97px;cursor:pointer;}
#breadcrumb{border-top:2px solid #f2f2f2;border-bottom:1px solid #e5e5e5;clear:both;margin:0px auto;padding:10px 0;width:1200px;}
#breadcrumb a:link{color:#f60;text-decoration:none;}
#breadcrumb a:visited{color:#f60;text-decoration:none;}
#breadcrumb a:hover{color:#666;text-decoration:underline;}
.help_body{margin:10px auto;padding:10px 0;width:1200px;overflow:hidden;}
.TopIssuse{margin:10px 0 0 0;border-bottom:#eee solid 1px;padding-bottom:20px;}
.TopIssuse li{background:url(../Images/common/footer_ico.gif) 14px 8px no-repeat;height:19px;line-height:20px;text-indent:25px;}
.TopIssuse li a:hover{color:#000;text-decoration:underline}
h2 span{background:#AAAAAA;color:#FFFFFF;font-size:18px;padding:0 3px;}
.ContMargin{margin:25px;}
.help_body dl{width:330px;padding-left:46px;float:left;margin-left:15px;margin-bottom:25px;}
.help_body dl dt a{font-size:14px;font-weight:bold;color:#003366;}
.help_body dl dt a:hover{color:black;}
.help_body dl dd{padding-top:5px;}
.help_body dl.Shipping{background:url(../Images/help/helpico.gif) -10px -63px no-repeat;}
.help_body dl.Payment{background:url(../Images/help/helpico.gif) -5px -119px no-repeat;}
.help_body dl.Ordering{background:url(../Images/help/helpico.gif) -10px -223px no-repeat;}
.help_body dl.Points{background:url(../Images/help/helpico.gif) -10px -168px no-repeat;}
.help_body dl.Warranty{background:url(../Images/help/helpico.gif) -10px -324px no-repeat;}
.help_body dl.ReturnsRMA{background:url(../Images/help/helpico.gif) -7px -275px no-repeat;}
.help_body dl.MyAccount{background:url(../Images/help/helpico.gif) -10px -376px no-repeat;}
.help_body dl.ReturnPolicy{background:url(../Images/help/helpico.gif) -10px -472px no-repeat;}
.help_body dl.ProductWarranty{background:url(../Images/help/helpico.gif) -10px -423px no-repeat;}
.help_body dl.SecuriryPolicy{background:url(../Images/help/helpico.gif) -10px -520px no-repeat;}
.help_body dl.Dropshipping{background:url(../Images/help/helpico.gif) -10px -622px no-repeat;}
.help_body dl.Advantage{background:url(../Images/help/helpico.gif) -10px -678px no-repeat;}
.help_body dl.Wholesale{background:url(../Images/help/helpico.gif) -10px -732px no-repeat;}
.help_body dl.AffiliateProgram{background:url(../Images/help/helpico.gif) -10px -845px no-repeat;}
.help_body dl.LeaveMessage{background:url(../Images/help/helpico.gif) -10px -785px no-repeat;}
.help_body dl.LiveChat{background:url(../Images/help/helpico.gif) -10px -901px no-repeat;}
.help_body dl.RMARequest{background:url(../Images/help/helpico.gif) -10px -954px no-repeat;}
/*.help_body dl.AboutUs{background:url(../Images/help/helpico.gif) -10px -1016px no-repeat;} */
.help_body dl.PartnerLinks{background:url(../Images/help/helpico.gif) -3px -15px no-repeat;}
h1{color:#FF7E00;font-size:18px;}
/*type*/
.help_body .HelpNav{width:940px;float:right;border-left:1px solid #eee;padding-left:25px;line-height:20px;}
.help_body .HelpNav a{/*color:#666;*/}
.help_body .HelpNav a:hover{color:black;}
.help_body .HelpCate{float:left;width:180px;}
.help_body .HelpNav ul{margin-top:10px;margin-bottom:20px;}
.help_body .HelpNav h3{color:#036;font-weight:bold;font-size:14px;margin:5px 0px;}
.help_body .HelpNav p{line-height:16px;}
.help_body .HelpNav p a{color:#036;text-decoration:underline;}
.help_body .HelpNav p a:hover{color:black;}
.help_body .HelpNav ul li{text-indent:25px;line-height:20px;background:url(../Images/common/footer_ico.gif) 14px 8px no-repeat;height:19px;}
.help_body .HelpNav ul li{line-height:19px;}
.help_body .HelpNav ul li a{font-size:11px;}
.help_body .HelpCate h4{color:black;font-weight:bold;background:url(../Images/help/helpico.gif) 0px -1070px no-repeat;text-indent:8px;}
.helpinfo ul li a{color:#036;}
.helpinfo ul li a:hover{color:#000;}
.helpinfo ul li a:visited{color:#036;}
.helpinfo h1{}
.helpinfotxt{font-size:11px;padding:5px 0px;}
.help_body .HelpCate h4 a:link{color:#666;text-decoration:none}
.help_body .HelpCate h4 a:visited{color:#666;text-decoration:none}
.help_body .HelpCate h4 a:hover{color:#666;text-decoration:underline}
.help_body .HelpCate a{color:#036;}
.help_body .HelpCate ul{margin:6px 0px 11px 0px;}
.help_body .HelpCate ul li{text-indent:20px;background:url(../Images/help/helpico.gif) 10px -1080px no-repeat;line-height:18px;height:18px;}
.helpKeyTip{border:#ddd dashed 1px;padding:10px;margin:10px 0;}
.help_search h1{padding:10px 0px;}
.help_search h1 a{color:#000;text-decoration:underline}
.help_search{margin:15px auto}
.pages{color:#000;margin-top:15px;}
.pages a{background:#DDDDDD;color:#000;display:block;float:left;font-size:11px;margin-right:1px;height:22px;line-height:22px;padding:0 8px;}
.pages a:hover{background:#0041a0;color:white;text-decoration:none}
.pages span{background:#EEEEEE;color:#666;display:block;float:left;font-size:11px;margin-right:1px;height:22px;line-height:22px;padding:0 8px;}
.pages a.current{background:#0041a0;color:#FFFFFF;}
.pages a.prevall{background:#eee url(../Images/detail/detail.png) -380px -205px no-repeat;width:22px;height:22px;padding:0;}
.pages a.prev{background:#eee url(../Images/detail/detail.png) -380px -134px no-repeat;width:22px;height:22px;padding:0;}
.pages a.next{background:#eee url(../Images/detail/detail.png) -380px -158px no-repeat;width:22px;height:22px;padding:0;}
.pages a.nextall{background:#eee url(../Images/detail/detail.png) -380px -181px no-repeat;width:22px;height:22px;padding:0;}
.pages a.prev{background:#ddd url(../Images/detail/detail.png) -380px -134px no-repeat;width:22px;height:22px;padding:0;}
.pages a.next{background:#ddd url(../Images/detail/detail.png) -380px -158px no-repeat;width:22px;height:22px;padding:0;}
.pages a:hover.prev{background:#0041a0 url(../Images/detail/detail.png) -380px -134px no-repeat;}
.pages a:hover.next{background:#0041a0 url(../Images/detail/detail.png) -380px -158px no-repeat;}
.copyright{margin:0 auto;width:1200px;border-top:1px solid #e5e5e5;clear:both;line-height:19px;text-align:center;font-size:11px;padding:10px 0 25px 0;}