﻿/*notice*/
.topNotice {position: relative;width:1198px;border: 1px solid #eee;border-top:none;background: #FFFDDD;color: #CF7F00;overflow: hidden;margin:0 auto;}
.topNotice p{padding:5px;width:1140px;margin:0;}
.topNotice .close {position: absolute;right: 10px;top: 10px;display: block;width: 9px;height: 9px;background: url(../cssimage/x.gif) no-repeat;overflow: hidden;}

/*layout*/
#container{width:1200px; position:relative; z-index:10; height:auto; margin:0 auto; overflow:hidden}
.lmain{width:220px; float:left; height:auto; overflow:hidden}
.rmain{width:970px; float:right; height:auto; overflow:hidden}
/*layout*/
/*topmenu*/
#topmenu{width:1200px;height:31px;background:url(../cssimage/common/topmenu_bg.jpg) repeat-x; position:relative; z-index:1002;}
ul.topmenu_l li span, ul.topmenu_r li span,ul.topmenu_l li.home,ul.topmenu_l li.language,ul.topmenu_l li.currency,ul.topmenu_r li.account,ul.topmenu_r li.help,ul.topmenu_r li.livechat{background:url(../cssimage/common/ico.png) no-repeat;}
ul.topmenu_l{width:330px; position:relative; top:3px;}
ul.topmenu_r{width:860px; position:relative; top:3px;}
ul.topmenu_l li,ul.topmenu_r li{height:28px;line-height:26px;text-align:left; margin-right:3px; position:relative}
ul.topmenu_l li span,ul.topmenu_r li span{ position:absolute; width:7px; height:4px; top:11px; right:10px; background-position:-11px -415px;}
ul.topmenu_l li a,ul.topmenu_r li a,ul.topmenu_l li a:hover,ul.topmenu_r li a:hover{ text-decoration:none; display:block;}
ul.topmenu_l li.home{width:45px;background-position:10px 0px;color:#ff5a00;padding:0 0 0 32px;}
ul.topmenu_l li.language{width:106px; background-position:5px -27px;text-indent:31px;}
ul.topmenu_l li.currency {width:138px; background-position:4px -53px;text-indent:28px;}
ul.topmenu_r li.account{width:125px; background-position:5px -78px;height:26px; text-indent:30px;}
ul.topmenu_r li.help{width:35px; background-position:0px -105px;padding:0 0 0 25px;}
ul.topmenu_r li.help a{cursor:help}
ul.topmenu_r li.livechat{width:81px; background-position:0px -130px;padding:0 0 0 25px;}
ul.topmenu_r li.mr10{ margin-right:10px;}
ul.topmenu_r li a:hover{text-decoration:none}
ul.topmenu_r li a.username{color:#133e79}
ul.topmenu_r li.siginin{width:130px; height:28px; padding-left:10px;}
ul.topmenu_l li.currency em{color:#ff5a00;}
.mr5{margin-right:5px;}
ul.topmenu_l li.line,ul.topmenu_r li.line{width:1px;height:12px;background:#ccc;overflow:hidden;margin-top:8px;display:block; padding:0;}
ul.topmenu_l li.currency a.active,ul.topmenu_l li.language a.active,ul.topmenu_r li.account a.active{border:#ddd solid 1px; border-bottom:none;line-height:24px; height:27px;background:#FFF url(../cssimage/common/ico.png) 0 0 no-repeat;}
ul.topmenu_l li.currency a.active{width:136px;background-position:3px -54px;text-indent:27px;}
ul.topmenu_l li.language a.active{width:104px; background-position:4px -28px;text-indent:30px;}
ul.topmenu_r li.account a.active{background-position:4px -79px; width:123px;text-indent:29px;}
ul.topmenu_r li.useractive{background:url(../cssimage/common/sign_bg.jpg) 0 0 no-repeat;; line-height:26px; width:130px; height:28px;}
ul.topmenu_r li.useractive a{line-height:26px;}
div.account_menu,div.currency_menu,div.language_menu{position:absolute; padding:10px; background:#fff; border:#ddd solid 1px; border-top:none; z-index:10; left:0; top:28px; height:auto; width:auto;}
div.currency_menu{background:#fff url(../cssimage/common/currency_bg.jpg) 8px 10px no-repeat;}
div.language_menu{background:#fff url(../cssimage/common/language_bg.jpg) 8px 14px no-repeat; width:200px; height:110px;}
.siginin_menu{ width:394px; height:auto;position:absolute; padding:10px 15px; background:#fff; display:none; border:#ddd solid 1px; border-top:none; z-index:10; left:0; top:28px;}

.siginin_menu .siginin_menu_l,.siginin_menu .siginin_menu_r{width:170px;height:140px;float:left}
.siginin_menu .siginin_menu_l{border-right:#ddd solid 1px;line-height:20px;}
.siginin_menu .siginin_menu_r{margin-left:12px;width:210px;display:inline;line-height:18px;}
.siginin_menu .siginin_menu_l h6,.sigin_in .siginin_menu_r h6{font-size:13px;color:#c20000;margin:0;padding:0;}
.siginin_menu .siginin_menu_l dl{margin:0;padding:0;}
.siginin_menu .siginin_menu_l dl dt,.sigin_in .siginin_menu_l dl dd{height:18px;}
.siginin_menu .siginin_menu_l dl dd{margin-bottom:5px;}
.siginin_menu .siginin_menu_l dl dd .txt{height:18px;width:140px;border:#ddd solid 1px;}
a.Create_an_Account{width:63px; height:23px; display:block; background:url(../cssimage/common/common.png) 0 -37px no-repeat; line-height:60px; overflow:hidden; margin-top:5px;}
.siginin_menu_l .btn_sign{width:57px; height:23px; display:block; background:url(../cssimage/common/common.png) 0 -61px no-repeat; border:0;}
.siginin_menu_l .btn_sign.disable{background:url(../cssimage/common/common.png) -58px -61px no-repeat;}

ul.topmenu_l li div.currency_menu a,ul.topmenu_r li div.account_menu a{display:block; height:18px; font-size:11px; line-height:18px; width:135px;color:#666; text-indent:25px;}
ul.topmenu_r li div.account_menu a{ background:url(../cssimage/common/footer_ico.gif) 8px 6px no-repeat; text-indent:18px;width:165px;}
ul.topmenu_l li div.currency_menu a:hover,ul.topmenu_r li div.account_menu a:hover{color:#000; text-decoration:underline}
ul.topmenu_l li div.language_menu a{display:block; height:21px; font-size:11px; line-height:21px; float:left; width:95px;color:#666; margin-bottom:1px; text-indent:25px;}
/*logo and search*/
.headerin{width:1200px; position:relative;z-index:1000;}
.logo{width:220px;height:60px;overflow:hidden;line-height:150px;background:url(../cssimage/common/logo.jpg) 5px -10px no-repeat;margin-top:10px;}
.logo a{display:block;width:220px;height:60px;}
.search_warp{width:968px;height:58px; margin-top:10px;border:#f2f2f2 solid 1px;background:#f9f9f9;}
.search_warp .search_main{width:720px;padding:6px; position:relative}
.search_txt,.select_se{margin-right:6px;border:#ccc solid 1px;}
.search_txt{width:441px;height:22px;line-height:22px;color:#ccc;padding:0 0 0 5px;}
.select_se{width:180px;height:24px;}
.btn_search{width:60px;height:24px;background:url(../cssimage/btn/all_btn.png) 0 0 no-repeat;border:0; cursor:pointer}
.search_main .hotkeyword{width:720px;height:30px;line-height:30px;}
.hotkeyword h6{color:#666;display:inline-block;font-weight:bold;float:left;}
.hotkeyword a{padding:0 5px;text-decoration:underline;display:inline-block;font-size:11px;color:#000;float:left}
.homecart{width:185px;height:35px;background:url(../cssimage/common/ico.png) 10px -372px no-repeat;color:#09318b;line-height:40px;padding-left:35px;text-align:left}
.homecart a{color:#09318b;text-decoration:underline}
/*模拟select*/
.selectPanelWarp{float:left; width:180px; border:#ddd solid 1px; height:22px; margin-right:6px;}
.selectPanel {padding-left:5px; width:175px; background: right top url(../cssimage/common/select_bg.jpg) no-repeat; position:relative;}
	.selectPanel span{cursor:pointer; display:block; line-height:23px; width:100%; height:23px; overflow:hidden;}
	.selectPanel ul li{cursor:pointer;}
	.selectPanelList{width:180px; position:absolute;display:none;left:-1px; top:23px; border:1px solid #ddd; background:#fff;}
	.selectPanelList li{display:block; line-height:23px; font-size:11px; padding-left:10px; width:170px; border-bottom:#ccc dotted 1px;}
	.selecthover{background:#ddd;}
/*top main*/
.grid_main{width:1200px;margin:0 auto; position:relative;z-index:98;}
.grid_main.zindex100{z-index:100;}
.grid_main.zindex999{z-index:999;}
.col_main{width:100%;margin-right:-100%;float:left}
.grid_col_main{float:left;width:100%;min-height:1px;position:relative;z-index:90;}
.grid_col_sub{float:left;text-align:left;width:220px;margin-left:-100%;position:relative;z-index:98; display:inline;}
.grid_main .grid_main_wrap{margin-left:230px;position: relative}
.col_main .grid_main_wrap{margin-left:230px;position: relative}
.col_main:after,.grid_main:after,.grid_main_wrap:after,.grid_col_sub:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.col_main,.grid_main,.grid_main_wrap,.grid_col_sub{zoom:1;}
.grid_main .grid_col_sub{width:220px;margin-left:-100%;display:inline}


.clearfix{display:inline-block}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}/* Hides from IE-mac \*/
* html .clearfix {height:1%}
.clearfix {display:block}/* End hide from IE-mac */
.main_l{width:970px;height:auto;overflow:hidden}
/*abs-index*/
.loading{background:#fff url(../cssimage/bigloading.gif) no-repeat 50% 50%;}
.abpic,.ad_index{width:750px;height:238px; padding-bottom:10px;}
.abpic .j_Slide{width:618px; height:228px;overflow:hidden;position:relative; z-index:40;}
.abpic .j_Slide .tb-slide-list{position:absolute; width:99999px;}
.abpic .j_Slide .tb-slide-list li{height:228px;}
.abpic .j_Slide .tb-slide-list li img{width:618px;height:228px;}
.abpic .lbtn{position:absolute;z-index:3;bottom:10px;right:10px;}
.abpic .lbtn li{float:left; width:20px;}
.abpic .lbtn li a,.abpic .lbtn li a:link,.abpic .lbtn li a:active,.abpic .lbtn li a:visited{ width:13px;height:14px;text-align:center; font-size:11px; background:#999; text-decoration:none;display:block;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:0.7; color:#000}
.abpic .lbtn li.hover a,.abpic .lbtn li.hover a:link,.abpic .lbtn li.hover a:active,.abpic .lbtn li.hover a:visited{color:#fff;background:#ff7800;height:14px; text-align:center;}

/*dailydeals*/
.dailydeals{width:208px;height:236px;border:#ddd solid 1px;}
.dailydeals_h{ position:relative;line-height:25px;text-align:left;text-indent:8px;color:#11447e;height:25px;width:208px;background:url(../cssimage/index/listhead_bg.jpg) 0 0 repeat-x;}
.dailydeals_h .dailydeals_date{ background:url(../cssimage/common/ico.gif) 0 -610px no-repeat; padding-left:16px;}
.dailydeals_h .dailydeals_pages{width:116px; height:20px; position:absolute; right:2px; top:8px;}
.dailydeals_h .dailydeals_pages ul li{width:17px; height:20px; background:url(../cssimage/detail/detail.png) 0px -129px no-repeat; color:#000; line-height:15px; font-size:10px; cursor:pointer; display:block; float:left; margin-right:1px; font-weight:normal; text-indent:0px; text-align:center;}
.dailydeals_h .dailydeals_pages ul li.active{background:url(../cssimage/detail/detail.png) -18px -129px no-repeat; color:#FFF}
.dailydeals_m{text-align:left;width:208px;height:208px;overflow:hidden; position:relative}

.dailydeals .dailydeals_m .dailydeals_prev,.dailydeals .dailydeals_m .dailydeals_next{height:19px; float:left; margin-top:85px; cursor:pointer; background:url(../cssimage/common/ico.png) no-repeat;}
.dailydeals .dailydeals_m .dailydeals_prev{ width:18px;background-position: 3px -645px;}
.dailydeals .dailydeals_m .dailydeals_next{ width:15px;background-position: -15px -645px;}
.dailydeals .dailydeals_m .dailydeals_warp{ width:172px; float:left; height:190px; position:relative; overflow:hidden}
.dailydeals .dailydeals_m .dailydeals_prev.disableClass{width:18px;background:url(../cssimage/common/ico.png) 3px -665px no-repeat;}
.dailydeals .dailydeals_m .dailydeals_next.disableClass_r{width:15px;background:url(../cssimage/common/ico.png) -15px -665px;}


.dealsoff{position:absolute; width:85px; height:35px; background:url(../cssimage/common/offbg.png) no-repeat; top:85px; right:-10px; padding-left:22px; color:#fff; font-weight:bold; z-index:9999;}
.dailydeals .dailydeals_m .dealsMore{ position:absolute; right:15px; bottom:2px; font-size:11px; text-decoration:underline; color:#11447E}
.dealsoff .dealsoffDiv{width:40px; height:30px; float:left;}
.dealsoff a.Morebuy{display:block; width:35px; margin-top:5px; height:20px; float:left; cursor:pointer}

.hotitem{width:968px;border-bottom:#f5f5f5 solid 1px;border-left:#ddd solid 1px;border-right:#ddd solid 1px;border-top:#ddd solid 1px;height:auto; padding-top:1px;}
.hotitem.w968{width:968px;}
.hotitem.bt_border,.hotitem.bt_bordera{border-top:#dddddd solid 1px; padding-top:1px;}
.hotitem .hotitem_h.w958{width:958px;}
.hotitem_h{text-align:left;height:26px;width:968px;line-height:26px;background:url(../cssimage/index/hotitem_h_bg.jpg) 0 0 repeat-x;}
.hotitem .hotitem_h a{color:#1b61af}
.hotitem_h span{display:inline-block;height:25px;line-height:25px; background:url(../cssimage/common/box_ico.gif) 10px 8px no-repeat; text-indent:22px; color:#003b7f}
.hotitem_h span.corange{border-bottom:#ff5a00 solid 1px;background:url(../cssimage/index/hotitem_h_obg.gif) center bottom no-repeat;}
.hotitem_h span.cbbg{background:url(../cssimage/index/hotitem_h_bbg.gif) center bottom no-repeat;}
.hotitem_m{border-bottom:#ddd solid 1px;height:auto;overflow:hidden}
.abs_r{width:220px;height:auto;overflow:hidden}
#leftTime em{ color:#FF5A00}
/*Top Sellers*/
.topseller{width:249px;height:auto;overflow:hidden}
.topseller.w220{width:220px;}
.topseller_h.w220{width:220px;}
.topseller_h{width:249px;height:25px;line-height:25px;color:#984f00;background:url(../cssimage/index/topseller_h_bg.jpg) repeat-x;padding-left:10px;line-height:25px;}
.topseller_h.blue{background:url(../cssimage/index/revieweditems_h_bg.jpg) repeat-x; color:#1B61AF}
.topseller_h em{color:#b2732f}
.topseller .topseller_m{border:#fecc7f solid 1px;border-top:none;width:247px;height:250px;overflow:hidden;}
.topseller .topseller_m.blue{border:#C8DBF0 solid 1px;}
.topseller_m li{width:215px;height:40px;padding:8px 8px 0 8px;overflow:hidden; float:left;}
.topseller_m li.w202{ width:202px;}
.topseller_pic{width:45px;height:35px;margin-top:2px;display:inline-block;float:left;border:#cccccc solid 1px;overflow:hidden;}
.topseller_pro_name{width:156px;padding:0px 0 1px 10px;height:24px;overflow:hidden;line-height:12px;}
.topseller_price{height:13px;line-height:13px;padding-left:10px;}
.topseller .topseller_m.w218{ width:218px;}
.topseller_pro_name.w136{width:136px;}
a.seemore{ color:#FF6600; text-decoration:underline}

/*items*/
.items.scroll_images{ width:920px; overflow:hidden}
.items{margin:0 0 0 0;height:auto;overflow:hidden;padding:12px 0 0 3px; position:relative; z-index:20;}
.items.addborder{border:#ddd solid 1px; border-top:#0041a0 solid 2px; padding:18px 0 0 3px;}
.items.addsearch_border{border:#ddd solid 1px; border-top:#0041a0 solid 2px; padding:0 0 0 3px;}
.items.pt23b16{padding:23px 0 16px 10px;}
.items.pt23l5{padding:23px 0 16px 5px;}
.items.pt23l18{padding:23px 0 16px 28px;}
.items.pt8{padding-top:8px;}
.items .itembox{width:165px;height:266px;float:left;margin:0 0 10px 1px;display:inline;padding-bottom:4px;position:relative;}

.items .itembox.h206{height:206px;}
.items .itembox.h216{ height:216px;}
.items .itembox.h236{ height:236px;}
.items .itembox.h245{ height:245px;}
.items .itembox.h176{ height:176px;}
.items .itembox.mr8t10{margin:0 8px 10px 15px; float:left; display:inline;}
.items .itembox.mr5t10{margin:0 15px 5px 0px; float:left; display:inline; height:146px;}
.items .itembox.ml8{margin-left:8px;}
.items .itembox.ml12{margin-left:12px;}
.items .itembox.m34{ margin:0 32px 20px 0;}
.items .itembox.ml15{margin-left:23px;}
.items .itembox.mr28{ margin-right:28px;}
.items .itembox.mb20, #recommended_items_m .items .itembox.mb20{margin-bottom:10px;}
.itembox .infobox{width:157px;margin-left:4px;padding-top:4px; position:relative; z-index:2;}
.items .proImg{width:157px;overflow:hidden;height:122px;display:table-cell;vertical-align:middle;text-align:center;}
.items .proImg img{height:120px;width:155px;position:relative;z-index:1;}
.items .proName{height:28px;overflow:hidden;clear:both;line-height:14px;margin:8px 0 5px 0;padding-right:2px;text-overflow:ellipsis;}
.items .proName.h14{height:14px;}
.items .proName a{font-size:11px;color:#666}
.infobox li.prolist{color:#333;margin-top:5px;height:auto;line-height:15px;overflow:hidden}
.infobox li.prolist a.chargers{color:#1c6cbe;text-decoration:underline}
.infobox li.freeShip{background: url(../cssimage/detail/list_ico.gif) 1px -286px no-repeat;color: #6BAB01;padding: 2px 0 2px 17px;line-height: 16px;}


.infobox li a.ReviewsNum{ background:url(../cssimage/list/ReviewsNum.png) 0 0 no-repeat; padding-left:20px; display:inline-block; height:16px; line-height:16px;}
.infobox li a.ImgaesNum{ background:url(../cssimage/list/ImgaesNum.png) 0 0 no-repeat; padding-left:20px; display:inline-block; height:16px; line-height:16px;}

.infobox li.proRankNum{ height:30px; font-size:18px; font-family:Georgia; color:#FF5A00}
.infobox li a.addcart,.infobox li a.unaddcart{background:url(../cssimage/links/links.png) no-repeat;width:135px;height:28px;border:none;margin-top:10px;cursor:pointer;display:inline-block;zoom:1;line-height:66px;overflow:hidden;text-align:left;}
.infobox li a.addcart{background-position:-265px -208px;}
.infobox li a.unaddcart{background-position:0 -287px}
.items .proPri,.items .proRank{margin:2px 0px;}
.items .proSku{ margin:4px 0px;}
.items .proVerified{width:87px; height:14px;background:url(../cssimage/detail/detail.png) 0 -152px no-repeat; margin:10px 0px 0px 0px;}
.proRank{padding:2px 0 0 0;color:#000; font-size:10px;}
.proRank.pt30{padding-top:30px}
.proRank.pt15{padding-top:15px;}
.proRank .star{background:url(../cssimage/bstar.gif) 0 0 repeat-x;width:70px;height:12px;display:inline-block;overflow:hidden;margin:0;vertical-align:middle;}
.proRank .star span{background:url(../cssimage/bstar.gif) 0 -12px repeat-x;display:block;text-indent:-9999px;overflow:hidden;width:70px;margin-right:32px;}
.proRank em a:link,.proRank em a:visited{color:#999;font-size:11px;}
.items .proImg a:link,.items .proImg a:visited{vertical-align:middle;display:block;border:1px solid #e5e5e5;padding:0;width:155px;height:120px;overflow:hidden;}
.items .proImg a:hover,.special .proImg a:hover{border:1px solid #FF5A00;}
.items .proImg .pro_new,.items .proImg .pro_hot,.items .proImg .pro_sale,.items .proImg .pro_stock,.items .proImg .pro_instock,.lists_box_left .pro_instock{position:absolute;left:0px;top:4px;z-index:2;width:44px;height:44px;}
.items .proImg .pro_hot{background:url(../cssimage/list/hot.png) 0 0 no-repeat;}
.items .proImg .pro_new{background:url(../cssimage/list/new.png) 0 0 no-repeat;}
.items .proImg .pro_sale{background:url(../cssimage/list/sale.png) 0 0 no-repeat;}
.items .proImg .pro_stock{background:url(../cssimage/list/out_of_stock.gif) 0 0 no-repeat;}
.items .proImg .pro_instock,.lists_box_left .pro_instock{background:url(../cssimage/list/instock.png) 0 0 no-repeat;}
.items .proImg .pro_discount{position:absolute; display:none; right:4px; top:83px;z-index:2;background:url(../cssimage/list/sale_zk.png) 0 0 no-repeat;width:50px;height:33px; padding:10px 0 0 15px;}
.lists_box_left .pro_instock{top:0px;}
/*Featured Categories*/
.featured_categories{margin:0 0 0 0;height:287px;overflow:hidden;padding:0 18px 0 0; background:url(../cssimage/index/focal_bg.png) repeat;}
.featured_categories .featured_categories_box{width:167px;float:left;margin-left:23px;padding-top:23px;display:inline}
.featured_categories .categories_pic{width:157px;overflow:hidden;height:124px;display:table-cell;vertical-align:middle;text-align:center;padding:2px auto;}
.featured_categories .categories_pic a{border:1px solid #ccc;width:155px;height:122px;display:inline-block;}
.featured_categories .categories_pic a:hover{border:1px solid #FF5A00;}
.featured_categories ul{width:157px;}
.featured_categories ul h3{padding:5px 0; height:18px; line-height:18px; overflow:hidden; word-break:break-all}
.featured_categories ul h3 a{font-size:13px;}
.featured_categories ul li{padding-left:10px;background:url(../cssimage/common/footer_ico.gif) 3px 6px no-repeat;background-repeat:no-repeat;height:19px; line-height:19px; overflow:hidden; word-break:break-all}

/*list*/
.lists{border:#ddd solid 1px;border-top:none;height:auto;margin:0 0px 10px 0;overflow:hidden;}
.lists.cancel_border{border:none;}
.lists_box{padding:10px 0 25px 0;border-bottom:1px solid #ccc;overflow:hidden;height:100%;margin:5px 20px 15px 20px;}
.lists_box .proRankNum{ width:60px; height:120px; line-height:120px; font-family:Georgia; color:#FF5A00;}
.lists_box_left{float:left;width:160px;background:#fff;position:relative;}
.lists_box_left a:link,.lists_box_left a:visited{vertical-align:middle;border:1px solid #ccc;display:block;padding:0;}
.lists_box_left a:hover{border:1px solid #FF5A00;}
.lists_box_left img{width:155px;height:120px;border:0;position:relative;z-index:1;}
.lists_box_left .pro_free{background:url(../cssimage/list/freeshipping.png) 0 0 no-repeat;width:53px;height:53px;position:absolute;left:4px;top:4px;z-index:2;}
.lists_box_left a:hover img{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);}
.lists_box_middle{margin-left:170px;margin-right:200px;line-height:18px;}
.lists_box_middle.topsellerin{margin-left:235px;}
.lists_box_middle h1{font-size:14px;color:#0099ea; padding-bottom:5px;}
.lists_box_middle h2{font-size:11px;color:#666;padding-top:3px;}
.lists_box_middle h1 a:link{font-size:14px;color:#014590}
.h1_en{padding-bottom:5px;font-size:12px; color:#999}
.be_link a:link,.be_link a:link,.be_link a:visited{color:#014590;font-size:11px;}
.in_link {color:#014590}
.in_link a:link,.in_link a:link,.in_link a:visited{color:#014590;margin-top:3px;display:inline-block;}
.lists_box_right{float:right;width:210px;padding:0;line-height:20px;font-size:12px;text-align:right;}
.lists_box_right span.pb10{ padding-bottom:10px;}
.lists_box_right.add_padding{padding:10px 0;}
.lists_box_right h1{font-size:18px;color:#ff5a00;}
.lists_box_right h1 span{font-size:12px;color:#999; text-decoration:line-through; margin-right:5px;}
.lists_box_right img{margin:5px 0;}
.freeShip{background:url(../cssimage/detail/list_ico.gif) 108px -286px no-repeat;color:#6BAB01;padding:2px 0 2px 17px;line-height:16px;}
.unaddcart,.addcart{width:133px;height:29px;border:none;margin-top:10px;cursor:pointer;display:inline-block;*display:inline;zoom:1;line-height:80px;overflow:hidden;text-align:left;}
.addcart{background:url(../cssimage/detail/detail.png) 0 -253px no-repeat;}
.unaddcart{background:url(../cssimage/list/unbtn_AddtoCart.png) 0 0 no-repeat;}
/*menu*/
.grid_main_wrap .menu{width:970px;height:30px;background:url(../cssimage/common/menu_bg.png) repeat-x;}
.grid_main_wrap .menu li{float:left;padding:0 12px 0 12px;height:30px;line-height:30px;}
.grid_main_wrap .menu li a{color:#FFF; display:block; height:30px;}
.grid_main_wrap .menu li a:hover,.grid_main_wrap .menu li a.active{text-decoration:none; background:url(../cssimage/common/ico.png) center -578px no-repeat;}
.menu li.newarrivals{background:url(../cssimage/common/ico.png) 5px -152px no-repeat;padding-left:35px; width:80px;}
.menu li.topsellers{/*background:url(../cssimage/common/ico.png) 5px -178px no-repeat;*/ width:70}
.menu li.deals{background:url(../cssimage/common/ico.png) 5px -202px no-repeat; padding-left:35px;}
.menu li.store{/*background:url(../cssimage/common/ico.png) 5px -228px no-repeat;*/}
.menu li.dropshipping{/*background:url(../cssimage/common/ico.png) 5px -253px no-repeat;*/}
.menu li.reviews{/*background:url(../cssimage/common/ico.png) 5px -279px no-repeat;*/}
.menu li.videos{/*background:url(../cssimage/common/ico.png) 5px -306px no-repeat;*/}
.menu li.forums{background:url(../cssimage/common/ico.png) 5px -333px no-repeat; padding-left:35px;}
.menu li.christmas{background:url(../cssimage/abs/chirmas_menu.png) no-repeat; width:122px; float:right; margin:0px; padding:0px;}
.menu li.mline{ width:2px; height:30px; padding:0px; margin:0px; background:url(../cssimage/common/mline_bg.jpg) no-repeat}


#dealMenuPanle{width:380px; height:160px; position:absolute; padding:20px 0 0 20px; 
	left:213px;		/**/
	left:216px\9;	/*all ie*/
	left:219px\0;	/*ie8*/
	+left:219px;	/*ie7*/	
	_left:219px;	/*ie6*/ 
	display:none; top:30px; border:#134e91 solid 2px; border-top:none; background:#fff; z-index:50;}

:root #dealMenuPanle { left:219px\9; }  /*ie9*/
@media all and (min-width:0px){ #dealMenuPanle {left:219px\0;} }  /*opera*/
@media screen and (-webkit-min-device-pixel-ratio:0){#dealMenuPanle{left:220px;}}/*chrome and safari*/


#dealMenuPanle a{width:170px; height:59px; display:inline-block; background:url(../cssimage/common/deals_ico.png) no-repeat; margin:0 15px 20px 0;}
#dealMenuPanle a.ldeallinks{background-position:0px 0px;}
#dealMenuPanle a.dailydeallinks{ background-position:-177px 0px;}
#dealMenuPanle a.storelinks{ background-position:0px -64px;}
#dealMenuPanle a.clearancelinks{ background-position:-176px -63px;}


/*bot_con*/
.bot_abs{width:1200px;}
.bot_con{width:1198px;border:#ddd solid 1px;height:auto;overflow:hidden; padding-top:1px;}
.recenthistory{width:447px;border-right:#ddd solid 1px;}
.recenthistory_h,.continueshopping_h{line-height:26px;text-align:left;text-indent:8px;color:#11447e;font-weight:bold;height:26px;background:url(../cssimage/index/hotitem_h_bg.jpg) 0 0 repeat-x;}
.recenthistory_h{width:447px;}
.continueshopping_h .explain{color:#666;font-weight:normal}
.recenthistory_h h1 em{color:#666;padding-left:5px;font-weight:normal}
.recenthistory_h a{color:#ff5a00;font-weight:normal;text-decoration:underline;margin-right:5px;}
.ul_recently{width:427px;padding:7px 10px 0 10px;height:170px;overflow:hidden}
.ul_recently li{margin:0 auto 5px auto;overflow:hidden;height:auto;width:417px;}
.rview_spic{width:45px;height:35px;display:block;float:left;border:#cccccc solid 1px;overflow:hidden;}
.rview_name,.rview_price{float:left;width:352px;padding:2px 0 1px 10px;height:15px;overflow:hidden;line-height:15px;}
.rview_price{height:13px;line-height:13px;}
.rview_price{height:13px;}
.rview_price em{color:#A50000;font-size:12px;font-weight:bold;}
.r_searches{border-top:#eaeaea solid 1px;width:437px;height:28px;line-height:28px;padding-left:10px; overflow:hidden;}
.r_searches a{color:#ff7022;text-decoration:underline;margin-right:5px;}
.continueshopping_h{width:750px;}
.continueshopping{width:750px;}
.continueshopping_m{width:740px;height:207px;*height:206px;_height:206px;overflow:hidden; padding-left:10px;}
.continueshopping_m .continue_pages{width:20px; height:30px;float:left; margin-top:60px;}
.continueshopping_m .continue_pages.mr10{margin-right:6px;}
.continue_pages .continue_prev,.continue_pages .continue_next{width:20px; height:30px; cursor:pointer}
.continue_pages .continue_prev{background:url(../cssimage/detail/propic_prev.jpg) no-repeat;}
.continue_pages .continue_next{background:url(../cssimage/detail/propic_next.jpg) no-repeat;}
.continue_warp{width:730px; height:206px; overflow:hidden; float:left; position:relative; margin-right:5px;}
.continue_warp .items.continue{position:absolute; width:9980px; height:206px; left:0px; top:0px;}
.recent_nodata{height:178px; line-height:50px; width:447px}
.search_nodata{height:28px;width:447px}
/*Exclusively at FocalPrice and Albums*/
.lbox{width:218px; height:auto; border:#ddd solid 1px;}
.lbox .lbox_header{ width:216px; padding:1px 1px 0px 1px; height:24px; line-height:23px; color:#c20400; text-indent:8px; border-bottom:#ddd solid 1px; background:url(../cssimage/index/box_headbg.png) 0 1px repeat-x;}
.lbox .lbox_header span{ display:block; width:100px; height:24px; color:#003b7f; font-weight:bold;float:left}	
.lbox .lbox_header a.seemore{ float:right; width:100px; height:24px; float:right;font-size:10px; text-align:right; padding-right:5px; color:#003b7f}
.lbox .lbox_main{width:218px;}
.lbox .lbox_main .lbox_main_item,.lbox_main .Albums_scroll .Albums_item{height:46px; border-bottom:#ddd solid 1px; padding:8px; position:relative}
.lbox .Albums_next{ width:218px; height:13px; background:#dedede url(../cssimage/index/album_ico.gif) center 4px no-repeat; cursor:pointer;}
.lbox .lbox_main .Albums_item{ height:42px;}
.lbox .lbox_main .Albums_item.odd,.lbox .lbox_main .lbox_main_item.odd{ background:#f5f5f5}
    .lbox_main .lbox_main_item .exclus_ico{width:76px; height:44px; background:url(../cssimage/common/deals_index.jpg) 0 0 no-repeat; display:block; float:left; margin-right:5px;}
	.lbox_main .lbox_main_item .exclus_ico a{ display:block; width:76px; height:44px;}
	.lbox_main .lbox_main_item .exclus_ico.deals_img{background-position:0 -64px;}
	.lbox_main .lbox_main_item .exclus_ico.store_img{background-position:0 -125px;}
	.lbox_main .lbox_main_item .exclus_ico.brands_img{background-position:0 -186px;}
	.lbox_main .lbox_main_item .exclus_ico.Clearance_img{background-position:0 -243px;}
	.lbox_main_item .lbox_main_item_r{ width:120px; float:right; height:46px;overflow:hidden;}
	.lbox_main_item .lbox_main_item_r h4 a{ color:#003b7f;}
	
	.lbox_main_item .lbox_main_item_r p{ font-size:11px; line-height:15px;}
	
	.lbox_main.AlbumsMain{ position:relative; height:116px; overflow:hidden}
	.lbox_main .Albums_scroll{position:absolute; top:0px; left:0px; width:218px}
	.Albums_scroll .Albums_item .album_ico{ width:68px; height:39px; float:left; margin-top:2px;}
	.Albums_item .Albums_item_zt{ width:125px; float:right; height:46px;}
	.Albums_item .Albums_item_zt h3{font-size:11px; height:25px; display:block; overflow:hidden; line-height:12px; margin-bottom:5px;}
	.Albums_item .Albums_item_zt h3 a{ color:#003b7f;}
	.Albums_item .Albums_item_zt p{ font-size:10px; color:#666}
	.exclus_tips{position:absolute;visibility:hidden;z-index:13000;color:#fff;width:200px; background:#fff; border:#ddd solid 1px; border-radius:2px;}
	.exclus_text{padding:8px;font-size:12px;color:#FF5A00;}

/*delivered*/
.newsletter{width:220px;height:55px;}
.newsletter h3{font-size:16px;padding:0 10px 0 45px;color:#000;height:32px;line-height:10px;text-align:left;margin-left:2px;background:url(../cssimage/index/index.png) 0 0 scroll no-repeat;}
.newsletter h3 em{font-size:9px;line-height:20px;font-family:Arial;}
.lettertxt{width:142px;height:24px;padding:2px 0 0 5px;background:url(../cssimage/index/index.png) 0 -34px no-repeat;border:0;float:left;}
.letterbtn{width:63px;height:26px;background:url(../cssimage/index/index.png) -148px -34px no-repeat;border:0;float:left;cursor:pointer;}
/*See what they say?*/
.see_say{width:220px;height:auto;overflow:hidden;}
.see_say h5{height:27px;line-height:27px;border-bottom:#1b61af solid 2px;padding-left:7px;font-size:20px;}
.see_say_m{width:220px;height:auto;overflow:hidden;}
.see_say_author{height:20px;width:220px;line-height:20px;}
/*Recently Reviewed Items*/
.revieweditems{width:220px;height:auto;}
.revieweditems_h{width:210px;height:25px;line-height:25px;background:url(../cssimage/index/revieweditems_h_bg.jpg) repeat-x;border-top:#bed4ec solid 1px;padding-left:10px;}
.revieweditems_h h1,.revieweditems_h h5{color:#1b61af; font-size:12px;}
.revieweditems_h a{text-decoration:underline;color:#ff5a00}
.revieweditems_box{width:218px; height:280px;position:relative;border:#c8dbf0 solid 1px;border-top:0; overflow:hidden}
.revieweditems_box ul.revieweditems_m{width:218px;height:auto;overflow:hidden; position:absolute; left:0; top:0;}
ul.revieweditems_m.boder{border:#c8dbf0 solid 1px;border-top:0;}
ul.revieweditems_m li{height:45px;width:210px;padding:5px 4px;border-bottom:#eaeaea solid 1px;}
ul.revieweditems_m li.odd{background:#f9f9f9}
ul.revieweditems_m li.last{border-bottom:none}
ul.revieweditems_m li.h60{height:60px;overflow:hidden}
ul.revieweditems_m li .revieweditems_pic{width:45px;height:35px;margin-top:5px;display:block;border:#cccccc solid 1px;overflow:hidden;}
ul.revieweditems_m li .revieweditems_pro_name,ul.revieweditems_m li .revieweditems_title,ul.revieweditems_m li .revieweditems_author{width:152px;padding:2px 0 1px 10px;height:12px;overflow:hidden;line-height:12px;}
.revieweditems_author{color:#83aad4}
.revieweditems_pro_name a{color:#000}
ul.revieweditems_m li .discussions{height:30px;line-height:15px;width:210px;overflow:hidden}
ul.revieweditems_m li .discussions_pro,ul.revieweditems_m li .discussions_num{width:210px;height:15px;line-height:15px;}
ul.revieweditems_m li em{color:#b30000}
ul.revieweditems_m li .discussions_num em{color:#1b61af}
.revieweditems .release_dates .reviewer_info .cblue { border:none;}
/*footer*/
#footer{clear:both;border-top:#1c6cbe solid 2px;padding-top:10px;width:1200px;margin:10px auto 30px auto;}
#siteinfo h3{padding:0 0 5px 0;}
#siteinfo{width:1200px;margin:0 auto;overflow:hidden;zoom:1;}
#siteinfo ul{height:auto;float:left;padding:0 10px 10px 0;margin:0 20px 10px 0;width:210px;}
#siteinfo ul li{padding-left:12px;background:url(../cssimage/common/footer_ico.gif) 5px 8px no-repeat;background-repeat:no-repeat;line-height:150%;}
#siteinfo ul.joinlinks{width:180px;}
#siteinfo ul.joinlinks li{width:30px;height:30px;margin:10px 15px 0 6px;float:left;display:inline;padding:0px;}
#siteinfo ul.joinlinks li a{width:30px;height:30px;display:block}
#siteinfo ul.joinlinks li.f,#siteinfo ul.joinlinks li.b,#siteinfo ul.joinlinks li.t1,#siteinfo ul.joinlinks li.t2,#siteinfo ul.joinlinks li.y{background:url(../cssimage/common/join_ico.gif) 0 0 no-repeat;}
#siteinfo ul.joinlinks li.b{background-position:0 -30px;}
#siteinfo ul.joinlinks li.t1{background-position:0 -60px;}
#siteinfo ul.joinlinks li.t2{background-position:0 -120px;}
#siteinfo ul.joinlinks li.y{background-position:0 -90px;}
#siteinfo ul li a{cursor:default}
#siteinfo ul li a:link{cursor:pointer; font-size:11px;}
#siteinfo ul li a.cblue{color:#0099ea; border:none;}
.copyright{clear:both;line-height:40px;border-top:1px solid #e0e3e4;text-align:center;padding-bottom:10px;}
/*breadcrumbs*/
#breadcrumbs{border-bottom:1px solid #ddd;height:32px;width:1200px;margin:0 auto;overflow:hidden;}
.location{height:32px;line-height:32px;}
.location h3{background:url(../cssimage/common/ico.png) 0 4px no-repeat;padding:2px 0 0 20px;color:#666; height:32px;}
.location h3 a{color:#014590;padding:0 4px 0 6px;text-decoration:none;font-weight:normal;}
.location h3 .cur{color:#666;padding-left:3px;font-weight:normal;}
/*pages*/
.pages{color:#000; margin-top:15px;}
.pages a{background:#DDDDDD; color:#000;display:block;float:left;font-size:11px;margin-right:1px; height:22px; line-height:22px;padding:0 8px;}
.pages span.ellipsis{background:#FFF}
.pages a:hover{background:#0041a0;color:white; text-decoration:none}
.pages span{background:#EEEEEE;color:#666;display:block;float:left;font-size:11px;margin-right:1px;height:22px; line-height:22px;padding:0 8px;}
.pages a.current{background:#0041a0;color:#FFFFFF;}
.pages a.prevall{background:#eee url(../cssimage/detail/detail.gif) -380px -205px no-repeat; width:22px; height:22px;padding:0;}
.pages a.prev{background:#eee url(../cssimage/detail/detail.gif) -380px -134px no-repeat; width:22px; height:22px;padding:0;}
.pages a.next{background:#eee url(../cssimage/detail/detail.gif) -380px -158px no-repeat; width:22px; height:22px;padding:0;}
.pages a.nextall{background:#eee url(../cssimage/detail/detail.gif) -380px -181px no-repeat; width:22px; height:22px;padding:0;}
.pages a.prev{background:#ddd url(../cssimage/detail/detail.gif) -380px -134px no-repeat; width:22px; height:22px;padding:0;}
.pages a.next{background:#ddd url(../cssimage/detail/detail.gif) -380px -158px no-repeat; width:22px; height:22px;padding:0;}
.pages a:hover.prev{background:#0041a0 url(../cssimage/detail/detail.gif) -380px -134px no-repeat;}
.pages a:hover.next{background:#0041a0 url(../cssimage/detail/detail.gif) -380px -158px no-repeat;}
.pages a:hover.prevall{background:#0041a0 url(../cssimage/detail/detail.gif) -380px -205px no-repeat;}
.pages a:hover.nextall{background:#0041a0 url(../cssimage/detail/detail.gif) -380px -181px no-repeat; }

.star{background:url(../cssimage/list/star.png) 0 0 repeat-x;width:60px;height:12px;display:inline-block;overflow:hidden;margin:0;}
.star span{background:url(../cssimage/list/star.png) 0 -12px repeat-x;display:block;text-indent:-9999px;overflow:hidden;width:60px; line-height:12px;}

/* sidenav */
#sidenav{width:220px; text-align:left; z-index:50;}
#sidenav .sidenav_h{height:30px; background:#334154;padding-left:10px;}
#sidenav .sidenav_h a{height:30px; background:url(../cssimage/common/menu_ico.gif) 190px 10px no-repeat;line-height:26px; font-size:12px; color:#fff; display:block; font-weight:bold;}
#sidenav .sidenav_h a:hover{ color:#eee; text-decoration:none}
#sidenav .sidebar_menu{font-size:12px;width:218px;position:relative;}

#sidenav .sidebar_menu .subitem{background:#FFF; border:#FF5A00 solid 1px; border-bottom:#FF5A00 solid 2px; border-right:#FF5A00 solid 2px; position:absolute; left:220px; top:0; z-index:51;}


#sidenav .sidebar_menu .litem{width:219px; height:24px; overflow:hidden; float:left;background:#f2f2f2 url(../cssimage/common/menu_arrow_bg.gif) no-repeat -1px -121px; border-bottom:1px solid #ddd; border-top:#f2f2f2 solid 1px; border-left:#f2f2f2 solid 1px; border-right:none;}

#sidenav .sidebar_menu .litem span{ display:block;width:220px;height:24px;line-height:23px; position:relative;}
#sidenav .sidebar_menu .litem.hoverClass{ border:#FF5A00 solid 1px;border-right:none;}
#sidenav .sidebar_menu .litem.hoverClass span{background:#FFF url(../cssimage/common/menu_arrow_bg.gif) no-repeat -1px -121px;position:relative; z-index:50;}
#sidenav .sidebar_menu .litem span a{display:block;width:220px; font-weight:bold; font-size:12px;text-decoration:none;color:#333; padding:0;text-indent:10px;}
#sidenav .sidebar_menu .litem.hoverClass span a{ color:#666}
#sidenav .sidebar_menu .litem .subitem{width:814px; display:none; height:auto;padding:15px 0px 17px 0px; border-bottom:#FF5A00 solid 2px; border-right:#FF5A00 solid 2px; position:absolute; left:219px; z-index:49;-webkit-box-shadow:8px 5px 5px 0px rgba(0, 0, 40, .4);
	-moz-box-shadow:8px 5px 5px 0px rgba(0, 0, 40, .4);
	box-shadow:8px 5px 5px 0px rgba(0, 0, 40, .4);}
#sidenav .sidebar_menu .litem .subitem.w634{ width:690px;}
#sidenav .sidebar_menu .litem .subitem.w604{width:660px;}
#sidenav .sidebar_menu .litem .subitem.w594{width:650px}
#sidenav .sidebar_menu .litem .subitem.w383{width:425px}
#sidenav .sidebar_menu .litem .subitem.w470{width:470px}
#sidenav .sidebar_menu .litem .subitem.w700{width:650px;}


.subitem .subitem_list{width:auto; border-right:#eee solid 1px; margin-left:15px; display:inline;}
.subitem .special{width:160px; height:auto; margin-left:20px; display:inline;} 

.subitem .subitem_list ul{width:190px; height:auto; margin-left:5px; overflow:hidden; padding-right:15px}
.subitem .subitem_list ul.w230{width:230px}
.subitem .subitem_list ul.w200{width:200px}
.subitem .subitem_list ul ul{ width:180px; margin-left:0px; margin-top:4px; margin-left:3px;}
.subitem .subitem_list ul li.addborder{ background:url(../cssimage/common/silder_menu_bg.jpg) center bottom no-repeat; border:none; padding:0;}
.subitem .subitem_list ul li{width:185px; float:left;word-break:break-all;white-space:nowrap;overflow:hidden; }
.subitem .subitem_list ul li.sub_category_self{margin-bottom:10px; padding-bottom:10px;}
.subitem .subitem_list ul .blue{color:#024c9e; background:none;}
.subitem .subitem_list ul .red{color:#c20000;}
.subitem .subitem_list ul .green{color:#449000;}
.subitem .subitem_list ul.w230 li{ width:225px;}
.subitem .subitem_list ul.w200 li{ width:195px;}
.subitem_in .subitem_list ul li.nochildren p.nochildrenlinks{display:block;background:url(../cssimage/common/litem_ico.jpg) 0 7px no-repeat; padding:0 0 0 12px;}
.subitem_in .subitem_list ul li.nochildren p.nochildrenlinks a{padding:0; display:inline; color:#000}


.subitem .subitem_list ul li.cc20{background:url(../cssimage/common/ico.png) -10px -502px no-repeat;}
.subitem .subitem_list ul li a{ color:#000}
.subitem .subitem_list ul li a.cc20{color:#c20000}
.subitem .subitem_list ul li ul li{background:url(../cssimage/common/footer_ico.gif) 0 6px no-repeat; padding-left:6px; float:left; line-height:16px;word-break:break-all;white-space:nowrap;overflow:hidden;}
.subitem .subitem_list ul li ul li.viewall{ background:none; padding-left:0;}
.subitem .subitem_list ul li ul li.viewall a{color:#114ea6; text-decoration:none;}
.subitem .subitem_list ul li ul li.viewall a:hover{text-decoration: underline}

.subitem .subitem_list ul li ul li a{ font-size:11px; color:#666}
.subitem .special .pro_special{margin-bottom:10px; height:auto; overflow:hidden}
.subitem .special .pro_special li{ margin-bottom:5px; float:left;}
.subitem .special .pro_special li.spro_title{ color:#c20000; padding-top:5px;}
.subitem .special .pro_special li.spro_img{width:155px; height:120px; border:#ddd solid 1px; overflow:hidden; position:relative;}
.pro_special li.spro_img .spro_off{ width:50px; height:33px; padding:10px 0 0 15px; text-align:center; position:absolute; right:-1px; top:78px; background:url(../cssimage/list/sale_zk.gif) 0 0 no-repeat;}
.subitem .special .pro_special li.spro_name a{color:#000; font-size:11px;}

.subitem .special ul.special_links li{float:left; height:18px; width:140px; line-height:18px; overflow:hidden; background:url(../cssimage/common/ico.png) -13px -440px no-repeat; padding-left:10px;}
.special .special_links li a{ color:#004e86; font-size:11px;}

.subitem .special .pro_brand li{ margin-bottom:5px; float:left;}
.subitem .special .pro_brand li.brand_title{ color:#c20000;}
.subitem .special .pro_brand li.brand_img{width:150px; height:47px; border:#ddd solid 1px; overflow:hidden;}

.alerts_box{padding:10px 0;overflow:hidden;height:100%;margin:0px; border-bottom:#eee solid 1px;}
.alerts_box_left{float:left; width:190px}
.alerts_box_left input{ float:left}
.alerts_box_left_pic{width:160px;background:#fff;position:relative; float:right; margin-top:3px;}
.alerts_box_left_pic a:link,.alerts_box_left_pic a:visited{vertical-align:middle;border:1px solid #ccc;display:block;padding:0;}
.alerts_box_left_pic a:hover{border:1px solid #c20000;}
.alerts_box_left_pic img{width:155px;height:120px;border:0;position:relative;z-index:1;}
.alerts_box_left_pic .pro_free{background:url(../cssimage/list/freeshipping.png) 0 0 no-repeat;width:53px;height:53px;position:absolute;left:4px;top:4px;z-index:2;}
.alerts_box_left_pic a:hover img{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);}
.alerts_box_middle{margin-left:200px;margin-right:260px;line-height:18px;}
.alerts_box_middle h1{font-size:14px;color:#666; padding-bottom:5px; font-family:Verdana;}
.alerts_box_middle h1 a:link{font-size:14px;color:#666}
.alerts_box_right{float:right;width:270px;padding:0;line-height:20px;font-size:12px;text-align:left;}
.alerts_box_right input{ padding:0; margin-top:-3px;}
.alerts_box_right label{ padding-top:10px;}

.alerts_addcart,.unalerts_addcart{background:url(../cssimage/links/links.png) 0 -238px no-repeat; width:99px; height:23px;}
.unalerts_addcart{background:url(../cssimage/links/links.png) -108px -525px no-repeat;}
.alerts_addwish{background:url(../cssimage/links/links.png) -100px -238px no-repeat; width:120px; height:23px;}
.alerts_remove{background:url(../cssimage/links/links.png) -157px -25px no-repeat; width:72px; height:23px;}
.alerts_submit{background:url(../cssimage/links/links.png) -168px -178px no-repeat; width:83px; height:24px; display:block}
.alerts_submit.disable{background-position:-311px -683px;}
.alerts_txt{ width:38px; height:15px;}
.alerts_bot_l{ width:400px; float:left; margin-top:10px}
.alerts_bot_l input{ float:left; margin-top:10px; width:25px;}
.alerts_bot_r{ width:570px; float:left; text-align:right}
.alerts_bot_r .pages{ float:right}
.alerts_reply{background:url(../cssimage/links/links.png) -168px -178px no-repeat; width:83px; height:24px;}
.alerts_reply.disable{background-position:-311px -683px}
.alerts_addcart2{background:url(../cssimage/links/links.png) 0 -262px no-repeat; width:95px; height:23px;}
.alerts_addwish2{background:url(../cssimage/links/links.png) -96px -262px no-repeat; width:120px; height:23px;}
.alerts_remove2{background:url(../cssimage/links/links.png) -217px -262px no-repeat; width:72px; height:23px;}


.bigstar,.averageStar,.allStar{display:inline-block;overflow:hidden;margin:0;vertical-align:middle;}
.bigstar span,.averageStar span,.allStar span{display:block;text-indent:-9999px;overflow:hidden;}

.bigstar{background:url(../cssimage/bstar.gif) 0 0 repeat-x;width:70px;height:12px; margin-top:4px;}
.bigstar span{background:url(../cssimage/bstar.gif) 0 -12px repeat-x;width:70px;}
.averageStar{background:url(../cssimage/detail/b_star.jpg) 0 -22px repeat-x;width:110px;height:22px;}
.averageStar span{background:url(../cssimage/detail/b_star.jpg) 0 0px repeat-x;width:110px; height:22px;}
.allStar{background:url(../cssimage/detail/m_star.jpg) 0 -16px repeat-x;width:80px;height:16px; margin-top:4px;}
.allStar span{background:url(../cssimage/detail/m_star.jpg) 0px 0px repeat-x;display:block;width:80px; height:16px;}


.Odd{ background:#fff8eb; color:#666; }
.Even{ background:#fff; color:#666; }
.Selected{ background:#fff3f3; color:#999; }
.Over{ background:#f5ffeb; color:#000; }
.goback{position:absolute; width:100px; height:25px; right:10px; line-height:25px; bottom:0px; text-align:right}



/*tips*/
.add_to_cardTips,.error_Tips{width:352px;padding:0 10px 10px 90px; height:auto; overflow:hidden; background:#fff url(../cssimage/detail/detail.png) -328px -262px no-repeat;}
.NormalTips{width:352px;padding:0 10px 10px 10px; line-height:22px; height:auto; overflow:hidden; background:#fff}
.add_to_cardTips{height:210px;} 
.error_Tips{background:#fff url(../cssimage/detail/error_tips.jpg) 20px 0 no-repeat; height:auto}
.clsoeWin_time,.error_btn{position:absolute; right:10px; bottom:10px;}
.add_to_cardTips.h100{height:100px;}
.add_to_cardTips.h110,.error_Tips.h110{ height:110px; width:240px}
.error_Tips.h110{height:110px;}
#sureRemove,#cancelwish{width:76px; height:24px; display:inline-block; cursor:pointer; background:url(../cssimage/links/btn.jpg) 0 0 no-repeat}
#sureRemove{ margin-right:10px;}
#cancelwish{ background-position:-91px 0;}
#suredelete,#canceldelete{width:76px; height:24px; display:inline-block; cursor:pointer; background:url(../cssimage/links/btn.jpg) 0 0 no-repeat}
#suredelete{ margin-right:10px;}
#canceldelete{ background-position:-91px 0;}

.viewCart,.viewCart_dropshipping{height:29px;background:url(../cssimage/detail/detail.png) no-repeat; display:block}
.viewCart{width:171px; background-position: -137px -137px;}
.viewCart_dropshipping{width:91px; background-position:0px -304px;}
.add_to_cardTips p.lh25, .success_Tips p.lh25{line-height:25px;}
.add_to_cardTips p.lh35{line-height:35px;}
.add_to_cardTips p.lh55,.error_Tips p.lh55{line-height:55px;}
.add_to_cardTips p em{ color:#c20000}
.add_to_cardTips p a, .error_Tips p a{ color:#0041a0; text-decoration:underline}
.add_to_cardTips p.pt20,.success_Tips p.pt20,.error_Tips p.pt20{ padding-top:20px}
.add_to_cardTips a.close{ width:20px; height:20px; position:absolute; top:10px; right:10px; display:block; background:url(../cssimage/detail/cls.gif) 0 0 no-repeat}
.add_to_cardTips a:hover.close{ background:url(../cssimage/detail/cls.gif) 0 -20px no-repeat}
.add_to_wishlistTips{height:133px;}
.success_Tips{ width:500px; height:auto; background:#fff url(../cssimage/detail/detail.png) -328px -268px no-repeat; padding:0 10px 10px 90px; }
.lower_price, .ask_question{width:616px; height:auto; overflow:hidden; padding:20px 20px 0 20px;}
.lower_price .lower_price_top{height:auto; overflow:hidden; padding-bottom:10px; border-bottom:#ddd solid 1px;}
.lower_price .lower_price_top h2{ padding-bottom:5px;}
.lower_price .lower_price_top img{width:150px; height:120px; border:#ddd solid 1px; margin-right:15px;}
.lower_price .lower_price_top .free_shipping{ background:url(../cssimage/detail/detail.png) -383px -93px no-repeat; padding-left:20px; color:#56a600}
.lower_price_top span em{ color:#c20000;}
.cc20{ color:#c20000}
.lower_price table, .ask_question table{ width:616px; height:auto; margin:0;}
.ask_question table{ margin-top:15px}
.lower_price table td,.ask_question table td{padding:0 5px 0 0;}
.lower_price_sub,.lower_price_btn{width:76px; height:29px; background:url(../cssimage/detail/detail.png) -138px -167px no-repeat; border:none; margin-right:15px; cursor:pointer;}
.lower_price_btn{background:url(../cssimage/detail/detail.png) -229px -167px no-repeat;}


.credit_card,.paypal_links,.unpaypal_links,.uncredit_card{display:block; background:url(../cssimage/index/payment_ico.jpg) 0 -90px no-repeat; margin-top:10px; float:left;}
.paypal_links,.unpaypal_links{width:144px; height:37px;background-position:-168px -11px;}
.unpaypal_links{background-position:-168px -72px;}
.credit_card,.uncredit_card{ width:144px; height:37px; background-position:-12px -11px; margin-right:5px;}
.uncredit_card{background-position:-12px -72px;}


/* autocomplete */
#autocompletePanel{position: absolute; background-color: #fff;border: 1px solid #ddd;left: 6px; position: absolute; top: 31px; width: 446px; z-index: 30;}
#autocompletePanel li{display: block; text-align: left; height: 20px; line-height: 20px; background-color: #fff; cursor: default; padding: 0 5px; clear: both;}
#autocompletePanel .keyinfo{border-bottom:1px dashed #f1f1f1}
#autocompletePanel .selected{background-color: #eee; color: #333; overflow: hidden;border-bottom:1px solid #e1e1e1}
#autocompletePanel .unselected{ background-color: #fff; color: #666; border-bottom:1px dashed #f1f1f1}
#autocompletePanel .keyname{ display: block; float: left; _clear:both; _line-height:20px}
#autocompletePanel .keyextend{ display: block; float: right; color:#FF5A00; _clear:both; _line-height:20px}
#autocompletePanel .unselected .keyextend{ color:#FF5A00; }
#autocompletePanel .selected .keyextend{ color: #133E79; }
#autocompletePanel .s_close{ background-color:#edf1fa; border-bottom:1px solid #d5e1ed; height:20px; padding:2px 5px;}
#autocompletePanel .s_close h5{width:345px; display:inline; font-weight:bold;}
#autocompletePanel .s_close span{ background:url(../cssimage/detail/list_ico.gif) 2px -225px no-repeat; padding-left:15px; margin-left:249px; text-decoration:underline;cursor: pointer; font-weight:bold;}
#lookingforPro h5{background-color:#edf1fa; border-bottom:1px solid #d5e1ed; height:20px; padding:2px 5px; line-height:20px; font-weight:bold}
#lookingforPro .lookingforPro_list{ width:75px; height:50px; padding:10px 0; margin:5px 0 10px 12px; display:inline-block; text-align:center}
#lookingforPro .lookingforPro_list img{border:#ddd solid 1px;}

/*SetMap*/
.allcate,.allcategories{z-index:1;height: auto;overflow: hidden;}
.allcate_m,.allcategories_m{width:1170px; background-color:#FFF; padding:15px 15px 0 15px; overflow:hidden;zoom:1;}
.allcate_m ul,.allcategories_m ul{ float:left; padding-bottom:15px; width:25%;}
.allcate_m ul h4,.allcategories_m ul h4{ height:18px; line-height:18px; background:url(../cssimage/detail/list_ico.gif) -15px -680px no-repeat; padding-left:15px; font-size:12px;}
.allcate_m ul h4 a,.allcategories_m ul h4 a{ color:#000;}
.allcate_m ul li{ height:18px; line-height:18px; background:url(../cssimage/detail/list_ico.gif) left -98px no-repeat; padding-left:16px; font-size:11px;}
.allcate_m ul li.w1000{ width:1000px;}
.allcate_m ul li a:link,.allcate_m ul li a:visited{ color:#666; font-size:11px;}
.allcate_m ul li a:hover,.supmenu_m ul li a:hover{ color:#000; font-size:11px;}
.ul_left{ margin-top:10px; padding-top:10px; border-top:#ddd solid 1px;}
.ul_left li {float: left;width: 210px;}
.coupon_codepay{ width:149px; height:32px; margin-top:15px; background:url(../cssimage/links/links.png) 0 -588px no-repeat; border:none; cursor:pointer}
.messageTip{background:#FFF9F1;border: 1px solid #FFB552;padding:5px 10px; color:#FF5A00; margin:10px 0;}

.allcategories_m ul h4{background:url(../cssimage/detail/circle_ico.gif) left 5px no-repeat; float:left; width:200px;}
.allcategories_m ul li{line-height:18px; float:left; background:url(../cssimage/common/footer_ico.gif) 5px 5px no-repeat; padding-left:16px; font-size:11px; width:180px;}
.allcategories_m ul li ul{float:left; width:200px;}
.allcategories_m ul li ul li{ float:left; width:180px;}
.allcategories_m ul li ul li ul{ width:180px; padding-left:20px; float:left}
.allcategories_m ul li ul li ul li{ float:left; width:180px; height:18px;}
.sitemap_tags{ border-top:#ddd solid 1px; line-height:30px; padding-top:10px;}
#allcate{ padding:0 20px;}
#allcate .product_tags ul li{line-height:18px; float:left; background:url(../cssimage/common/footer_ico.gif) 5px 5px no-repeat; padding-left:16px; font-size:11px; width:360px;}

.adsDiv{width:210px; overflow:hidden}
.adsDiv_l{width:315px;}
.adsDiv_r{width:425px;}
/** 翻屏 **/
.roll_top,.fall{position:relative;cursor:pointer;height:11px;width:18px;z-index:10000;}
.roll_top{background:url(../cssimage/gotop.gif) no-repeat;}
.roll_top.hoverClass{background:url(../cssimage/gotop.gif) no-repeat 0 -22px;}
.fall{background:url(../cssimage/gotop.gif) no-repeat 0 -10px;}
.fall.hoverClass{background:url(../cssimage/gotop.gif) no-repeat 0 -32px;}

#roll{display:none;width:18px;position:fixed;top:300px;_position:absolute;_margin-top:300px;_top:expression(eval(document.documentElement.scrollTop));}

