﻿@{
    ViewBag.Title = "Index";
}

<link href="../../Content/help.css" rel="stylesheet" type="text/css" />
<div class="help_body">
    @Html.Partial("_HelpMenu")
    <div class="HelpNav helpinfo">
        <div class="helpinfosingle" id="119">
            <div><b>Last updated</b><br />
                The Privacy Policy contained herein became officially effective on&nbsp; Jan&nbsp;26th, 2010.  <br /><br />
                <p><b>Security</b><br />
                    petsmartpm.com takes precautions to protect your Personal information. When you submit sensitive information via the website, your information is protected both online and offline.<br />
                    The policy of allowing access to this Personal Information is only to our staffs with a need to know. We also use available technology and encryption, when legally required or when appropriate for your protection, to provide a more secure environment and to reduce the chance of unauthorized access. Personal Information is stored in a secure environment protected by a combination of physical and technical measures. Tape backups are not permitted to leave the premises without prior authorization.<br />
                    petsmartpm.com is the sole owner of information collected on this site. We will not sell, share, or rent this information to any outside parties.   </p><br /><br />
                <p><b>This information may be collected</b><br />
                    Register email,Password (No any other body can get your password include our staffs, it is encrypted!)<br />
                    Nickname, IP address, the date and time, browser and operating system, the URL you request, your PayPal email, your PayPal shipping address;Other information if you want to share with us, like Phone number etc.   </p>
                <p>When you browse our website, we may collect this information:<br />
                    IP address, browser and operating system, the URL you request.   </p>
                <p>When you register in our website, we may collect this information:<br />
                    Register email, Password, Nickname, IP address, the date and time, browser and operating system, the URL you request.   </p>
                <p>When you order in our website, we may collect this information:<br />
                    Register email, Password, Nickname, IP address, the date and time, browser and operating system, the URL you request, your PayPal email, your PayPal shipping address   </p>
                <p>When we have more cooperation (like drop shipping), we may collect more information:<br />
                    &nbsp;like Phone number, your website, MSN, your reviews and testimonials etc   </p><br /><br />
                <p><b>Information use:</b><br />
                    We need the information to process your orders and offer better services to you; we want to make it easier to tailor our products and services to your particular needs. We also want you to have the most enjoyable Internet and shopping experiences possible. This Personal Information also may be used to contact you about sales, special offers and new site features, unless you have elected not to receive promotional communications in connection with this website. However, if you do not like receive promotion emails from us, we will respect you wish.   </p><br /><br />
                <p><b>Links</b><br />
                    Our website contains links to other sites (like tracking web). Please be aware that petsmartpm.com is not responsible for the privacy practices of such other sites. We encourage users to be aware when they leave our site and to read the privacy statements of each and every website that collects personally identifiable information. This privacy statement applies only to information collected by this website.   </p><br /><br />
                <p><b>Notification of Changes</b><br />
                    If we decide to change our Privacy Policy, we will post those changes to this privacy statement, the homepage, or other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. Customers are responsible for periodically checking the Privacy Policy available on the Website for changes. If we make material changes to this policy, we will notify you here or by means of a notice on our homepage.   </p>
                <p></p>
            </div>
        </div>
    </div>
</div>
