﻿@model FlcalPriceRD.ShoppingCartViewModel
@{
    ViewBag.Title = "ShoppingCart";
}
<script type="text/javascript">
    $(function () {
        $("#checkoutpaypal").click(function () {
            var countrycode = $.trim($("#countrycoll").val());
            if (countrycode == "-1") {
                alert('Please Select Country and Calculate Shipping fee.');
                return false;
            }
            //var grandtotal = $("#lblgrandtotal").text();
            //var shippingfee = $("#lblshippingfee").text();
            //$.get("/Shopping/ProcessPaypal", { "grandtotal": grandtotal, "shippingfee": shippingfee, "selectcountry": countrycode });
        });

        $("#countrycoll").change(function () {
            var countrycode = $.trim($("#countrycoll").val());
            $.post("/Shopping/CalculateShipping", { "countrycode": countrycode },
                 function (data) {
                     if (data.ShippingFee == "-1") {
                         $("#lblshippingfee").text('');
                         $("#lblgrandtotal").text('');
                     }
                     else {
                         $("#lblshippingfee").text(data.ShippingFee.toFixed(2));
                         $("#lblgrandtotal").text(data.GrandTotal.toFixed(2));
                     }
                 });
        });

        $("div.quantity input[type='text']").change(function () {
            var qty = $(this).val();
            var productid = $(this).attr("id");
            var cartid = $(this).attr("cartid");
            var $vtr = $(this).closest('tr');
            var $td = $(this).closest('td').next();
            var countrycode = $.trim($("#countrycoll").val());
            $.post("/Shopping/CartQtyChange", { "productid": productid, "cartid": cartid, "qty": qty, "countrycode": countrycode },
                function (data) {
                    if (qty == 0) {
                        $vtr.fadeOut('slow');
                    }
                    if (data.ShippingFee == "-1") {
                        $("#lblshippingfee").text('');
                        $("#lblgrandtotal").text('');
                    }
                    else {
                        $("#lblshippingfee").text(data.ShippingFee.toFixed(2));
                        $("#lblgrandtotal").text(data.GrandTotal.toFixed(2));
                    }

                    $("span.c00", $td).text("$" + data.SubCartTotal.toFixed(2));
                    $('#cart-total').text("$" + data.CartTotal.toFixed(2));
                    //$('#GrandTotal').text("$" + data.CartTotal.toFixed(2));
                    $('#subtotal').text("$" + data.CartTotal.toFixed(2));
                    $('#cartstatus').text(data.CartCount);
                    $('#cart-status').text('Cart ' + data.CartCount + ' item(s) checkout');
                });
        });
        $("div.quantity input[type='text']").numeric();
        $(".removecart").click(function () {
            var productid = $(this).attr("productid");
            var cartid = $(this).attr("cartid");
            var $vtr = $(this).closest('tr');
            var countrycode = $("#countrycoll").val();
            $.post("/Shopping/RemoveFromCart", { "productid": productid, "cartid": cartid, "countrycode": countrycode },
                function (data) {
                    $vtr.fadeOut('slow');
                    if (data.ShippingFee == "-1") {
                        $("#lblshippingfee").text('');
                        $("#lblgrandtotal").text('');
                    }
                    else {
                        $("#lblshippingfee").text(data.ShippingFee.toFixed(2));
                        $("#lblgrandtotal").text(data.GrandTotal.toFixed(2));
                    }
                    $('#cart-total').text(data.CartTotal);
                    //$('#GrandTotal').text(data.CartTotal);
                    $('#subtotal').text(data.CartTotal);

                    $('#cartstatus').text(data.CartCount);
                    $('#cart-status').text('Cart ' + data.CartCount + ' item(s) checkout');
                });
        });
    });
</script>
<link href="../../Content/shop.css" rel="stylesheet" type="text/css" />
<div class="grid_main mauto">
    <h1 class="shopptitle f18 c00 fb" style="font-style: italic;">Shopping Cart <span class="c66">(<em class="cf50" id="cart-status"><label id="cartstatus"> @Model.ItemTotal</label></em>
        Total)</span></h1>
    <table class="shop_table" id="shop_table" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th align="center" class="shopping_sku">
                    <b>SKU</b>
                </th>
                <th align="center" class="shopping_Image">
                    <b>Image</b>
                </th>
                <th align="center">
                    <b>Name</b>
                </th>
                <th align="center" class="shopping_UnitPrice">
                    <b>Unit Price</b>
                </th>
                <th align="center" class="shopping_Quantity">
                    <b>Quantity</b>
                </th>
                <th align="center" class="shopping_TotalPrice">
                    <b>Total Price</b>
                </th>
                <th align="center" class="shopping_Operation">
                    <b>Operation</b>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (FlcalPriceRD.ShoppingCart item in Model.CartItems)
            {
                <tr>
                    <td align="center">
                        <a columnname="sku" class="f11" href="/product/@item.Product.ID/@item.Product.Name.Replace("+", "-").Replace("/", "-").Replace(" & ", "-").Replace(" ", "-").Replace(@"""", "").Replace(@":", "-")">
                            @item.Product.Sku
                        </a>
                    </td>
                    <td align="center" class="item_photo" width="110px" valign="middle">
                        <a columnname="image" href="/product/@item.Product.ID/@item.Product.Name.Replace("+", "-").Replace("/", "-").Replace(" & ", "-").Replace(" ", "-").Replace(@"""", "").Replace(@":", "-")">
                            <div class="photo">
                                <img src="../../FeaturePic/@item.Product.ProductImages.First(p => p.IsFeature == true).Name" style="width:40px" />
                            </div>
                        </a>
                    </td>
                    <td align="left" class="item_name">
                        <a columnname="productName" href="/product/@item.Product.ID/@item.Product.Name.Replace("+", "-").Replace("/", "-").Replace(" & ", "-").Replace(" ", "-").Replace(@"""", "").Replace(@":", "-")"
                        title="@item.Product.Name">@item.Product.Name</a>
                    </td>
                    <td align="center" class="unit_price" columnname="unitprice">
                        <span class="cf50 f11">@item.Product.Price.ToString("C")</span>
                    </td>
                    <td align="center" class="quantity" columnname="quantity">
                        <div class="quantity">
                            @Html.TextBox("qty", item.Quantity, new { @cartid = item.CartID, @class = "fleft num_txt f11", @style = "width:70px; text-align:center;  margin-left:25px", @id = item.ProductID, @maxlength = "3" })
                        </div>
                    </td>
                    <td align="center" class="price">
                        <span class="c00" columnname="subtotal">@item.GetSubTotal().ToString("C")</span>
                    </td>
                    <td align="center" class="subtotal" width="135px" columnname="operation">
                        <img src="../../cssimage/shoppingcartdelete.PNG" style="cursor:pointer" class="removecart" productid="@item.ProductID" cartid="@item.CartID" />
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <span class="c00 alignR db fright">Subtotal:</span>
                </td>
                <td align="center" class="price" style="border-right: 0px">
                    <span id="cart-total" class="c00 fb">@Model.CartTotal.ToString("C")</span>
                </td>
                <td align="center" class="subtotal" style="border-left: 0px"></td>
            </tr>
            <tr>
                <td colspan="5">Calculate Shipping
         @Html.DropDownList("countrycoll")
                    <label style="float: right; color: #000">
                        Shipping Fees:
                    </label>
                </td>
                <td align="center" class="price" style="border-right: 0px; font-weight: bold; color: #000">
                    <label id="lblshippingfee" name="lblshippingfee">@ViewBag.shippingfee</label>
                </td>
                <td align="center" class="subtotal" style="border-left: 0px"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <label style="font-weight: bold; color: #000; float: right">Grand Total:</label></td>
                <td align="center" style="border-right: 0px; font-weight: bold; color: #ff5a00">
                    <label id="lblgrandtotal" name="lblgrandtotal">@ViewBag.ground</label>
                </td>
                <td style="border-left: 0px"></td>
            </tr>
        </tbody>
    </table>
    <h6>
        <a class="db fleft lh30 cblueulin grandlinks" href="/Home/Index">Continue shopping</a></h6>
    <div class="paymentMethod_div">
        <div class="paymentMethod_div_l fleft">
            <h5 class="c00 f12 fb shop_with">Shop With Confidence:</h5>
            <ul class="payment_explain f11 fleft">
                <li><span>1.</span> We are now accepting Paypal. Shopping at petsmartpm.com
                    is secured and your privacy is highly respected.</li>
                <li><span>2.</span> We will ship your order to the address in your Paypal account for
                    Paypal payment. If you would like to ship your order to another address than the
                    one in Paypal account, please make sure to edit your address in your Paypal account
                    accordingly.</li>
                <div class="clear">
                </div>
            </ul>
            <ul class="certified_body fright">
                <li>
                    <table width="135" border="0" cellpadding="2" cellspacing="0" title="">
                        <tr>
                            <td width="135" align="center" valign="top"></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div class="paymentMethod_div_r fright">
            <div class="clear">
            </div>
            <a id="checkoutpaypal" href="/Paypal/Index">
                <img src="../../cssimage/paypalpay.PNG" alt="paypalpayment" /></a>
            <br />
        </div>
        <div class="clear">
        </div>
    </div>
</div>

